//---------------------------------------------------------------------------------------
// Overrides Bootstrap classes are change here, consider changing a variable before
// overriding classes.
//---------------------------------------------------------------------------------------
// Reference: http://www2.gov.bc.ca/gov/content/governments/services-for-government/policies-procedures/web-content-development-guides/developers-guide/css-elements
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Only paragraph links should be underlined
p a {
   text-decoration: underline;
 }

// Header, adds the gold bottom border and shadow
header nav {
  background-color: map-get($theme-colors, primary);;
  border-bottom: 2px solid map-get($theme-colors, secondary);

  -webkit-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 3px 1px rgba(51, 51, 51, 0.5);
  margin-bottom: 20px;
}

header {
  //Bootstrap 3 to 4: Change access of brand colours
  background-color: $color-primary;
  border-bottom: 2px solid #fcba19;
  padding-top: 10px;
  padding-bottom: 20px;

  //Bootstrap 3 to 4: Using breakpoint mixin.
  @include media-breakpoint-down(sm) {
    padding-top: 2px;
    padding-bottom: 8px;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    top: 7px;
    position: relative;
    white-space: nowrap;

    //Bootstrap 3 to 4: Using breakpoint mixin.
    @include media-breakpoint-down(xs){
      font-size: 14px;
    }
  }
}

header .nav-link {
  color: white !important;
}

.footer {
  width: 100%;
  border-color: $color-secondary;
  border-top: 2px solid $color-secondary;

  & > .navbar {
    min-height: 3.65rem;
    padding: 0 !important;
    flex-flow: column;
  }
}


// Only sibling list items in footer get left border
footer li+li  {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid #4b5e73;
  }
}

// Have to ensure footer nav links are white

footer .nav-link {
  color: white !important;
  padding-left: 1rem !important;
}

footer .navbar {
  margin-bottom: 0;
}

footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline !important;
}
footer li {
  border-left: 1px solid #4b5e73;
  padding: 2px 17px;
  margin-top: 10px;
}
footer .navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
}

// Orange bar above footer
footer nav {
  border-top: 2px solid map-get($theme-colors, secondary);
}

// Only sibling list items in footer get left border
footer li+li  {
  @include media-breakpoint-up(lg) {
    border-left: 1px solid #4b5e73;
  }
}

// Have to ensure footer nav links are white

footer .nav-link {
    color: white !important;
}

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}

html, body {
  position: relative;
  height: 100%;
}

#wrap {
  // Guarnatee a 5rem margin, while also always being full-height.
  min-height: calc(100% - 5rem);
  margin-bottom: 5rem;
  height: auto!important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  //line-height: 40px; /* Vertically center the text there */

}

h1, h2, h3,
.h1, .h2, .h3 {
  color: $color-primary;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
