<prime-page-framework>

  <ng-container *ngIf="!usedBCSC">
    <h2 class='prime-title' id="secPrimeAccount">Prime Account</h2>
    <form>
      <div>
        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="secUserID" name="secUserID" [(ngModel)]="registrant.primeUserId" placeholder=" ">
          <span>User ID</span>
        </label>

        <label class="has-float-label">
          <input type="password" class="form-control prime-input-large" id="secPwd" name="secPwd" placeholder=" ">
          <span>New Password</span>
        </label>

        <label class="has-float-label">
          <input type="password" class="form-control prime-input-large" id="secPwdConfirm" name="secPwdConfirm" placeholder=" ">
          <span>Confirm Password</span>
        </label>
      </div>
    </form>
  </ng-container>
  <h2 class='prime-title' id="secStep1">1 - Step Verification</h2>
    <form>
      <div class="prime-input-large">
        <label class="has-float-label">
          <select class="form-control" name="secQ1" [(ngModel)]="registrant.securityQuestion1">
            <option value="pet">What is the name of your first pet?</option>
            <option value="teacher">What was the last name of your favourite teacher?</option>
            <option value="town">What town was your mother born in?</option>
            <option value="book">What is your favourite book?</option>
            <option value="spouse">Where did you meet your spouse?</option>
          </select>
          <span>Security Question 1</span>
        </label>
      </div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="secQ1Answer" name="secQ1Answer" [(ngModel)]="registrant.securityAnswer1" placeholder=" ">
        <span>Security Question 1 Answer</span>
      </label>

      <div class="prime-input-large">
        <label class="has-float-label">
          <select class="form-control" name="secQ2" [(ngModel)]="registrant.securityQuestion2">
            <option value="pet">What is the name of your first pet?</option>
            <option value="teacher">What was the last name of your favourite teacher?</option>
            <option value="town">What town was your mother born in?</option>
            <option value="book">What is your favourite book?</option>
            <option value="spouse">Where did you meet your spouse?</option>
          </select>
          <span>Security Question 2</span>
        </label>
      </div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="secQ2Answer" name="secQ2Answer" [(ngModel)]="registrant.securityAnswer2" placeholder=" ">
        <span>Security Question 2 Answer</span>
      </label>

      <div class="prime-input-large">
        <label class="has-float-label">
          <select class="form-control" name="secQ3" [(ngModel)]="registrant.securityQuestion3">
            <option value="pet">What is the name of your first pet?</option>
            <option value="teacher">What was the last name of your favourite teacher?</option>
            <option value="town">What town was your mother born in?</option>
            <option value="book">What is your favourite book?</option>
            <option value="spouse">Where did you meet your spouse?</option>
          </select>
          <span>Security Question 3</span>
        </label>
      </div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="secQ3Answer" name="secQ3Answer" [(ngModel)]="registrant.securityAnswer3" placeholder=" ">
        <span>Security Question 3 Answer</span>
      </label>
    </form>
    <ng-container *ngIf="!usedBCSC">
      <h2 class='prime-title' id="secStep2">2 - Step Verification</h2>
      <span>Secondary Security (please select at least one)</span>
      <form>
        <div>
          <input type="checkbox" id="secSms" name="secSms" [(ngModel)]="registrant.mfaOptionSMS"/>
          <label for="secSms">SMS/Text</label>
          <label class="has-float-label">
            <input type="text" [textMask]="{mask: getPhoneMask()}" class="form-control prime-input-large" id="secPhone" name="secPhone" [(ngModel)]="registrant.mfaOptionSMSPhone" placeholder=" ">
            <span>Phone</span>
          </label>
        </div>

        <hr>
        <div>
          <input type="checkbox" id="secFob" name="secFob" [(ngModel)]="registrant.mfaOptionKey"/>
          <label for="secFob">Physical Security Key</label>
          <label class="has-float-label">
            <input type="text" class="form-control prime-input-large" id="secFobInstr" name="secFobInstr" placeholder=" " disabled>
            <span>Instructions to follow</span>
          </label>
        </div>

        <hr>
        <div>
          <input type="checkbox" id="secApp" name="secApp" [(ngModel)]="registrant.mfaOptionApp"/>
          <label for="secApp">Mobile App Authentication</label>
        </div>
        <img class="img-thumbnail" src="assets/mobile_app_icon_android.png" alt="Generic placeholder image">
        <img class="img-thumbnail" src="assets/mobile_app_icon_apple.png" alt="Generic placeholder image">
        <img class="img-thumbnail" src="assets/mobile_app_icon_windows.png" alt="Generic placeholder image">
      </form>
      </ng-container> 

</prime-page-framework>
