<common-page-framework layout='blank'>

  <form #formRef='ngForm' (ngSubmit)='continue()'>
    <prime-appl-account [mohCredientials]='false'
                        [data]='registrant'
                        [isCanada]='isCanada()'
                        [cache]='cache'>


      <p AccountInstruct>
        Information for creating account with BCSC credientials
      </p>

    </prime-appl-account>

    <!-- Display bar during registration -->
    <common-form-submit-bar [increaseWidth]='true'
                            [isLoading]='loading'
                            [defaultColor]='false'
                            submitLabel='Complete Registration'></common-form-submit-bar>
  </form>

</common-page-framework>
