@import 'variables.scss';
@import '../../../../core/enrollment-list/enrollment-list.class';

.enrollment-list-controls {
  border: 2px solid $gray-300;
}

$listHeight: 25rem;
.enrollment-item-container {
  border-top: none;
  overflow-y: scroll;
  height: $listHeight;
  overflow-x: hidden;

  // We have to re-jigger borders due to the above hackfix
  .enrollment-item-inner {
    border-right: 2px solid $gray-300;
    border-left: 2px solid $gray-300;
    border-bottom: 2px solid $gray-300;
    min-height: 100%;
  }
}

.enrollment-list-controls  {
  // margin-bottom: 1em;
  min-height: 4em;
  padding: 1em;
  border-bottom: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.enrollment-view-selector {
  min-width: 5em;
}
