<app-consent-modal></app-consent-modal>
<form #formRef="ngForm" novalidate (submit)="continue()">
  <h1>Professional Information</h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <!--TODO Turn into dropdown using select2 or some variant  -->
        <label for='collegeName' i18n="@@ProfessionalCollegeName">Professional College Name</label>
        <input type="text" class="form-control" name='collegeName' id='collegeName'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <!-- TODO - Auto-populate from College Name somehow, check SR.  -->
        <label for='collegeNumber' i18n="@@CollegeNumber">College Number</label>
        <input type="text" disabled class="form-control" name='collegeNumber' id='collegeNumber'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='mspBillingNumber' i18n="@@MSPBillingNumber">MSP Billing Number</label>
        <input type="text" class="form-control" name='mspBillingNumber' id='mspBillingNumber'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='mspBillingNumber' i18n="@@LicenseClass">License Class</label>
        <input type="text" class="form-control" name='mspBillingNumber' id='mspBillingNumber'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <!-- TODO - Turn into Date input.  -->
        <label for='mspBillingNumber' i18n="@@ExpiryDateLicense">Expiry Date of License</label>
        <input type="text" class="form-control" name='mspBillingNumber' id='mspBillingNumber'>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <!--TODO Turn into dropdown using select2 or some variant  -->
        <label for='advancedPracticeCerts' i18n="@@AdvancedPracticeCerts">Advanced Practice Certification(s)</label>
        <input type="text" class="form-control" name='advancedPracticeCerts' id='advancedPracticeCerts'>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-6">
      <label id="deviceProvider" for="deviceProvider" class='control-label' i18n="@@DeviceProvider">Are you a Device Provider?</label>

      <!-- TODO - Move this into its own component?  -->
      <div class="btn-group">
        <label class="btn btn-default" (click)="setDeviceProvider(true)" btnRadio="Left" [class.btn-radio]="applicant.isDeviceProvider">Yes</label>
        <label class="btn btn-default" (click)="setDeviceProvider(false)" btnRadio="Middle" [class.btn-radio]="applicant.isDeviceProvider === false">No</label>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <!-- TODO Turn into Date  -->
        <label for='RequestedStartDate' i18n="@@RequestedStartDate">Requested Access Start Date</label>
        <input type="text" class="form-control" name='RequestedStartDate' id='RequestedStartDate'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <!-- TODO Turn into Date  -->
        <label for='RequestedEndDate' i18n="@@RequestedEndDate">Access End Date (optional)</label>
        <input type="text" class="form-control" name='RequestedEndDate' id='RequestedEndDate'>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <button type='button' class='btn btn-default pull-left'>Cancel</button>
    <button type='button' class='btn btn-primary pull-right'>Continue</button>
  </div>


  <div *ngIf="true">
    {{ applicant | json }}
  </div>

</form>
