<prime-consent-modal></prime-consent-modal>
<form #formRef="ngForm" novalidate (submit)="continue()">
  <h1>Professional Information</h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='collegeName' i18n="@@ProfessionalCollegeName">Professional College Name</label>
        <select2
        #collegeName
        name='collegeName'
        id='collegeName'
        [data]="collegeList"
        (valueChanged)="onCollegeChange($event.value)"
        [options]="{multiple: true, placeholder: 'Select a College'}"
        [value]="collegeVal"
        ></select2>      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='collegeNumber' i18n="@@CollegeNumber">College Number</label>
         <input type="text" disabled class="form-control" name='collegeNumber' id='collegeNumber' [value]="applicant.collegeNumber">
      </div>
    </div>
  </div>

  <div class="row" *ngIf="applicant.goesToCollege()">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='licenseClass' i18n="@@LicenseClass">License Class</label>
        <input type="text" class="form-control" name='licenseClass' id='licenseClass' [(ngModel)]="applicant.license.licenseClass">
      </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
          <label for='licenseNumber' i18n="@@LicenseNumber">License Number</label>
          <input type="text" class="form-control" name='licenseNumber' id='licenseNumber' [(ngModel)]="applicant.license.licenseNumber">
        </div>
      </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='mspBillingNumber' i18n="@@ExpiryDateLicense">Expiry Date of License</label>
       <prime-date name='mspBillingNumber' id='mspBillingNumber'
          [year]="applicant.license.licenseExpiry?.year"
          (yearChange)="applicant.license.licenseExpiry.year = $event"
          [month]="applicant.license.licenseExpiry?.month"
          (monthChange)="applicant.license.licenseExpiry.month = $event"
          [day]="applicant.license.licenseExpiry?.day"
          (dayChange)="applicant.license.licenseExpiry.day = $event"
          (onChange) = "onChange($event)"
          [showError]="showError"
          [required] = "true">
        </prime-date>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="applicant.goesToCollege(Colleges.CPSBC)">
        <div class="form-group">
          <label for='mspBillingNumber' i18n="@@MSPBillingNumber">MSP Billing Number</label>
          <input type="text" class="form-control" name='mspBillingNumber' id='mspBillingNumber' [(ngModel)]="applicant.MSPBillingNumber">
        </div>
      </div>
  </div>

  <div class="row" *ngIf="applicant.goesToCollege(Colleges.CRNBC)">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='advancedPracticeCerts' i18n="@@AdvancedPracticeCerts">Advanced Practice Certification(s)</label>
        <select2 name='advancedPracticeCerts' id='advancedPracticeCerts'></select2>
      </div>
    </div>
  </div>

  <div class="row form-group" *ngIf="applicant.goesToCollege(Colleges.None)">
    <div class="col-sm-6">
      <label id="deviceProvider" for="deviceProvider" class='control-label' i18n="@@DeviceProvider">Are you a Device Provider?</label>

      <!-- TODO - Move this into its own component?  -->
      <div class="btn-group">
        <label class="btn btn-default" (click)="setDeviceProvider(true)" btnRadio="Left" [class.btn-radio]="applicant.isDeviceProvider">Yes</label>
        <label class="btn btn-default" (click)="setDeviceProvider(false)" btnRadio="Middle" [class.btn-radio]="applicant.isDeviceProvider === false">No</label>
      </div>
    </div>
  </div>

 <div class="row" *ngIf="applicant.college === Colleges.None && applicant.isDeviceProvider === false">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='onBehalfOfJobTitle' i18n="@@OnBehalfOfJobTitle">On-Behalf Of Job Title</label>
        <select2 name='onBehalfOfJobTitle' id='onBehalfOfJobTitle'></select2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='RequestedEndDate' i18n="@@RequestedStartDate">Requested Access Start Date</label>
       <prime-date name='RequestedStartDate' id='RequestedStartDate'
          [year]="applicant.dates.requestStartDate?.year"
          (yearChange)="applicant.dates.requestStartDate.year = $event"
          [month]="applicant.dates.requestStartDate?.month"
          (monthChange)="applicant.dates.requestStartDate.month = $event"
          [day]="applicant.dates.requestStartDate?.day"
          (dayChange)="applicant.dates.requestStartDate.day = $event"
          (onChange) = "onChange($event)"
          [showError]="showError"
          [required] = "true"
          [useCurrentDate]="true">
        </prime-date>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='RequestedEndDate' i18n="@@RequestedEndDate">Access End Date (optional)</label>
       <prime-date name='RequestedEndDate' id='RequestedEndDate'
          [year]="applicant.dates.requestEndDate?.year"
          (yearChange)="applicant.dates.requestEndDate.year = $event"
          [month]="applicant.dates.requestEndDate?.month"
          (monthChange)="applicant.dates.requestEndDate.month = $event"
          [day]="applicant.dates.requestEndDate?.day"
          (dayChange)="applicant.dates.requestEndDate.day = $event"
          (onChange) = "onChange($event)"
          [showError]="showError"
          [required] = "false">
        </prime-date>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <button type='button' class='btn btn-default pull-left'>Cancel</button>
    <button type='button' class='btn btn-primary pull-right' (click)="continue()" [disabled]="!canContinue()">Continue</button>
  </div>


  <div *ngIf="true">
    {{ applicant | json }}
  </div>

</form>
