@import "variables.scss";

.panel-clear {
  // background-color: $gray-lighter;

  margin-left: 15px;
  margin-right: 15px;

  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }

  &.panel-primary {
    border-color: $color-primary-muted;
    > .panel-heading { background-color: $color-primary-muted;}
  }
}
