<div id="app">
  <div id="wrap">

    <header>
      <div class="container-fluid header-container d-flex justify-content-between align-items-center flex-wrap">
        <div class='d-flex flex-wrap'>
          <a href="http://www2.gov.bc.ca/" tabindex="0">
            <img class="header-logo" tabindex="-1" alt="B.C. Government Logo" title="B.C. Government Logo"
              src="assets/gov3_bc_logo.png">
          </a>
          <H1 class="title px-2 mt-1" role="banner">PRIME - Enrolment</H1>
        </div>
      </div>
    </header>




    <!-- TODO - Replace the header above with this header component once setup
    <fpcare-header></fpcare-header> -->

    <main class="container-fluid" id="content">
      <router-outlet></router-outlet>

    </main>
    <div id="pad"></div>
  </div>

  <footer>
    <nav class="navbar navbar-expand-md bg-primary">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a class='nav-link' href="http://www2.gov.bc.ca/gov/content/home/disclaimer"
              target="_blank">Disclaimer</a></li>
          <li><a class='nav-link' href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
          <li><a class='nav-link' href="http://www2.gov.bc.ca/gov/content/home/accessibility"
              target="_blank">Accessibility</a></li>
          <li><a class='nav-link' href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a>
          </li>
          <li><a class='nav-link' href="http://www2.gov.bc.ca/gov/content/home/contact-us" target="_blank">Contact
              Us</a></li>
        </ul>
      </div>
    </nav>
  </footer>
</div>
