<h1>Security</h1>
<h3>Multi Factor Authentication Methods</h3>
<div *ngIf="isSubmitted"
     role="alert"
     class="error-container"
     aria-live="assertive">
  <div class="text-danger" *ngIf="!hasMfaMethod()">
    At least one Multi Factor Authentication Method option must be checked.
  </div>
</div>

<!-- Use Mobile/SMS for Authorization OPTION -->
<div>
  <div class='border-bottom'>
    <label class='h2 normal'>
      <input type="checkbox"
             name="mobile_sms_auth"
             id="mobile_sms_auth"
             [ngModel]='data.useMfaSMS'
             (ngModelChange)="setUseMfaSMS($event)"/>
      Use Mobile/SMS for Authorization
    </label>
  </div>

  <common-page-section layout='tips'>
    <div class="form-group col-sm-4 p-sm-0">
      <lib-prime-phone-number [displayMask]="isCanada"
                          [(value)]="mfaSMSphone"
                          [disabled]="!data.useMfaSMS">
     </lib-prime-phone-number>
    </div>

    <ng-content select="[identityInstruct]"></ng-content>

    <aside>
       Details<br>
       Activate for enhanced account security<br><br><br>
    </aside>
  </common-page-section>
</div>

<!-- Use Security Key OPTION -->
<div *ngIf="isCanada">
    <div class='border-bottom'>
        <label class='h2 normal'>
      <input type="checkbox"
             name="security_key"
             id="security_key"
             [ngModel]="data.useMfaSecurityKey"
             (ngModelChange)="setUseMfaSecurityKey($event)"/>
      Use Security Key
        </label>
  </div>

  <ng-content select="[identityInstruct]"></ng-content>

  <common-page-section layout='tips'>
    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">Security Key</label>
        <p> This is an informative text blurb </p>
      </div>

      <aside>
        Details<br>
        Activate for enhanced account security<br><br><br>
      </aside>
  </common-page-section>
</div>

<!-- Use Mobile App Authentication OPTION -->
<div>
    <div class='border-bottom'>
        <label class='h2 normal'>
      <input type="checkbox"
             name="mobile_app_auth"
             id="mobile_app_auth"
             [(ngModel)]="data.useMfaApp"
             (ngModelChange)="setUseMfaApp($event)"/>
      Use Mobile App Authentication
        </label>
  </div>

  <ng-content select="[identityInstruct]"></ng-content>

  <common-page-section layout='tips'>
    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">App Code</label>
        <p> This is an informative text blurb </p>
    </div>

    <aside>
      Details<br>
      Activate for enhanced account security<br><br><br>
    </aside>
  </common-page-section>
</div>
