<common-page-framework layout='blank'>

  <form #formRef='ngForm' (ngSubmit)='continue()'>
    <prime-profile [data]='registrant'
                   [countryList]='cache.$countryList | async'
                   [provinceList]='cache.$provinceList | async'>

      <p identityInstruct>
        Prior to identity-proofing, please upload the front and back of a valid
        government-issued photo ID.
      </p>
    </prime-profile>

    <!-- Display bar during registration -->
    <common-form-submit-bar [increaseWidth]='true'
                            [isLoading]='loading'></common-form-submit-bar>
  </form>



</common-page-framework>
