
  <img class="img-responsive" src="assets/bcsc_login_page.png" alt="BC Services Card Login Page">
  <h3>1. Open the BC Services Card app on your mobile device</h3>
  <h3>2. Choose to pair with another device and enter this pairing code. It's only used once, you don't need to remember it.<p></p>
  <h3>3. Return to this website to enter pairing code and continue.</h3>

  <form>
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regLastName" name="regPairingCode" [(ngModel)]="registrant.pairingCode" placeholder=" ">
        <span>Pairing Code</span>
      </label>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <button type="button"
              class="h-25 btn btn-primary btn-lg btn-block"
              (click)="continue()">{{'Continue'}}</button>
    </div>
  </form>
