<prime-enrollment-list
  [rowItems]="enrollmentBySiteData"
  primaryType='Sitezxcv'
></prime-enrollment-list>

<hr>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Upcoming Renewals
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Status Types
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Application Progress
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
</div>
