<ng2-smart-table [settings]="tableSettings" [source]="tableData"></ng2-smart-table>
<hr>

<ng-container *ngIf="applicant.goesToCollege(Colleges.CPSBC) || applicant.goesToCollege(Colleges.CRNBC) || applicant.isDeviceProvider">
  <div class="row">
    <div class="col-sm-12">
      <label for="" class='control-label'>Will you personally access PharmaNet from the Site(s) selected?</label>
      <prime-toggle [(data)]="applicant.willPersonallyAccessFromSites"></prime-toggle>
    </div>
  </div>

  <hr>
</ng-container>

<prime-form-footer
(onContinue)='continue()'
(onBack)="back()"
[locked]="!canContinue()"></prime-form-footer>
