<!--
  TODO: Move miller item into separate component? Interface? Depends on how much variety will be in the content.
 -->

<div class="miller-container">
  <div class="miller-column" *ngFor="let column of columns; let colIndex = index;">
    <!-- TODO: Able to set title. Also change header to "breadcrumb" style like taxonomy-browser, so user can click earlier titles to nav back.-->
    <h4 class='miller-column-title' *ngIf="colIndex >= 1">
      <span (click)="onClickColTitle(column)">(back)</span>
      {{ column.title}}
    </h4>


    <ul class="miller-items-container">

      <li class="miller-item" *ngFor="let item of column['items']" [ngClass]="{
        'open': item.open,
        'has-children': item.hasChildren
      }">
        <!-- TODO - Turn this bit into a new component, miller-item? Depends on complexity. -->
        <!-- FIXME: Idea! Can we use "slots" here? Or anyway to embed content within a component's template? Or do we have to specify class name?-->
        <a (click)="onItemClick(item)" class='miller-item-link'>
          <span class="item-title">{{item.title}}</span>
        </a>
      </li>

    </ul>
  </div>
  <!-- Display blank columns before user selection -->
  <div class="miller-column blank-column" *ngFor="let blank of blankColumns"></div>
</div>
