@import "variables.scss";

.active {
  color: $gray-600;
  font-weight: bolder;

  // Make the link unclickable since it's the user's current route
  cursor: pointer;
  pointer-events: none;
  text-decoration: underline;
}
