<h1>Home Page</h1>



<section>

  <a routerLink="/login">
    <button class="btn btn-block btn-lg btn-secondary">
      Registration
    </button>
  </a>

  <hr class="invisible">

  <a routerLink="/applicant/contact">
    <button class="btn btn-block btn-lg btn-secondary" [disabled]='!registrationCompleted()'>
      Applicant Enrollment &mdash; New
    </button>
  </a>

  <p class="text-muted" *ngIf="!registrationCompleted()">Complete <em>Registration</em> first</p>

  <hr class="invisible">

  <!-- <a routerLink="/applicant"> -->
    <button class="btn btn-block btn-lg btn-secondary" (click)='goToApplicantWithChanges()' [disabled]='!applicationNewCompleted()'>
      Applicant Enrollment &mdash; Change
    </button>
  <!-- </a> -->

  <p class="text-muted" *ngIf="!applicationNewCompleted()">Complete <em>Application Enrollment &mdash; New</em> first</p>


  <hr class="invisible">

  <a routerLink="/provisioner">
    <button class="btn btn-block btn-lg btn-secondary">
      Provisioner
    </button>
  </a>

  <hr class="invisible">

  <a href='#'>
    <button class="btn btn-block btn-lg btn-secondary">
      User Guide
    </button>
  </a>

</section>
