<common-page-framework layout='blank'>

<h1>Registration Pages</h1>

<div class='row mb-4'>
  <div class='col-md-3 p-4'>
    <a routerLink='moh-profile'>
      <button class="btn btn-block btn-lg btn-secondary">
        MoH Profile
      </button>
    </a>
  </div>
  <div class='col-md-3 p-4'>
    <a routerLink='moh-doc-upload'>
      <button class="btn btn-block btn-lg btn-secondary">
        MoH Document Upload
      </button>
    </a>
  </div>
  <div class='col-md-3 p-4'>
    <a routerLink='moh-account'>
      <button class="btn btn-block btn-lg btn-secondary">
        MoH Account
      </button>
    </a>
  </div>
  <div class='col-md-3 p-4'>
    <a routerLink='moh-security'>
      <button class="btn btn-block btn-lg btn-secondary">
        MoH Security
      </button>
    </a>
  </div>
</div>
</common-page-framework>
