<h1>Home Page</h1>



<section>

  <a routerLink="/login">
    <button class="btn btn-block btn-lg btn-secondary">
      Registration
    </button>
  </a>

  <hr class="invisible">

  <a routerLink="/applicant/contact" (click)='logApplicantNew()'>
    <button class="btn btn-block btn-lg btn-secondary" [disabled]='!registrationCompleted()'>
      Applicant Enrolment &mdash; New
    </button>
  </a>

  <p class="text-muted" *ngIf="!registrationCompleted()">Complete <em>Registration</em> first</p>

  <hr class="invisible">

  <!-- <a routerLink="/applicant"> -->
    <button class="btn btn-block btn-lg btn-secondary" (click)='goToApplicantWithChanges()' [disabled]='!applicationNewCompleted()'>
      Applicant Enrolment &mdash; Change
    </button>
  <!-- </a> -->

  <p class="text-muted" *ngIf="!applicationNewCompleted()">Complete <em>Application Enrolment &mdash; New</em> first</p>


  <hr class="invisible">

  <a routerLink="/provisioner" (click)='logProvisioner()'>
    <button class="btn btn-block btn-lg btn-secondary">
      Provisioner
    </button>
  </a>

  <hr class="invisible">

  <a href='#' (click)='openUserGuide()'>
    <button class="btn btn-block btn-lg btn-secondary">
      User Guide
    </button>
  </a>


  <hr class="invisible">


</section>

<p>
  Connect with us via the PRIME email: <a href="mailto://PRIME@gov.bc.ca">PRIME@gov.bc.ca</a>
</p>
