<prime-collection-notice></prime-collection-notice>

<div class="p-md-2">
<h1>Application Guidance</h1>
There are two ways to register for PRIME account. If you have BC Services Card already you can register below. If you do not have BC Services Card, you can still register below.
</div>


<section class='dashboard-cards row'>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <p class="card-text">BC Services Card</p>
      </div>
      <div class="card-body d-flex justify-content-between">
        <div class="card-text">If you have BC Services Card please start your registration process here.</div>

          <img class="img-responsive" src="assets/bc_services_card.png" alt="BC Services Card Image">

      </div>
      <div class="card-footer d-flex justify-content-between">
        <button type="button"
                class="h-25 btn btn-primary btn-lg btn-block"
                (click)="continueIdProofing()">{{'Register'}}</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        BC Ministry of Health
      </div>
      <div class="card-body d-flex justify-content-between">
        <div class="card-text">For standard registration please start your registration here.</div>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <button type="button"
                class="h-25 btn btn-primary btn-lg btn-block"
                (click)="continueStandardReg()">{{'Register'}}</button>
      </div>
    </div>
  </div>
</section>


