<label class="font-weight-lighter">Organization Name</label>
<span class="font-weight-bolder">{{name}}</span>

<label class="font-weight-lighter">Type</label>
<span class="font-weight-bolder">{{type}}</span>
<label class="font-weight-lighter">City</label>
<span class="font-weight-bolder">{{city}}</span>
<label class="font-weight-lighter">Start Date</label>
<span class="font-weight-bolder">{{startDate}}</span>
<span class="font-weight-lighter">End Date</span>
<span class="font-weight-bolder"><strong>{{endDate}}</strong></span>
