<h1>Identity Documents</h1>
<prime-page-sections layout='tips'>

    <p>Prior to identity-proofing upload the front and back of at least one valid government-issued photo ID</p>


    <div class="form-row align-items-end">
      <div class="col-auto">
        <label for="docType">Document Type</label>
        <ng-select name='docType'
                   labelForId='docType'
                   [(ngModel)]='docTypeDropdownValue'
                   [items]='docTypesList'
                   bindLabel='name'
                   bindValue='name'
                   placeholder='Choose'
                   #docTypeEl='ngModel'
                   [clearable]='false'
                   [searchable]='false'
                   (change)='updateValidation()'
                   [required]='documents.length === 0'></ng-select>
      </div>


      <div class="col-auto">
        <button class="btn btn-secondary" (click)='add()' [disabled]='addDisabled()'>Add</button>
      </div>
    </div>

    <div *ngIf="docTypeEl.touched || formRef.submitted" role="alert" class='error-container' aria-live="assertive">
      <div class="text-danger" *ngIf="docTypeEl?.errors?.required || (documents.length === 0 && formRef.submitted)">
       At least one document type must be added
      </div>

   </div>





  <aside>
    <h5>Tip</h5>
    Scan the document, or take a photo of it.  Make sure that it's:
    <ul>
      <li>The entire document, from corner to corner</li>
      <li>At least 1000px wide x 1500 px tall</li>
      <li>Rotated correctly (not upside down or sideways)</li>
      <li>In focus and easy to read</li>
      <li>A JPG, PNG, GIF, or BMP file (not a PDF)</li>
    </ul>
  </aside>
</prime-page-sections>

<div *ngFor="let section of documents">
  <h2 class='border-bottom'>
    <i class="status-icon fa" aria-hidden="true" [ngClass]="{'fa-circle': !section.isValid(), 'fa-check-circle text-success': section.isValid()}"></i>
    {{section.type.name}}
    <button class='d-inline-block float-right close' (click)='remove(section)' type='button'>
      <i class="fa fa-times text-danger" aria-hidden="true"></i>
    </button>
  </h2>

  <prime-page-sections layout='tips'>
      <div class="d-flex align-items-baseline flex-wrap">
        <common-datepicker class='d-inline-block mr-3'
                            labelText='{{section.type.name}} Expiry'
                            [onlyFutureDates]='"true"'
                            [required]='true'
                            [(date)]='section.expiry'>
        </common-datepicker>
        <a href="#" class='nowrap'>Sample Document</a>
      </div>

      <common-file-uploader [images]='section.images'
                            [id]='section.type.name'
                            (imagesChange)='onImagesChange(section, $event)'
                            [required]='true'>
        <span id="uploadInstruction" tabindex="0" #uploadInstruction>
            Please upload required documents
        </span>
      </common-file-uploader>

      <aside>
        {{ section.type.tips }}
      </aside>
    </prime-page-sections>
</div>
