<h2>Identity Documents</h2>
<prime-page-sections layout='tips'>

    <p>Prior to identity-proofing upload the front and back of at least one valid government-issued photo ID</p>


    <div class="form-row align-items-end">
      <div class="col-auto">
        <label for="docType">Document Type</label>
        <select class="form-control" id="docType" name="docType" [(ngModel)]="docTypeDropdownValue" #docTypeEl='ngModel' required>
          <option value="" selected disabled>Choose</option>
          <option *ngFor="let doc of docTypesList; let i = index;" [value]="doc.name">{{doc.name}}</option>
        </select>
      </div>


      <div class="col-auto">
        <button class="btn btn-secondary" (click)='add()' [disabled]='addDisabled()'>Add</button>
      </div>
    </div>




  <aside>
    <h5>Tip</h5>
    Scan the document, or take a photo of it.  Make sure that it's:
    <ul>
      <li>The entire document, from corner to corner</li>
      <li>At least 1000px wide x 1500 px tall</li>
      <li>Rotated correctly (not upside down or sideways)</li>
      <li>In focus and easy to read</li>
      <li>A JPG, PNG, GIF, or BMP file (not a PDF)</li>
    </ul>
  </aside>
</prime-page-sections>

<div *ngFor="let section of documents">
  <h2 class='border-bottom'>
    <i class="status-icon fa" aria-hidden="true" [ngClass]="{'fa-circle': !section.isValid(), 'fa-check-circle text-success': section.isValid()}"></i>
    {{section.type.name}}
    <button class='d-inline-block float-right close' (click)='remove(section)'>
      <i class="fa fa-times text-danger" aria-hidden="true"></i>
    </button>
  </h2>

  <prime-page-sections layout='tips'>
      <common-datepicker class='d-inline-block mr-3' labelText='{{section.type.name}} Expiry' [required]='"true"'></common-datepicker> 
      <a href="#">Sample Document</a>

      <common-file-uploader [(images)]='section.images' [id]='section.type.name'>
        <span id="uploadInstruction" tabindex="0" #uploadInstruction>
            Please upload required documents
        </span>
      </common-file-uploader>
  
      <aside>
        {{ section.type.tips }}
      </aside>
    </prime-page-sections>
</div>
