<button type="button" class="btn btn-outline-primary" (click)="openModal()">
    Find and Add an Organization <i class="fa fa-plus-square"></i>
</button>

<ng-template #template>
  <div class="modal-header">
      <h4 class="modal-title">Find and Add an Organization</h4>

      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">

    <div class="row">
      <div class="col">

        <label  class="has-float-label">
          <input type="text" class="form-control mb-2 mr-sm-2" id="orgName" name="orgName" placeholder=" " [(ngModel)]="searchQuery.orgName" tabindex="1">
          <span>Organization Name</span>
        </label>

        <label  class="has-float-label">
          <input type="text" class="form-control mb-2 mr-sm-2" id="orgCity" name="orgCity" placeholder=" " [(ngModel)]="searchQuery.orgCity" tabindex="1">
          <span>City (optional)</span>
        </label>

      </div>
      <div class="col">
          <label class="has-float-label mx-2">
              <select class="form-control" (input)='updateOrgType($event.target.value)'>
                <option name='orgTypeSelect' value="Select Type">Select Type</option>
                <option *ngFor="let types of orgTypes"
                        value="{{types}}">
                  {{types}}
                </option>
              </select>
              <span>Type (optional)</span>
            </label>
      </div>
    </div>


    <div class="search-wrapper">
      <ul class="list-group list-group-flush" *ngIf='showSearchResults'>
        <li class='list-group-item' *ngFor="let org of searchResults" (click)='org.isSelected = !org.isSelected'>
            <div class="checkbox checkbox-success checkbox-inline">
                <input class="input-lg" id="selectOrg_{{org.objectId}}" type="checkbox" [(ngModel)]='org.isSelected' (click)='$event.stopPropagation()'>
                <label class="" for="selectOrg_{{org.objectId}}" (click)='$event.stopPropagation()' class='ml-1'>{{org.title}}</label>
            </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="modal-footer">
      <button type="button" class="btn btn-default" tabindex="1" (click)="find()" *ngIf='!showSearchResults'>
          Find Organization
      </button>

      <button type="button" class="btn btn-default" tabindex="1" (click)="cancel()" *ngIf='showSearchResults'>
          Cancel
      </button>

      <button type="button" class="btn btn-default" tabindex="1" (click)="addOrg()" *ngIf='showSearchResults'>
          Add Organization
      </button>
  </div>

</ng-template>
