<form #formRef="ngForm" novalidate (submit)="continue()">
  <h1 i18n="@@ContactInformation">Contact Information</h1>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='firstName' i18n="@@firstName">First Name</label>
        <input type="text" class="form-control" name='firstName' id='firstName'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='middleName' i18n="@@middleName">Middle name (if applicable)</label>
        <input type="text" class="form-control" name='middleName' id='middleName'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='lastName' i18n="@@lastName">Last Name</label>
        <input type="text" class="form-control" name='lastName' id='lastName'>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='dateOfBirth' i18n="@@DateOfBirth">Date of Birth</label>
        <prime-date name='dateOfBirth' id='dateOfBirth' [showError]="false" [required]="true">
        </prime-date>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='phoneNumber' i18n="@@phoneNumber">Phone Number</label>
        <input type="text" class="form-control" name='phoneNumber' id='phoneNumber'>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for='email' i18n="@@email">Email Address</label>
        <input type="text" class="form-control" name='email' id='email'>
      </div>
    </div>
  </div>

  <hr>

  <prime-address></prime-address>

  <hr>

  <div class="row form-group">
    <div class="col-sm-6">
      <label id="haveBCServicesCard" for="haveBCServicesCard" class='control-label' i18n="@@haveBCServicesCard">Do you have a BC Services Card?</label>

      <!-- TODO - Move this into its own component?  -->
      <div class="btn-group">
        <label class="btn btn-default" (click)="hasBCServicesCard(true)" btnRadio="Left" [class.btn-radio]="applicant.hasBCServicesCard">Yes</label>
        <label class="btn btn-default" (click)="hasBCServicesCard(false)" btnRadio="Middle" [class.btn-radio]="applicant.hasBCServicesCard === false">No</label>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="applicant.hasBCServicesCard">
    <div class="col-sm-4">
      <div class="form-group">
        <label for='bcServicesCard' i18n="@@bcServicesCard">BC Services Card Reference #</label>
        <input type="text" class="form-control" name='bcServicesCard' id='bcServicesCard'>
      </div>
    </div>
  </div>

  <!--
    TODO Upload documents component goes here
   -->

  <hr>
  <div class='security-questions row'>
    <h2>Security Questions</h2>
    <p>Please select at least 1 question and provide answer(s)</p>

    <p>Ensure to record your responses to the security questions as these questions will be asked if you request a change to
      your information or access in the future.</p>

    <div class="row" class='question-row' *ngFor="let question of securityQuestions; let count = index" [ngClass]="{'has-success' : question['selected']}">
      <div class="col-sm-5 form-group">
        <label for="securityQuestion1" class='block-label'>Security Question {{count + 1}} <span *ngIf="question.selected">&mdash; Selected</span></label>
        <div class="checkbox checkbox-success checkbox-inline">
          <input class="input-lg" id="checkbox{{count}}" type="checkbox" [checked]="question.selected"
          (click)="selectQuestion(question, $event)">
          <label class="" for="checkbox{{count}}"></label>
        </div>
        <input type="text" class="form-control" id='securityQuestion{{count}}' name='securityQuestion{{count}}' [value]="question.question || ''">
      </div>
      <div class="col-sm-5 form-group">
        <label for="securityAnswer{{count}}">Security Response {{count + 1}}</label>
        <input type="text" class="form-control" id='securityAnswer{{count}}' name='securityAnswer{{count}}'>
      </div>
    </div>

  </div>

  <hr>

  <div class="row">
    <button type='button' class='btn btn-default pull-left'>Cancel</button>
    <button type='button' class='btn btn-primary pull-right' (click)="continue()" [disabled]="!canContinue()">Continue</button>
  </div>


</form>
