.security-questions {
  .block-label { display: block;}
  input[type="text"].form-control {
    display: inline-block;
    width: calc(100% - 30px) //size of checkbox
  }

  .form-group {
    padding: 15px 0px 15px 10px;
    transition: background-color 0.3s;
  }
  .has-success .form-group {
    background-color: rgba(124, 199, 147, 0.09);
  }
}
