<div *ngIf="rowData" class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

  <div class="enrollment-text-container">
    <span class="enrollment-text-main">{{rowData.title}}</span>
  </div>

 <!--
  <div>
    <span>start</span>
  </div>
  <div>
    <span>end</span>
  </div>
-->


  <table>
    <div *ngIf="siteStatus === 'Active'">
    <tr>
      <td class="provisioner-element-label">POS User Id</td>
      <td class="provisioner-element-label"> Date Provisioned</td>
    </tr>
    <tr>
      <td class="provisioner-element-text">{{rowData.posUserId}}</td>
      <td class="provisioner-element-text"> {{rowData.provisionedDate}}</td>
    </tr>
    </div>

  </table>


  <div *ngIf="siteStatus === 'New'">
    hereN
  </div>

  <div *ngIf="siteStatus === 'Declined'">
    hereD
  </div>

  <div class="enrollment-actions">
      <span class="enrollment-icons">
        <prime-pill-badge
          [alerts]="siteAlert"
          [iconOnly]='false'>
        </prime-pill-badge>
<!--        <prime-info-button
          [targetId]="rowData.associatedObjectId">
        </prime-info-button> -->
 <!--       <i class="fa fa-edit text-muted" (click)="goToEnrollmentPage()"></i> -->
      </span>
  </div>
</div>


<!--
<div [@openState]="openState">
  <div [@openStateChild]="openState"  class="expandable-container">

    <div class="enrollment-expandable" *ngFor="let siteAccess of rowData.siteAccess"
         (click)="expandedRowClick(siteAccess)"
    >
      <div class="enrollment-text-container">
        <span class="enrollment-text-main">{{siteAccess.title}}</span>
      </div>
      <div class="enrollment-actions">
              <span class="enrollment-icons">

                  <prime-pill-badge
                    [alerts]="[siteAccess.alert]">
                  </prime-pill-badge>

                  <prime-info-button
                    [targetId]="siteAccess.site.objectId">
                  </prime-info-button>
              </span>
      </div>

      <prime-enrollment-progress-row
        [open]='siteAccess.open'
        [data]='siteAccess'>
      </prime-enrollment-progress-row>

    </div>
  </div>
</div>
  -->

