<div *ngIf="rowData" class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

  <div class="enrollment-text-container">
    <span class="enrollment-text-main">{{rowData.title}}</span>
  </div>
  <div class="enrollment-actions">
    <div *ngIf="!isDeclinedEnrol()" class="dates-col">
      <label for="startDt">
        Start
      </label>
      <input type="text" id="startDt" [value]="startDate" disabled>
      <label for="endDt">
        End
      </label>
      <input type="text" id="endDt" [value]="endDate" disabled>
    </div>
    <span class="enrollment-icons">
      <prime-pill-badge
        [alerts]="allChildAlerts"
        [iconOnly]='false'>
      </prime-pill-badge>
      <prime-info-button
        [targetId]="rowData.associatedObjectId"
        [searchDomain]="applicantSearch">
      </prime-info-button>
      <i *ngIf="isNewEnrol()" class="fa fa-times-circle text-danger" (click)="onDecline()"></i>
      <i *ngIf="isNewEnrol()" class="fa fa-check-circle text-success" (click)="onAccept()"></i>
    </span>
  </div>
</div>


<div [@openState]="openState">
  <div [@openStateChild]="openState"  class="expandable-container">

    <div class="enrollment-expandable" *ngFor="let siteAccess of siteAccessRequiringAttention">
      <prime-enrollment-progress-row
        [open]='siteAccess.open'
        [data]='siteAccess'>
      </prime-enrollment-progress-row>

    </div>
  </div>
</div>
