<div *ngIf="rowData" class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

  <div class="enrollment-text-container">
    <span class="enrollment-text-main">{{rowData.title}}</span>
    <prime-info-button
      class='mx-2'
      [targetId]="rowData.associatedObjectId"
      [searchDomain]="applicantSearch">
    </prime-info-button>
  </div>
  <div class="enrollment-actions">
    <div *ngIf="!isDeclinedStatus() && !isDeclined()" class="dates-col">
      <span class="d-inline-flex align-items-center p-2 border-left">Start
        <prime-datepicker disabled size="mini" [dateFormat]="dateFormat"
            [(date)]="startDate"
            class="ml-1"
            clearButton="invisible">
        </prime-datepicker>
      </span>
      <span class="d-inline-flex align-items-center p-2 border-left border-right">End
        <prime-datepicker
            size="mini"
            [dateFormat]="dateFormat"
            [(date)]="endDate"
            class="ml-1"
            [disabled]="!isActiveStatus() && !isNewStatus()"
            [clearButton]="(!isActiveStatus() && !isNewStatus()) ? 'invisible' : '' ">
        </prime-datepicker>
    </span>
    </div>
    <div *ngIf="isDeclinedStatus()">
      <div class="col d-inline-flex flex-column">
        <select name="reasonForDecline"
                id="reasonForDecline"
                class="orm-control drop-dl-box-15 color"
                [value]="declinedReason" disabled>
          <option [value]="declinedReason" selected>{{declinedReason}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="isNewStatus() && isDeclined()">
      <select name="reasonForDecline"
              id="reasonForDecline"
              class="orm-control drop-dl-box-15 color"
              [(ngModel)]="declinedReason">
        <option value="Please Select" selected>Please Select</option>
        <option *ngFor="let reason of declinedReasons" [value]="reason">
          {{reason}}
        </option>
      </select>
    </div>
    <span class="enrollment-icons">
      <prime-pill-badge
        [alerts]="allChildAlerts"
        [iconOnly]='false'>
      </prime-pill-badge>

      <prime-accept-reject-icons [ngClass]="{invisible: !(isNewStatus() && !isAccepted() && !isDeclined())}"
          (onAccepted)="onAccept()"
          (onRejected)="onDecline()"
          labelAccept="Accept Enrollment"
          labelReject="Decline Enrollment">
      </prime-accept-reject-icons>
    </span>
  </div>
</div>


<div *ngIf="(!isNewStatus() && isShowProgress()) || (isNewStatus() && isAccepted())" [@openState]="openState">
  <div [@openStateChild]="openState"  class="expandable-container">

    <div class="enrollment-expandable" *ngFor="let siteAccess of siteAccessRequiringAttention"
      (click)="expandedRowClick(siteAccess)">
      <prime-app-enrollment-progress-row
        [open]="siteAccess.open"
        [data]="siteAccess"
        [disableReason]="!isNewStatus()"
        (onPendingChange)="pendingChanges($event)">
      </prime-app-enrollment-progress-row>

    </div>
  </div>
</div>
