@import 'variables.scss';
@import '../../../../core/enrollment-row/enrollment-row.class';

input[id="startDt"], input[id="endDt"] {
  width: 12ch;
}

.dates-col {
  padding: 0 1em;

  // Consistent sizing regardless if datepicker clearButton is hidden, but still this is a codesmell. Once we have hi-fidelity designs we can re-implement rows to be equally sized.
  > span:last-of-type {
    min-width: 145px;
  }
}

.enrollment-icons > i {
  font-size: 2rem;
}

.enrollment-actions {
  min-width:  35rem;
}
