<div class="card">
  <div class="card-body">
    <div class="row">

      <label class="font-weight-lighter col-6">{{ question }}</label>
      <span class="font-weight-bolder col-6">{{ yesNo }}</span>
    </div>
    <ng-container *ngIf="answer">
      <div class="row">
        <label class="font-weight-lighter col-6">Details</label>
        <span class="font-weight-bolder col-6">{{ details }}</span>
      </div>
      <div class="row">
        <label class="font-weight-lighter col-6">Documents</label>
        <span class="font-weight-bolder col-6">{{ documents$ | async }}</span>
      </div>
    </ng-container>
  </div>
</div>
