<h1 class="border-bottom">Confirmation Message</h1>

<prime-page-sections layout='noTips'>

  <!-- Icons and confirmation messages -->
  <div [ngSwitch]="displayIcon">
    <ng-container *ngSwitchCase="'0'">
      <div  class="message-container border border-success">
        <p class="prime-icon--success">
          <i class="fa fa-2x fa-check-circle text-success" aria-label="success"></i>
        </p>
        <ng-container *ngTemplateOutlet="message"></ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'1'">
      <div  class="message-container border border-danger">
        <p class="prime-icon--error">
          <i class="fa fa-2x fa-exclamation-triangle text-danger" aria-label="error"></i>
        </p>
        <ng-container *ngTemplateOutlet="message"></ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'2'">
      <div  class="message-container border border-warning">
        <p class="prime-icon--warning">
          <i class="fa fa-2x fa-exclamation-circle text-warning" aria-label="warning"></i>
        </p>
        <ng-container *ngTemplateOutlet="message"></ng-container>
      </div>
    </ng-container>
  </div>
</prime-page-sections>

<div *ngIf="hasQrCode">
  <h2 class="border-bottom">QR Code</h2>
  <prime-page-sections layout='tips'>
    <ng-content select="[qrcode]"></ng-content>

    <aside>TIPS</aside>
  </prime-page-sections>
</div>

<div>
  <h2 class="border-bottom">Next Steps</h2>
  <prime-page-sections layout='noTips'>
     <ng-content select="[nextSteps]"></ng-content>

    <div class="p-3">
      <button class="btn btn-md btn-primary">Login</button>
    </div>
  </prime-page-sections>
</div>

<ng-template #message>
  <ng-content></ng-content>
</ng-template>
