<prime-applicant-breadcrumbs
  pageName="Contact"
  nextPageLink="/applicant/professional"
  [showControls]="hasChanged"
  (onSave)="onSave($event)"
  (onCancel)="onCancel($event)">
</prime-applicant-breadcrumbs>

<prime-page-framework>

  <h2 class='prime-title' id="regInfo">Registration Information</h2>

  <form>

    <div>

      <label class="has-float-label">
        <input type="text" class="form-control input-readonly prime-input-large" id="lastName" name="lastName" [ngModel]="applicant?.lastName" disabled
          placeholder=" ">
        <span>Last Name</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-small" id="middleName" name="middleName" [ngModel]="applicant?.middleName" disabled placeholder=" ">
        <span>Middle Name</span>
      </label>


      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="firstName" name="firstName" [ngModel]="applicant?.firstName" disabled>
        <span>First Name</span>
      </label>



      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="address" name="address" [ngModel]="applicant.address?.street" disabled>
        <span>Address</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="country" name="country" [ngModel]="applicant.address?.country" disabled>
        <span>Country</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="province" name="province" [ngModel]="applicant.address?.province" disabled>
        <span>Province</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="city" name="city" [ngModel]="applicant.address?.city" disabled>
        <span>City</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-small" id="DoB" name="DoB" [ngModel]="applicant.dateOfBirth | date:'MM/dd/yyyy'" disabled>
        <span>Date of Birth</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-small" id="postal" name="postal" [ngModel]="applicant.address?.postal" disabled>
        <span>Postal Code</span>
      </label>
    </div>
  </form>

  <h2 class='prime-title' id='contactInfo'>Contact Information</h2>

  <form>
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="phone" name="phone" [(ngModel)]="applicant.phone" (input)="onChange()" placeholder=" ">
        <span>Phone</span>
      </label>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="email" name="email" [(ngModel)]="applicant.email" (input)="onChange()" placeholder=" ">
        <span>Email</span>
      </label>
      <!-- We want this Contact Information section to appear to have 3 columns so it aligns with the Regstration Information section. -->
    </div>
  </form>

  <h2 class='prime-title' id="mailingAddr">Mailing Address</h2>

  <form>
    <label>
      Use my Registration Information for mailing address
      <prime-toggle [(data)]="applicant.useRegAddress" (click) = "onChange()"></prime-toggle>
    </label>

    <div>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-large" id="mailAdress" name="mailAddress" [(ngModel)]="applicant.mailAddress.street" (input) = "onChange()"  placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-large" id="mailAdress" name="mailAddress" [ngModel]="applicant.address?.street" (ngModelChange)="updateStreet($event)"  placeholder=" ">
        <label for="mailAdress">Address</label>
      </div>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailProvince" name="mailProvince" [(ngModel)]="applicant.mailAddress.province" (input) = "onChange()" placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailProvince" name="mailProvince" [ngModel]="applicant.address?.province" (ngModelChange)="updateProvince($event)" placeholder=" ">
        <label for="mailProvince">Province</label>
      </div>

      <div class="has-float-label">
          <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-small" id="mailPostal" name="mailPostal" [(ngModel)]="applicant.mailAddress.postal" (input) = "onChange()" placeholder=" ">
          <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-small" id="mailPostal" name="mailPostal" [ngModel]="applicant.address?.postal" (ngModelChange)="updatePostal($event)" placeholder=" ">
          <label for="mailPostal">Postal Code</label>
      </div>

      <div class="has-float-label">
          <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCity" name="mailCity" [(ngModel)]="applicant.mailAddress.city" (input) = "onChange()" placeholder=" ">
          <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCity" name="mailCity" [ngModel]="applicant.address?.city" (ngModelChange)="updateCity($event)" placeholder=" ">
        <label for="mailCity">City</label>
      </div>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCountry" name="mailCountry" [(ngModel)]="applicant.mailAddress.country" (input) = "onChange()" placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCountry" name="mailCountry" [ngModel]="applicant.address?.country" (ngModelChange)="updateCountry($event)" placeholder=" ">
        <label for="mailCountry">Country</label>
      </div>

    </div>

  </form>
  <div right>
    <div>
      <img class="photo pull-right" src="assets/photoPlaceholder.png" alt="Generic placeholder image">
    </div>
  </div>

</prime-page-framework>
