<prime-applicant-breadcrumbs
  pageName="Contact"
  nextPageLink="/applicant/professional">
</prime-applicant-breadcrumbs>

<h2>Registration Information</h2>

<form>

  <div class="row">
    <div class="col">

      <div class="form-group row">
        <label for="lastName" class="col-sm-3 col-form-label">
          Last Name
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="applicant.lastName">
        </div>
      </div>

      <div class="form-group row">
        <label for="middleName" class="col-sm-3 col-form-label">
          Middle Name
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="middleName" name="middleName" [(ngModel)]="applicant.middleName">
        </div>
      </div>

      <div class="form-group row">
        <label for="firstName" class="col-sm-3 col-form-label">
          First Name
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="applicant.firstName">
        </div>
      </div>

    </div>
    <div class="col">

      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">
          Address
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="address" name="address" [ngModel]="applicant.address?.street" (ngModelChange)="applicant.address.street = $event">
        </div>
      </div>


      <div class="form-group row">
        <label for="country" class="col-sm-3 col-form-label">
          Country
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="country" name="country" [ngModel]="applicant.address?.country" (ngModelChange)="applicant.address.country = $event">
        </div>
      </div>

      <div class="form-group row">
        <label for="province" class="col-sm-3 col-form-label">
          Province
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="province" name="province" [ngModel]="applicant.address?.province" (ngModelChange)="applicant.address.province = $event">
        </div>
      </div>


      <div class="form-group row">
        <label for="city" class="col-sm-3 col-form-label">
          City
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="city" name="city" [ngModel]="applicant.address?.city" (ngModelChange)="applicant.address.city = $event">
        </div>
      </div>


    </div>
    <div class="col">
      <div class="form-group row">
        <label for="DoB" class="col-sm-3 col-form-label">
          Date of Birth
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="DoB" name="DoB" [(ngModel)]="applicant.dateOfBirth">
        </div>
      </div>

      <div class="form-group row">
        <label for="postal" class="col-sm-3 col-form-label">
          Postal Code
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="postal" name="postal" [ngModel]="applicant.address?.postal" (ngModelChange)="applicant.address.postal = $event">
        </div>
      </div>
    </div>
  </div>

  <h2>Contact Information</h2>

  <div class="row">
    <div class="col">
      <div class="form-group row">
        <label for="phone" class="col-sm-3 col-form-label">
          Primary Phone
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="applicant.phone">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">
          Primary Email
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="applicant.email">
        </div>
      </div>

    </div>
    <div class="col">
      <div class="form-group row">
        <label for="phoneSecondary" class="col-sm-3 col-form-label">
          Alternate Phone
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="phoneSecondary" name="phoneSecondary" [(ngModel)]="applicant.phoneSecondary">
        </div>
      </div>

      <div class="form-group row">
        <label for="emailSecondary" class="col-sm-3 col-form-label">
          Alternate Email
        </label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="emailSecondary" name="emailSecondary" [(ngModel)]="applicant.emailSecondary">
        </div>
      </div>

    </div>

    <!-- We want this Contact Information section to appear to have 3 columns so it aligns with the Regstration Information section. -->
    <div class="col d-none d-sm-block"></div>
  </div>

  <h2>Mailing Address</h2>

</form>
