<prime-applicant-breadcrumbs
  pageName="Contact"
  previousPageLink="/applicant/dashboard"
  nextPageLink="/applicant/professional"
  [shouldDisableContinue]="!canContinue()"
  (onSave)="onSave($event)"
  (onCancel)="onCancel($event)"
  [hasCompletedWizardFlag]="applicant._hasCompletedWizard"
  [contactHasChanged]="hasChanged">
</prime-applicant-breadcrumbs>

<prime-page-framework>

  <img class="photo pull-right" src="assets/photoPlaceholder.png" alt="Generic placeholder image">

  <h2 class='prime-title' id="regInfo">Registration Information</h2>

  <form>

    <div>


      <!-- Section for setting the person's preferred name if it differs from his/her legal name-->
      <a class='mx-4 align-top pull-right z-top' href="javascript:void(0)" (click)="showPreferredNames()">{{applicant.hasPreferName ? 'Hide Preferred Name' : '(optional) Set Preferred Name'}}
        </a>

      <label class="has-float-label">
        <input type="text" class="form-control input-readonly prime-input-large" id="legalName" name="legalName" [ngModel]="applicant.legalName" disabled>
        <span>Legal Name</span>
      </label>
      <div *ngIf="applicant.hasPreferName">
        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="lastName" name="lastName" [(ngModel)]="applicant.preferLastName" (input)="onChange()" placeholder=" ">
          <span>Preferred Last Name</span>
        </label>

        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="middleName" name="middleName" [(ngModel)]="applicant.preferMiddleName" (input)="onChange()" placeholder=" ">
          <span>Preferred Middle Name</span>
        </label>


        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="firstName" name="firstName" [(ngModel)]="applicant.preferFirstName" (input)="onChange()" placeholder=" ">
          <span> Preferred First Name</span>
        </label>
      </div>


      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="DoB" name="DoB" [ngModel]="applicant.dateOfBirth | date:'MM/dd/yyyy'" disabled>
        <span>Date of Birth</span>
      </label>


      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="address" name="address" [ngModel]="applicant.address?.street" disabled>
        <span>Address</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="city" name="city" [ngModel]="applicant.address?.city" disabled>
        <span>City</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="province" name="province" [ngModel]="applicant.address?.province" disabled>
        <span>Province</span>
      </label>

      <prime-postal-code [value]="applicant.address?.postal"  disabled='true'></prime-postal-code>


      <label class="has-float-label">
        <input type="text" class="form-control prime-input-medium" id="country" name="country" [ngModel]="applicant.address?.country" disabled>
        <span>Country</span>
      </label>

    </div>
  </form>

  <h2 class='prime-title' id='contactInfo'>Contact Information</h2>

  <form>
    <div>

      <label>
          I have an international (non-Canadian) phone-number
        <prime-toggle [(data)]="applicant.hasInternationalPhoneNumber" (click) = "onInternationalPhoneNumberChange()"></prime-toggle>
      </label>

      <label class="has-float-label">
        <input type="text" [textMask]="{mask: getPhoneMask()}" class="form-control prime-input-large" id="phone" name="phone" [(ngModel)]="applicant.phone" (input)="onChange()" placeholder=" ">
        <span>Phone</span>
      </label>

      <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="phoneExt" name="phoneExt" [(ngModel)]="applicant.phoneExtension" (input)="onChange()" placeholder=" ">
          <span>Extension Number</span>
        </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="email" name="email" [(ngModel)]="applicant.email" (input)="onChange()" placeholder=" ">
        <span>Email</span>
      </label>
    </div>
  </form>

  <h2 class='prime-title' id="mailingAddr">Mailing Address</h2>

  <form>
    <label>
      Use my Registration Information for mailing address
      <prime-toggle [(data)]="applicant.useRegAddress" (click) = "onChange()"></prime-toggle>
    </label>

    <div>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-large" id="mailAdress" name="mailAddress" [(ngModel)]="applicant.mailAddress.street" (input) = "onChange()"  placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-large" id="mailAdress" name="mailAddress" [ngModel]="applicant.address?.street" (ngModelChange)="updateStreet($event)"  placeholder=" ">
        <label for="mailAdress">Address</label>
      </div>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCity" name="mailCity" [(ngModel)]="applicant.mailAddress.city" (input) = "onChange()" placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCity" name="mailCity" [ngModel]="applicant.address?.city" (ngModelChange)="updateCity($event)" placeholder=" ">
        <label for="mailCity">City</label>
      </div>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailProvince" name="mailProvince" [(ngModel)]="applicant.mailAddress.province" (input) = "onChange()" placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailProvince" name="mailProvince" [ngModel]="applicant.address?.province" (ngModelChange)="updateProvince($event)" placeholder=" ">
        <label for="mailProvince">Province</label>
      </div>

      <prime-postal-code *ngIf = "!applicant.useRegAddress" [(value)]="applicant.mailAddress.postal" ></prime-postal-code>

      <prime-postal-code *ngIf = "applicant.useRegAddress" [value]="applicant.address?.postal" (valueChange)="updatePostal($event)" ></prime-postal-code>

      <div class="has-float-label">
        <input *ngIf = "!applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCountry" name="mailCountry" [(ngModel)]="applicant.mailAddress.country" (input) = "onChange()" placeholder=" ">
        <input *ngIf = "applicant.useRegAddress" type="text" class="form-control prime-input-medium" id="mailCountry" name="mailCountry" [ngModel]="applicant.address?.country" (ngModelChange)="updateCountry($event)" placeholder=" ">
        <label for="mailCountry">Country</label>
      </div>

    </div>

  </form>

</prime-page-framework>
