<prime-page-framework>
  <h2 class='prime-title' id="regDocUp">Identification Documents</h2>
  <div>
    Prior to ID Proofing, please upload supporting documents. Please upload a scanned image of any of the following:
  </div>
  <br/>
  <div class="leftpane">
    <div>
      <input type="checkbox" id="dl" name="dl"
             value="dl" />
      <label for="dl">Driver's License</label>
    </div>

    <div>
      <input type="checkbox" id="bcsc" name="bcsc"
             value="bcsc" />
      <label for="bcsc">BC Services Card</label>
    </div>

    <div>
      <input type="checkbox" id="passport" name="passport"
             value="passport" />
      <label for="passport">Passport</label>
    </div>
  </div>
  <div class="rightpane">
    <div class="d-flex justify-content-start align-items-center">
      <i class="fa fa-upload fa-2x mx-2" aria-label="Delete"></i>
      <h2>Upload your documents</h2>
    </div>
    <span class="note">Scan the document, or take a photo of it. Make sure that it's:</span>
    <ul class="note">
      <li>The entire document, from corner to corner</li>
      <li>At least 1000 pixels wide x 1500 pixels tall</li>
      <li>Rotated correctly (not upside down or sideways)</li>
      <li>In focus and easy to read</li>
      <li>A JPG, PNG, GIF or BMP file (
        <b>not a PDF</b>)</li>
    </ul>
    <prime-file-uploader>
      <span class="note">Please upload required supporting  documents</span>
    </prime-file-uploader>
  </div>
</prime-page-framework>
