.leftpane {
  padding-right: 30px;
  width: 30%;
  height: 100%;
  float: left;
  border-collapse: collapse;
}

.rightpane {
  padding-left: 30px;
  width: 70%;
  height: 100%;
  position: relative;
  float: right;
  border-collapse: collapse;
}

