@import 'variables.scss';
$rowHeight: 2.5em; //35px;
$rowBgColor: white;
// $rowPadding: 0;

:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enrollment-icons,
.enrollment-list-item,
.enrollment-expandable {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enrollment-list-item {
    border: 1px solid $gray-500;
    min-height: $rowHeight;
    // padding: $rowPadding;
    background: $rowBgColor; // Hide animation underneath it.
    z-index: 1;
    position: relative;
}

// Same hover effect for full rows and expandable rows
.enrollment-expandable,
.enrollment-list-item {
  transition: 0.25s;
  &:hover {
    background: darken($rowBgColor, 2.5%);
  }
}

.enrollment-expandable {
  margin-left: 8em;
  color: $gray-700;
  min-height: $rowHeight;
  // padding: $rowPadding;
  border: 1px solid $gray-500;
  flex-wrap: wrap;
}

.enrollment-actions {
    display: flex;
    align-items: center;
    align-self: stretch;

    .btn-block {
      border-radius: 0;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      height: 100%;
    }
}

.enrollment-text-container {
    min-height: $rowHeight;
    display: flex;
    align-items: center;
    flex: 5;
    padding-left: 1em;
    margin-right: 2em;
    .enrollment-text-main {
        font-weight: 800;
    }
    &>span:not(:last-of-type):after {
        content: " / "
    }

    @include media-breakpoint-down(xs){
      &>span:first-of-type:after {
        content: "";
        display: block;
      }
    }

    &>span:not(.enrollment-text-main) {
        color: $gray-600;
    }
}

.enrollment-icons>i {
    padding: 0 5px;
    font-size: 18px;
    cursor: pointer;
}
