<div class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

    <div class="enrollment-text-container">
      <span class="enrollment-text-main">{{rowData.title}}</span>

       <ng-container *ngIf="primaryType === 'Site'">
          <span class="enrollment-text-extra">({{rowData.sites.length}}) Sites</span>
          <span class="enrollment-text-extra">({{rowData.users.length}}) Users</span>
       </ng-container>

       <ng-container *ngIf="primaryType === 'User'">
          <span class="enrollment-text-extra">({{rowData.collections.length}}) Collections</span>
          <span class="enrollment-text-extra">({{rowData.sites.length}}) Sites</span>
       </ng-container>

    </div>

    <div class="enrollment-actions">
      <span class="enrollment-icons">
        <prime-pill-badge
          [alerts]="allChildAlerts"
          [iconOnly]='false'>
        </prime-pill-badge>
        <i class="fa fa-info-circle text-muted"></i>
        <i class="fa fa-edit text-muted"></i>
      </span>
    </div>
  </div>



  <div [@openState]="openState" class="hidden">
    <div [@openStateChild]="openState"  class="expandable-container">

        <div class="enrollment-expandable" *ngFor="let siteAccess of siteAccessRequiringAttention"
            (click)="expandedRowClick(siteAccess)"
          >
          <div class="enrollment-text-container">
            <span class="enrollment-text-main">{{siteAccess.title}}</span>
          </div>
          <div class="enrollment-actions">
              <span class="enrollment-icons">

                  <prime-pill-badge
                    [alerts]="siteAccess.alert">
                  </prime-pill-badge>

                  <i class="fa fa-info-circle text-muted"></i>
              </span>
          </div>

          <prime-enrollment-progress-row
            [open]='siteAccess.open'
            [data]='siteAccess'>
          </prime-enrollment-progress-row>

        </div>


    </div>
  </div>
