<prime-core-breadcrumb>
  <prime-wizard-progress-bar
    class='d-none d-lg-block p-md-2 col-md-4 offset-md-4'
    center
    [progressSteps]="progressSteps"
    [allowLinks]="allowLinks">
  </prime-wizard-progress-bar>

  <span right class='d-flex'>
    <div class='controls'>
      <button *ngIf="router.url != '/register/profile'" type="button"
              class="btn btn-primary mx-2"
              (click)="back()">{{'Back'}}</button>
      <div *ngIf="router.url != '/register/security';then continueButton else submitButton"></div>
      <ng-template #continueButton>
        <button type="button" class="btn btn-primary mx-2" (click)="continue()" [disabled]="!canContinue()">{{'Continue'}}</button>
      </ng-template>
      <ng-template #submitButton>
        <button type="button" class="btn btn-primary mx-2" (click)="submit()" [disabled]="!canContinue()">{{'Submit'}}</button>
      </ng-template>


    </div>
  </span>

</prime-core-breadcrumb>

<prime-alert type="info">
  <p> DEV NOTE: The stepper above is in progress, so ignore the style issues. For now, you can jump to any page directly to make development easier.</p>
  Make sure to use the page framework when developing the pages for this section.
</prime-alert>

<router-outlet></router-outlet>
