<prime-core-breadcrumb>
  <prime-wizard-progress-bar
    class='d-none d-lg-block p-md-2 col-md-4 offset-md-4'
    center
    [progressSteps]="progressSteps"
    [allowLinks]="allowLinks">
  </prime-wizard-progress-bar>


  <span right class='d-flex'>
    <div class='controls'>
      <button type="button"
              class="btn btn-primary mx-2"
              (click)="continue()">{{'Continue'}}</button>

    </div>
  </span>

</prime-core-breadcrumb>

<prime-alert type="info">
  <p> DEV NOTE: The stepper above is in progress, so ignore the style issues. For now, you can jump to any page directly to make development easier.</p>
  Make sure to use the page framework when developing the pages for this section.
</prime-alert>

<router-outlet></router-outlet>
