<common-page-framework layout="blank">
  <h2>Professional Information</h2>

  <ng-content select="[identityInstruct]"></ng-content>
  <p identityInstruct class="border-bottom">
    Profile information helper text.
  </p>
  <common-page-section layout="tips">
    <div *ngIf="fg$ | async as fg">
      <form [formGroup]="fg">
        <label class="control-label">Do you have a college certification?
        </label>
        <enroll-radio-button formControlName="collegeCert"
          (click)="requireField(fg.controls.onBehalfOf, !fg.value.collegeCert)"></enroll-radio-button>
        <enroll-error label="College certification" [touched]="fg.controls.collegeCert.touched"
          [valid]="fg.controls.collegeCert.valid"></enroll-error>
        <div *ngIf="fg.controls['collegeCert'].value">
          <ng-container *ngFor="let fg of certFa; index as i">
            <enroll-license [fg]="fg" (delete)="removeLicenseForm(i, certFa)"
              [licenseOptions]="cacheSvc.collegeOptions$" [apOptions]="apOptions" [enableDelete]="certFa.length > 1"
              [licenseLabel]="cacheSvc.licenseLabel$" [classOptions]="cacheSvc.classOptions$"
              (selected)="cacheSvc.setLicenseLabel$($event)">
            </enroll-license>
          </ng-container>
          <button class="btn btn-md btn-secondary" (click)="addLicenseForm(certFa)" [disabled]="!certFaValid">Add
            Another
            License</button>
        </div>
        <ng-container *ngIf="certFaValid || fg.value.deviceProvider !== null">
          <label class="control-label">Are you a device provider?
          </label>
          <enroll-radio-button formControlName="deviceProvider" labelOne="dpfalse" labelTwo="dptrue" name="dp">
          </enroll-radio-button>
          <enroll-error label="DeviceProvider" [touched]="fg.controls.deviceProvider.touched"
            [valid]="fg.controls.deviceProvider.valid"></enroll-error>
        </ng-container>

        <div *ngIf="fg.value.deviceProvider">
          <ng-container *ngFor="let fc of dpFa.controls; index as i">
            <enroll-device-provider [enableDelete]="dpFa.controls.length > 1" [fc]="dpFa.controls[i]"
              (remove)="removeDeviceFc(dpFa)">
            </enroll-device-provider>
          </ng-container>
          <!-- <button class="btn btn-md btn-secondary" (click)="addDeviceFc(dpFa)" [disabled]="dpFa.invalid">Add Another
            License</button> -->

        </div>
        <ng-container *ngIf="fg.value.deviceProvider">
          <label class="control-label">Are you an insulin pump provider?</label>
          <enroll-radio-button formControlName="insulinPump" labelOne="ipFalse" labelTwo="ipTrue" name="ip">
          </enroll-radio-button>
          <enroll-error label="Insulin pump" [touched]="fg.controls.insulinPump.touched"
            [valid]="fg.controls.insulinPump.valid"></enroll-error>
        </ng-container>
        <ng-container
          *ngIf="fg.value.collegeCert === false && fg.value.onBehalfOf !== null || !fg.value.collegeCert && fg.value.deviceProvider === false || dpFa.valid === true && fg.controls['insulinPump'].valid === true && !fg.value.collegeCert">
          <label class="control-label">Are you accessing pharmanet on behalf of someone else?</label>

          <enroll-radio-button formControlName="onBehalfOf" labelOne="oboFalse" labelTwo="oboTrue" name="obo"
            (click)="requireField(fg.controls.onBehalfOfJobTitle, !fg.value.onBehalfOf)">
          </enroll-radio-button>
          <enroll-error label="On behalf of" [touched]="fg.controls.onBehalfOf.touched"
            [valid]="fg.controls.onBehalfOf.valid"></enroll-error>
          <div>
            <div *ngIf="fg.value.onBehalfOf; else loading" class="border padded">
              <div class="form-group col-sm-12">
                <label class="control-label" for="onBehalfOfJobTitle">Job Title</label>
                <ng-select id="onBehalfOfJobTitle" formControlName="onBehalfOfJobTitle" placeholder="Choose"
                  [items]="onBehalfOfOptions | async" addTag="true" multiple="true">
                </ng-select>
                <enroll-error label="Job title" [valid]="fg.controls.onBehalfOfJobTitle.valid"
                  [touched]="fg.controls.onBehalfOfJobTitle.touched"></enroll-error>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
    <aside>TIPS</aside>
  </common-page-section>
</common-page-framework>
