<common-page-framework>
  <h2>Professional Information</h2>

  <ng-content select="[identityInstruct]"></ng-content>
  <p identityInstruct class="border-bottom">
    Profile information helper text.
  </p>
  <div>
    <form [formGroup]="fg">
      <label class="control-label">Do you have a college certification?
      </label>
      <div class="form-check">
        <input class='form-check-input' formControlName="collegeCert" type="radio" id="ccfalse" tabindex="0"
          [value]="false">
        <label class='form-check-label' for="ccfalse">
          No
        </label>
        <input class='form-check-input' type="radio" formControlName="collegeCert" name="" id="cctrue" tabindex="0"
          [value]="true">
        <label class='form-check-label' for="cctrue">
          Yes
        </label>
      </div>
      <div *ngIf="fg.controls['collegeCert'].value">
        <ng-container *ngFor="let fg of certFa; index as i">
          <enroll-license [fg]="fg" (delete)="removeLicenseForm(i, certFa)" [enableDelete]="certFa.length > 1">
          </enroll-license>
        </ng-container>
        <button class="btn btn-md btn-primary" (click)="addLicenseForm(certFa)">Add Another License</button>
      </div>

      <label class="control-label">Are you a device provider?
      </label>
      <div class="form-check">
        <input class='form-check-input' formControlName="deviceProvider" type="radio" id="dpFalse" tabindex="0"
          [value]="false">
        <label class='form-check-label' for="dpFalse">
          No
        </label>
        <input class='form-check-input' type="radio" formControlName="deviceProvider" name="" id="dptrue" tabindex="0"
          [value]="true">
        <label class='form-check-label' for="dptrue">
          Yes
        </label>
      </div>

      <label class="control-label">Are you accessing pharmanet on behalf of someone else?
      </label>
      <div class="form-check">
        <input class='form-check-input' formControlName="onBehalfOf" type="radio" id="oboFalse" tabindex="0"
          [value]="false">
        <label class='form-check-label' for="oboFalse">
          No
        </label>
        <input class='form-check-input' type="radio" formControlName="onBehalfOf" name="" id="obotrue" tabindex="0"
          [value]="true">
        <label class='form-check-label' for="obotrue">
          Yes
        </label>
      </div>
    </form>
  </div>
</common-page-framework>
