@import 'variables.scss';
@import '../../../../core/enrollment-row/enrollment-row.class';

$rowBgColor: $gray-200;

.org-row {
    // background: rgba(0,0,0, 0.03);
    background: $rowBgColor;
}

.enrollment-list-item {
  transition: 0.25s;
  &:hover {
    background: darken($rowBgColor, 5%);
  }
}
.enrollment-expandable {
  justify-content: space-between;
  background: white;
}

select {
  background-color: white;
}