<div *ngIf="rowData" class="enrollment-list-item org-row" (click)="toggleRow()" [ngClass]='{orgOnly: orgsOnly}'>
  <div class="enrollment-text-container">
    <span class="enrollment-text-main">
      <i class='fa fa-caret-down' [@rotate180]='openState' *ngIf='!orgsOnly'></i> 
        {{rowData.title}}
      </span>
  </div>

  <!-- Stop propagation so that click events on e.g. the dropdown won't bubble up to toggleRow() -->
  <div class="enrollment-actions" (click)="$event.stopPropagation()" >

    <!-- TODO - Temp removed, will be in "return visit" (possibly in separate component) -->
    <!-- <label class="has-float-label mx-2">
      <select class="form-control">
        <option *ngFor="let status of accessType"
                value="{{status}}">
          {{status}}
        </option>
      </select>
      <span>Access Type</span>
    </label> -->

    <div class="dates-col">
      <span class="d-inline-flex align-items-center p-2 border-left">Start
        <prime-datepicker 
                          size="mini"
                          dateFormat='yyyy/mm/dd'
                          [(date)]='getOrgAccess().startDate'
                          onlyFutureDates='true'
                          class="ml-1"
                          clearButton="invisible">
        </prime-datepicker>
      </span>
      <span class="d-inline-flex align-items-center p-2 border-left border-right">End
        <prime-datepicker size="mini"
                          dateFormat='yyyy/mm/dd'
                          [(date)]='getOrgAccess().endDate'
                          onlyFutureDates='true'
                          class="ml-1">
        </prime-datepicker>
      </span>
    </div>

    <!-- <prime-accept-reject-icons *ngIf="!orgsOnly && shouldShowOrgActionButtons()"
                               [@growHorizontal]
                               (onAccepted)="onAcceptOrg()"
                               (onRejected)="onRejectOrg()"
                               labelAccept="Accept Enrollment"
                               labelReject="Decline Enrollment">
    </prime-accept-reject-icons> -->


    <button type="button" class="close pull-right" aria-label="Close" *ngIf="orgsOnly" (click)="removeOrg()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
</div>


<!-- Nested rows for all the sites -->
<div [@growVertical] *ngIf="!orgsOnly && isOpen()" class='pharmanet-site'>
  <div class="expandable-container">

       <div class="enrollment-expandable"
         *ngFor="let siteAccess of subRowData"
         (click)="expandedRowClick(siteAccess)">


      <div class='d-flex align-items-center justify-content-between w-100 py-2'[@growVertical]>
        <div>
          Site {{siteAccess.site.name}}
          <prime-info-button [targetId]='siteAccess.site.objectId'></prime-info-button>
        </div>

        <div class='d-flex align-items-center align-self-stretch'>

          <!-- TODO - Temp removed, will be in "return visit" (possibly in separate component) -->
          <!-- <label class="has-float-label mx-2">
            <select id="enrollmentViewSelector"
                    class="form-control">
              <option *ngFor="let status of accessType"
                      value="{{status}}">
                {{status}}
              </option>
            </select>
            <span>Access Type</span>
          </label> -->

          <label class="has-float-label">
            <input type="text" class="form-control input-readonly pos-input" [value]="siteAccess.posUserId ? siteAccess.posUserId : 'n/a'" disabled>
            <span>PoS User ID</span>
          </label>
    

          <div class="dates-col">
            <span class="d-inline-flex align-items-center p-2 border-left">Start
              <prime-datepicker [disabled]="!isActionableRow(siteAccess)"
                                size="mini"
                                dateFormat="yyyy/mm/dd" 
                                [(date)]="siteAccess.startDate"
                                onlyFutureDates='true'
                                class="ml-1"
                                clearButton="invisible">
              </prime-datepicker>              
            </span>
            <span class="d-inline-flex align-items-center p-2 border-left border-right">End
              <prime-datepicker [disabled]="!isActionableRow(siteAccess)"
                                size="mini"
                                dateFormat="yyyy/mm/dd"
                                [(date)]="siteAccess.endDate"
                                class="ml-1">
              </prime-datepicker>
            </span>
          </div>

          <label class="has-float-label mx-2">
            <select class="form-control access-type-selector" [(ngModel)]='siteAccess.personalAccess' >
              <option *ngFor="let status of accessType"
                      value="{{status}}">
                {{status}}
              </option>
            </select>
            <span>Personal Access</span>
          </label>


          <!-- Only show accept/declined -->
          <prime-pill-badge class='ml-2 align-self-center' *ngIf='siteAccess.status !== "New"' [alerts]="[siteAccess.alert]">
          </prime-pill-badge>

          <prime-accept-reject-icons *ngIf="isActionableRow(siteAccess); else editExisting"
                                    (onAccepted)="onAcceptSite(siteAccess)"
                                    (onRejected)="onRejectSite(siteAccess)"
                                    labelAccept="Accept Enrollment"
                                    labelReject="Decline Enrollment"
                                    class='site-accept-reject'>
          </prime-accept-reject-icons>

          <ng-template #editExisting>
            <i class="fa fa-pencil text-muted edit-icon"></i>
          </ng-template>
        </div>


      </div>
    </div>
  </div>
</div>
