<h1>Profile Information</h1>

<div>
  <h2 class='border-bottom'>Your Information</h2>

  <ng-content select="[identityInstruct]"></ng-content>

  <div class="form-group col-sm-4 p-sm-0">
    <label class="control-label">First Name</label>
    <input class="form-control"
            name="first_name"
            id="first_name"
            [value]="legalName?.first"
            [disabled]="!editIdentityInfo" />
  </div>

  <div class="form-group col-sm-4 p-sm-0">
    <label class="control-label">Middle Name</label>
    <input class="form-control"
            name="middle_name"
            id="middle_name"
            [value]="legalName?.middle"
            [disabled]="!editIdentityInfo" />
  </div>

  <div class="form-group col-sm-4 p-sm-0">
    <label class="control-label">Last Name</label>
    <input class="form-control"
            name="last_name"
            id="last_name"
            [value]="legalName?.last"
            [disabled]="!editIdentityInfo" />
  </div>

  <div class="col-sm-4 p-sm-0">
    <common-date [disabled]="!editIdentityInfo"
                 [(date)]="dob"></common-date>
  </div>
</div>

<div>
  <h2 class='border-bottom'>Preferred Name (Optional)</h2>

  <p>
    If you have a name that is different than your legal name that people know you by,
    enter your full preferred name.
  </p>

  <div class="form-group col-sm-4 p-sm-0">
      <label class="control-label">Preferred First Name</label>
      <input class="form-control"
            name="pref_first_name"
            id="pref_first_name"
            [value]='preferName?.first' />
    </div>

    <div class="form-group col-sm-4 p-sm-0">
      <label class="control-label">Preferred Middle Name</label>
      <input class="form-control"
            name="pref_middle_name"
            id="pref_middle_name"
            [value]='preferName?.middle' />
    </div>

    <div class="form-group col-sm-4 p-sm-0">
      <label class="control-label">Preferred Last Name</label>
      <input class="form-control"
            name="pref_last_name"
            id="pref_last_name"
            [value]='preferName?.last'/>
    </div>
</div>

<div class='d-flex'>
  <div class='col-sm-6 pl-0'>
    <h2 class='border-bottom'>Address</h2>
  </div>
  <div class='col-sm-6 pr-0'>
    <h2 class='border-bottom'>Mailing Address</h2>
  </div>
</div>
