<h1>Profile Information</h1>

<div>
  <h2 class="border-bottom">Your Information</h2>

  <ng-content select="[identityInstruct]"></ng-content>

  <prime-page-sections layout='tips'>
    <div class="form-group col-sm-6 p-sm-0">
      <prime-name [label]="'First Name'"
                  [required]="false"
                  [disabled]="!editIdentityInfo"
                  [(nameStr)]="registrant.firstName"></prime-name>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <prime-name [label]="'Middle Name'"
                  [required]="false"
                  [disabled]="!editIdentityInfo"
                  [(nameStr)]="registrant.middleName"></prime-name>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <prime-name [label]="'Last Name'"
                  [required]="true"
                  [disabled]="!editIdentityInfo"
                  [(nameStr)]="registrant.lastName"></prime-name>
    </div>

    <div class="col-sm-6 p-sm-0">
      <common-date [disabled]="!editIdentityInfo"
                   [label]="dateLabel"
                   [restrictDate]="'past'"
                   [(date)]="registrant.dateOfBirth"></common-date>
    </div>

    <aside>TIPS</aside>
  </prime-page-sections>
</div>

<div>
  <h2 class="border-bottom">Preferred Name (Optional)</h2>

  <p>
    If you have a name that is different than your legal name that people know you by,
    enter your full preferred name.
  </p>

  <prime-page-sections layout='tips'>
    <div class="form-group col-sm-6 p-sm-0">
      <prime-name [label]="'Preferred First Name'"
                  [required]="false"
                  [(nameStr)]="registrant.preferredFirstName"></prime-name>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <prime-name [label]="'Preferred Middle Name'"
                  [required]="false"
                  [(nameStr)]="registrant.preferredMiddleName"></prime-name>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <prime-name [label]="'Preferred Last Name'"
                  [required]="false"
                  [(nameStr)]="registrant.preferredLastName"></prime-name>
    </div>
    <aside>TIPS</aside>
  </prime-page-sections>
</div>

<prime-page-sections layout='double'>
    <h2 class="border-bottom">Address</h2>
    <prime-address [disabled]="!editIdentityInfo"
                   [(address)]="registrant.address"
                   [defaultCountry]="defaultCountry"
                   [countryList]="countryList"
                   [defaultProvince]="defaultProvince"
                   [provinceList]="provinceList"
                   [isRequired]="true"></prime-address>
    <div class="custom-control custom-checkbox">
      <input type="checkbox"
             class="custom-control-input"
             id="isMailingAddress"
             [checked]="registrant.identityIsMailingAddress"
             (click)="toggleCheckBox()"/>
      <label class="custom-control-label" for="isMailingAddress">
        This is my mailing address.
      </label>
    </div>
  <aside>
    <h2 class="border-bottom">Mailing Address</h2>
    <div *ngIf="!registrant.identityIsMailingAddress; else NoMailingAddress">
        <prime-address [(address)]="registrant.mailAddress"
                       [defaultCountry]="defaultCountry"
                       [countryList]="countryList"
                       [defaultProvince]="defaultProvince"
                       [provinceList]="provinceList"
                       [isRequired]="true"></prime-address>
    </div>
  </aside>
</prime-page-sections>

<ng-template #NoMailingAddress>
  <div class="mail-address-container">
    <button type="button"
            class="btn btn-lg btn-warning mx-auto d-block"
            (click)="toggleCheckBox()">My mailing address is different.</button>
  </div>
</ng-template>
