@import 'variables.scss';

.mail-address-container {
  background: $gray;
  display: flexbox;
  padding: 2rem;
  height: 370px;
  border-radius: 5px;

  @include media-breakpoint-down(sm){
    height: auto;
    margin: initial;
  }
}
