<form #formRef='ngForm'
  novalidate>
  <div class="row">
    <div class="form-group col-lg-1 col-sm-3">
      <label for="streetNum">Street #</label>
      <input type="text"
        class="form-control"
        id='streetNum'
        name='streetNum'
        [(ngModel)]="applicant.address.streetNum">
    </div>
    <div class="form-group col-sm-3">
      <label for="streetNum">Street Suffix (optional)</label>
      <select class='form-control'
        name='streetSuffix'
        id='streetSuffix'
        [(ngModel)]="applicant.address.streetSuffix">
            <option value=""></option>
            <option value="1/2">1/2</option>
            <option value="1/4">1/4</option>
            <option value="3/4">3/4</option>
            <option value="A">A</option>
            <option value="B">B</option>
          </select>
    </div>
    <div class="form-group col-sm-3">
      <label for="suite">Unit, Suite # (optional)</label>
      <input type="text"
        class="form-control"
        id='suite'
        name='suite'
        [(ngModel)]="applicant.address.suite">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-5"
      [ngClass]="{'has-error': !formRef.controls.street?.valid && (residentialAddressLine1Ref.touched || showError)}">
      <label for="residentialAddressLine1{{objectId}}">Street</label>
      <input [(ngModel)]="applicant.address.street"
        type="text"
        class="form-control msp-addressline"
        id="residentialAddressLine1{{objectId}}"
        name="street"
        #residentialAddressLine1Ref="ngModel"
        required
        tabindex="0"
        maxlength="25">
      <div role="alert"
        aria-live="assertive">
        <div *ngIf='residentialAddressLine1Ref.touched || showError'>
          <div class="text-danger"
            *ngIf="residentialAddressLine1Ref.errors?.required">Street is required</div>
          <div class="text-danger"
            *ngIf="residentialAddressLine1Ref.errors?.maxlength">Address Line cannot be more than _LENGTH_ characters</div>
        </div>
        <div *ngIf='useResidentialAddressLine2 && residentialAddressLine2Ref.touched || showError'>
          <div class="text-danger"
            *ngIf="residentialAddressLine2Ref.errors?.maxlength">Address Line 2 cannot be more than _LENGTH_ characters</div>
        </div>
        <div *ngIf='useResidentialAddressLine3 && residentialAddressLine3Ref.touched || showError'>
          <div class="text-danger"
            *ngIf="residentialAddressLine3Ref.errors?.maxlength">Address Line 3 cannot be more than _LENGTH_ characters</div>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-3 col-lg-2">
      <label for="streetType">Street Type</label>
      <select class='form-control'
        name='streetType'
        id='streetType'
        [(ngModel)]="applicant.address.streetType">
          <option value=""></option>
          <option value="Avenue">Avenue</option>
          <option value="Street">Street</option>
          <option value="Court">Court</option>
          <option value="Drive">Drive</option>
          <option value="Road">Road</option>
          <option value="Crescent">Crescent</option>
        </select>
    </div>

    <div class="form-group col-sm-3 col-lg-2">
      <label for="streetType">Street Direction (optional)</label>
      <select class='form-control'
        name='streetDirection'
        id='streetDirection'
        [(ngModel)]="applicant.address.streetDirection">
          <option value=""></option>
          <option value="North">North</option>
          <option value="South">South</option>
          <option value="East">East</option>
          <option value="West">West</option>
          <option value="Northeast">Northeast</option>
          <option value="Northwest">Northwest</option>
          <option value="Southeast">Southeast</option>
          <option value="Southwest">Southwest</option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-5"
      [ngClass]="{'has-error': !formRef.controls.city?.valid && (residentialAddressCityRef.touched || showError)}">
      <label for="residentialAddressCity{{objectId}}">City</label>
      <input [(ngModel)]='applicant.address.city'
        type="text"
        class="form-control"
        id="residentialAddressCity{{objectId}}"
        name="city"
        #residentialAddressCityRef="ngModel"
        required
        tabindex="0"
        maxlength="25">
      <div *ngIf='residentialAddressCityRef.touched || showError'
        role="alert"
        aria-live="assertive">
        <div class="text-danger"
          *ngIf="residentialAddressCityRef.errors?.required">City is required</div>
        <div class="text-danger"
          *ngIf="residentialAddressCityRef.errors?.maxlength">City cannot be more than _LENGTH_ characters</div>
      </div>
    </div>
    <div class="form-group col-sm-3">
      <label for="residentialAddressProvince{{objectId}}">Province</label>
      <input [(ngModel)]='applicant.address.province'
        type="text"
        class="form-control"
        id="residentialAddressProvince{{objectId}}"
        name="residentialAddressProvince"
        value="British Columbia">
    </div>
    <div class="form-group col-sm-3">
      <label for="residentialAddressCountry{{objectId}}">Country</label>
      <input type="text"
        class="form-control"
        id="residentialAddressCountry{{objectId}}"
        name="residentialAddressCountry"
        value="Canada"
        [(ngModel)]="applicant.address.country">
    </div>
  </div>


</form>
