<h1>Account</h1>

<ng-content select="[AccountInstruct]"></ng-content>

<div *ngIf="mohCredientials">

  <h2 class="border-bottom">Prime Account</h2>

  <prime-page-sections layout='tips'>

    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label" for="user_id">User ID</label>
      <input #userIdRef="ngModel"
             class="form-control"
             name="user_id"
             id="user_id"
             [minlength]="userIdMinLen"
             [maxlength]="userIdMaxLen"
             [ngModel]="registrant?.userID"
             (ngModelChange)="registrant.userID = $event"
             required />

      <!-- Error messages for component -->
      <div *ngIf="userIdRef.touched"
           role="alert"
           class='error-container'
           aria-live="assertive">
        <div class="text-danger" *ngIf="userIdRef?.errors?.required">
          User ID is required.
        </div>
        <div class="text-danger" *ngIf="userIdRef?.errors?.minlength">
          User ID must be a minimum of {{userIdMinLen}} in length.
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <common-password componentLabel="{{newPwdLabel}}"
                       [showPasswordStrength]="true"
                       [minLen]="pwdMinLen"
                       [errorMessages]="newPwdErrorMsgs"
                       [(password)]="registrant.password"></common-password>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <common-password componentLabel="{{confirmPwdLabel}}"
                       [minLen]="pwdMinLen"
                       [(password)]="confirmPassword"></common-password>

    </div>

    <aside>TIPS</aside>

  </prime-page-sections>

</div>

<div>
  <h2 class="border-bottom">Security Questions</h2>

  <prime-page-sections layout='tips'>

    <div class="form-group"
         *ngFor="let item of registrant.secQuestionsAnswer; let i = index;">
      <div class="p-2">
        <label class="control-label" for="sec_question_{{i}}">Question #{{i+1}}</label>
        <select #questionRef="ngModel"
                class="form-control"
                id="sec_question_{{i}}"
                name="sec_question_{{i}}"
                [ngModel]="item?.question"
                (ngModelChange)="item.question=$event"
                required>
          <option value="null" label="-- Select question --" selected></option>
          <option *ngFor="let question of secQuestionList"
                  [value]="question">{{question}}</option>
        </select>
          <!-- Error messages for component -->
          <div *ngIf="questionRef.touched"
                role="alert"
                class='error-container'
                aria-live="assertive">
          <div class="text-danger" *ngIf="questionRef?.errors?.required">
            Question #{{i + 1}} is required.
          </div>
        </div>
      </div>
      <div class="p-2">
        <label class="control-label" for="sec_answer_{{i}}">Answer</label>
        <input #answerRef="ngModel"
                type="text"
                class="form-control"
                id="sec_answer_{{i}}"
                name="sec_answer_{{i}}"
                [ngModel]="item?.answer"
                (ngModelChange)="item.answer=$event"
                placeholder="Enter answer"
                required />

        <!-- Error messages for component -->
        <div *ngIf="answerRef.touched"
            role="alert"
            class='error-container'
            aria-live="assertive">
          <div class="text-danger" *ngIf="answerRef?.errors?.required">
            Answer for Question #{{i + 1}} is required.
          </div>
        </div>
      </div>
    </div>

    <aside>TIPS</aside>

  </prime-page-sections>

</div>

<div>
  <h2 class="border-bottom">Contact</h2>

  <prime-page-sections layout='tips'>

    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">Mobile/SMS</label>
      <div *ngIf="isCanada(); else NotCanda">
        <input class="form-control"
               type="text"
               name="mobile_phone"
               id="mobile_phone"
               [ngModel]="registrant?.smsPhone"
               (ngModelChange)="registrant.smsPhone = $event"
               prefix="+1 "
               mask="(000) 000-0000"
               showMaskTyped="true"/>
      </div>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">Email</label>
      <input #emailRef="ngModel"
             class="form-control"
             type="email"
             name="user_email"
             id="user_email"
             placeholder="username@example.com"
             [required]="mohCredientials"
             [maxlength]="emailMaxLen"
             [ngModel]="registrant?.emailAddress"
             (ngModelChange)="registrant.emailAddress = $event" />

        <!-- Error messages for component -->
        <div *ngIf="emailRef.touched"
            role="alert"
            class='error-container'
            aria-live="assertive">
          <div class="text-danger" *ngIf="emailRef?.errors?.required">
            Email is required.
          </div>
        </div>
    </div>

    <aside>TIPS</aside>

  </prime-page-sections>

</div>

<ng-template #NotCanda>
    <input class="form-control"
           type="text"
           name="mobile_phone"
           id="mobile_phone"
           [ngModel]="registrant?.smsPhone"
           (ngModelChange)="registrant.smsPhone = $event"/>
</ng-template>

