<ng-template #template>

  <div class="modal-header">
    <h2  class="modal-title">Collection Notice</h2>
  </div>

  <div class="modal-body">
    <label>
      The PRIME application collects personal information for the purposes of verification to authorize your access to PharmaNet. Your personal information is collected by the Ministry of Health under section 26(c) of the Freedom of Information and Protection of Privacy Act. Should you have any questions about the collection of this personal information, please contact PRIME@gov.bc.ca.
    </label>
  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-default" (click)="disagree()" tabindex="1">
      Disagree
    </button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()" tabindex="1">
      I Agree
    </button>

  </div>

</ng-template>

