<ng-template #template>

  <div class="modal-header">
    <h2  class="modal-title">Collection Notice</h2>
  </div>

  <div class="modal-body">
    <label>
      Collection Notice boilerplate - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
    </label>
  </div>

  <div class="modal-footer">

    <button type="button" class="btn btn-default" (click)="disagree()" tabindex="1">
      Disagree
    </button>
    <button type="button" class="btn btn-default" (click)="modalRef.hide()" tabindex="1">
      I Agree
    </button>

  </div>

</ng-template>

