<prime-alert type="danger" *ngIf="updatesRequiringUserAction()">
  <strong>Update Profile:</strong> {{ this.updatesRequiringUserActionText }}
</prime-alert>

<prime-alert>
  System Notification: Server will be down for 2 hours maitenance at 14:30 PT.
</prime-alert>

<section class='dashboard-cards row'>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Contact
        <a routerLink="/applicant/contact">
          <i class="fa fa-edit fa-2x text-muted"></i>
        </a>
      </div>
      <div  *ngIf="applicant.hasContactInfo; else emptySection" class="card-body d-flex justify-content-between">

        <!-- TODO: Add img placeholder. Holder.js? -->
        <div>
          <p>{{applicant.name}}</p>
          <p>{{applicant.phone}}</p>
          <p>{{applicant.email}}</p>
        </div>

        <i class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Professional
        <a routerLink="/applicant/professional">
          <i class="fa fa-edit fa-2x text-muted"></i>
        </a>
      </div>
      <div *ngIf="applicant.license; else emptySection"
      class="card-body d-flex justify-content-between">

        <div>
          <p>{{applicant.license.collegeName}}</p>
          <p>License Number: {{applicant.license.licenseNumber}}</p>
          <p>License Expiry Date: {{applicant.license.expiry}}</p>
        </div>

        <i class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        User Access Acceptance
        <a routerLink="/applicant/access-acceptance">
          <i class="fa fa-edit fa-2x text-muted"></i>
        </a>
      </div>
      <div  *ngIf="applicant.accessAcceptance; else emptySection" class="card-body d-flex justify-content-between">

        <p>Renewal Date: {{applicant.accessAcceptance.renewalDate}}</p>
        <i class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>

      </div>
    </div>
  </div>
</section>

<ng-template #emptySection>
  <div class="card-body bg-warning text-center d-flex flex-column align-items-center">
    <p>Please Update Information</p>
  </div>
</ng-template>

<hr class="invisible">

<!-- TODO: Need to create new component, ApplicantEnrollmentList -->
<!-- <prime-enrollment-list></prime-enrollment-list> -->
