
// Make cards equal height, as their parents are already equal height flex containers
.card {
  height: 100%;
}

.photocol {
  height: 70%;
  width: 25%;
}

.photo {
  width: 95%;
  height: 80%;
}

.appcol {
  width: 65%;
}
