@import 'variables.scss';

// Make cards equal height, as their parents are already equal height flex containers
.card {
  height: 100%;
  // // Need to set-min height for consistent sizes across rows
  // min-height: 14em; //~185px
}

.photocol {
  height: 70%;
  width: 25%;
}

.photo {
  width: 95%;
  height: 80%;
  max-width: 10em; //since width is higher % than height, this effectively controls both
}

.appcol {
  width: 65%;
}

.circle-num {
  $circleSize: 40px;
  border: 3px solid $gray-500;
  font-size: 18px;
  color: $gray-600;
  width: $circleSize;
  height: $circleSize;
  border-radius: 50%;
  line-height: $circleSize;
  text-align: center;
  display: inline-block;
}

.circle-num-warning {
  border-color: $color-warning;
  color: $color-warning;
}

.pharma-net-fact {
  margin-right: 2em;
}

.text-bold {
  font-weight: bold;
}

.card-warning {
  background-color: lighten($color-warning, 15%);
  .card-body { background-color: lighten($color-warning, 30%); }
}