<prime-alert>
  System Notification: Server will be down for 2 hours maitenance at 14:30 PT.
</prime-alert>

<section class='dashboard-cards row'>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Contact
        <a routerLink="/applicant/contact">
          <i class="fa fa-edit fa-2x text-muted"></i>
        </a>
      </div>
      <div class="card-body d-flex justify-content-between">
        <div class="photocol">
          <img class="photo" src="assets/photoPlaceholder.png" alt="Generic placeholder image">
        </div>
        <div class="appcol">
          <p>{{applicant.name}}</p>
          <p>{{applicant.phone}}</p>
          <p>{{applicant.email}}</p>
        </div>

        <i class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Professional
        <a routerLink="/applicant/professional">
          <i class="fa fa-edit fa-2x text-muted"></i>
        </a>
      </div>
      <div *ngIf="applicant.hasCollege"
      class="card-body d-flex justify-content-between">

        <div>
          <p>{{collegeType}}</p>
          <p>License Number: {{licenceNumber}}</p>
          <p>License Expiry Date: {{licenceExpiryDate}}</p>
        </div>

        <i class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>

      </div>
      <div *ngIf="applicant.isWorkingOnBehalf"
           class="card-body d-flex justify-content-between">

        <div>
          <p>Job Title: {{jobTitle}}</p>
        </div>

        <i class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        User Access Acceptance
        <a routerLink="/applicant/access-acceptance">
          <i class="fa fa-edit fa-2x text-muted"></i>
        </a>
      </div>
      <div class="card-body d-flex justify-content-between">
        <p>Renewal Date: {{renewalDate}}</p>
        <i *ngIf="!applicant.hasUAARequiringAttention()" class="fa fa-check-circle text-success fa-3x pull-right" aria-hidden="true"></i>
        <i *ngIf="applicant.hasUAARequiringAttention()" class="fa fa-exclamation-triangle text-warning fa-3x pull-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</section>

<ng-template #emptySection>
  <div class="card-body bg-warning text-center d-flex flex-column align-items-center">
    <p>Please Update Information</p>
  </div>
</ng-template>

<hr class="invisible">

<!--ApplicantEnrollmentList -->
<prime-enrollment-list
  [rowItems]="userSiteEnrollmentData"
  (onSave)="onSave($event)">
</prime-enrollment-list>
