<div class="form-group col-sm-8 p-sm-0">
  <label for="country_{{objectId}}">Country</label>
  <select class="form-control"
          id="country_{{objectId}}"
          name="country_{{objectId}}"
          [ngModel]="address?.country"
          (ngModelChange)="setCountry($event)"
          [required]="isRequired"
          [disabled]="disabled" >
    <option value="null" label="-- Select country --" selected></option>
    <option *ngFor="let country of countryList"
            [value]="country.countryCode">{{country.description}}</option>
  </select>
</div>

<div class="form-group col-sm-8 p-sm-0">
  <label for="province_{{objectId}}">Province</label>
  <select *ngIf="isCanadaUSA(); else NotCanadaUSA" class="form-control"
          id="province_{{objectId}}"
          name="province_{{objectId}}"
          [ngModel]="address?.province"
          (ngModelChange)="address.province = $event"
          [required]="isRequired"
          [disabled]="disabled" >
    <option value="null" label="-- Select {{isCanada() ? 'province' : 'state' }} --" selected></option>
    <option *ngFor="let prov of provList"
            [value]="prov.provCode">{{prov.description}}</option>
  </select>
</div>

<div class="form-group col-sm-8 p-sm-0">
  <label for="street_{objectId}}">Full street address or rural route</label>
  <input class="form-control"
          spellcheck="false"
          type="text"
          id="street_{{objectId}}"
          name="street_{{objectId}}"
          [ngModel]="address?.street"
          (ngModelChange)="address.street = $event"
          [required]="isRequired"
          [disabled]="disabled" />
</div>

<div class="form-group col-sm-8 p-sm-0">
  <label for="city_{objectId}}">City</label>
  <input class="form-control"
          spellcheck="false"
          type="text"
          id="city_{{objectId}}"
          name="city_{{objectId}}"
          [ngModel]="address?.city"
          (ngModelChange)="address.city = $event"
          [required]="isRequired"
          [disabled]="disabled" />
</div>

<div class="form-group col-sm-4 p-sm-0">
  <label for="postalCode_{objectId}}">Postal Code</label>
  <input class="form-control"
          spellcheck="false"
          type="text"
          id="postalCode_{{objectId}}"
          name="postalCode_{{objectId}}"
          [ngModel]="address?.postal"
          (ngModelChange)="address.postal = $event"
          [required]="isRequired"
          [disabled]="disabled" />
</div>

<ng-template #NotCanadaUSA>
  <input class="form-control"
          spellcheck="false"
          type="text"
          id="province_{{objectId}}"
          name="province_{{objectId}}"
          [ngModel]="address?.province"
          (ngModelChange)="address.province = $event"
          [required]="isRequired"
          [disabled]="disabled" />
</ng-template>
