<nav class="breadcrumb d-flex justify-content-between" *ngIf="horizontalScroll">
    <ng-container *ngTemplateOutlet="leftContent"></ng-container>
    <span class="horizontal-scroll">
        <ng-container *ngTemplateOutlet="centerContent"></ng-container>
    </span>
    <ng-container *ngTemplateOutlet="rightContent"></ng-container>
</nav>

<nav class="breadcrumb d-flex justify-content-between" *ngIf="!horizontalScroll">
    <ng-container *ngTemplateOutlet="leftContent"></ng-container>
    <ng-container *ngTemplateOutlet="centerContent"></ng-container>
    <ng-container *ngTemplateOutlet="rightContent"></ng-container>
</nav>


<ng-template #centerContent>
    <ng-content class='d-flex' select="[center]"></ng-content>    
</ng-template>

<ng-template #leftContent>
    <ng-content select="[left]"></ng-content>
</ng-template>

<ng-template #rightContent>
    <ng-content select="[right]"></ng-content>
</ng-template>