<prime-applicant-breadcrumbs
  pageName="Access Acceptance"
  previousPageLink="/applicant/professional"
  nextPageLink="/applicant/review"
  [shouldDisableContinue]="disableContinue()"
  (onSave)="save()">
</prime-applicant-breadcrumbs>

<prime-page-framework>

  <h2 class='prime-title' id="uaa">User Access Acceptance </h2>
  <div>In order to access PharmaNet, you must agree to all the terms and conditions of your access. Otherwise, a manual review will be required and you won’t have access to PharmaNet until you have been approved.
  </div>

  <div>
    <span class="has-float-label" *ngFor="let item of accessAcceptances">
      <h3><b>Section / Clause</b></h3>
      <textarea disabled value={{item.acceptanceClause}}></textarea>
      <input type="checkbox" class="myCheckbox" [(ngModel)]="item.isAccepted">
    </span>
  </div>

  <hr>

  <h2 class='prime-title' id='declare'>Declaration</h2>
  <div>You must complete this declaration before you can proceed any further.</div>
  <div>
    <span class='has-float-label'>
      <textarea disabled value="">I declare the information I provided is complete and accurate. I declare the information I provided is complete and accurate. </textarea>
      <input type="checkbox" class="myCheckbox" [(ngModel)]="isDeclareChecked">
    </span>
  </div>

</prime-page-framework>
