textarea {
  background-color: lightgrey;
  width: 90%;
  height: 7em;
  vertical-align:middle;
  font-size: medium;
}


input[type="checkbox"] {
  vertical-align:middle;
  position:relative;
  white-space: nowrap;

}

.myCheckbox {
  width: 22px;
  height: 22px;
  margin-left: 1.2em;
}
