textarea {
  background-color: lightgrey;
  width: 90%;
  height: 7em;
  vertical-align:middle;
  font-size: medium;
  padding: 0.5em;
}


input[type="checkbox"] {
  vertical-align:middle;
  position:relative;
  white-space: nowrap;

}

.myCheckbox {
  width: 22px;
  height: 22px;
  margin-left:0.6em;
  margin-right: 0.6em;
}

