<prime-applicant-breadcrumbs
  pageName="User Access Acceptance"
  previousPageLink="/applicant/self-declaration"
  [shouldDisableContinue]="disableContinue()"
  [showControls]="shouldShowControls()"
  (onSave)="save()"
  (onCancel)="cancel()">
</prime-applicant-breadcrumbs>


<div>
  <ul *ngFor="let item of accessAcceptances">

    <h3><b>Section / Clause</b></h3>

    <textarea disabled value={{item.acceptanceClause}}></textarea>

    <input  type="checkbox" class="myCheckbox" [(ngModel)]="item.isAccepted">

  </ul>
</div>



