<h1>Demo Page</h1>
<p class="lead">A demonstration of the general-purpose components for PRIME</p>

<hr>

<div class="row">
  <div class="col-sm d-flex">
    <div class="col">
      <h2>Datepicker Component</h2>

      Default. Fluid (block) width.
      <code>&lt;prime-datepicker&gt;&lt;/prime-datepicker&gt;</code>
      <prime-datepicker></prime-datepicker>
      <hr />

      Binding to data.
      <code>&lt;prime-datepicker [(date)]="demoDate"&gt;&lt;/prime-datepicker&gt;</code>
      <prime-datepicker [(date)]="demoDate"></prime-datepicker>
      <pre>{{this.demoDate | json}}</pre>

      <hr />

      Mini. Fits in a button. Plus custom date formatting.
      <code>&lt;prime-datepicker size='mini' dateFormat="yyyy/mm/dd"&gt;&lt;/prime-datepicker&gt;</code>
      <prime-datepicker size='mini' dateFormat="yyyy/mm/dd"></prime-datepicker>
    </div>
  </div>
  <div class="col-sm d-flex">
    <div class="col">
      <h2>Breadcrumbs</h2>

      <code>&lt;prime-breadcrumb&gt;&lt;/prime-breadcrumb&gt;</code>
      <prime-breadcrumb></prime-breadcrumb>

      <p>Click one of the links below to simulate a route change, and watch how the breadcumb automatically populates. <span class='text-muted small'>Known issue: Currently the breadcrumb is not populated until a route change event is detected. That means the breadcrumb will be blank until you click a link.</span></p>

      <ul>
          <li><a routerLink="/demo">Demo page</a></li>
          <li><a routerLink="/demo/ExampleA">/demo/ExampleA</a></li>
          <li><a routerLink="/demo/ExampleB">/demo/ExampleB</a></li>
          <li><a routerLink="/demo/ExampleB/ExampleB-1">/demo/ExampleB/ExampleB-1</a></li>
          <li><a routerLink="/demo/ExampleB/ExampleB-2">/demo/ExampleB/ExampleB-2</a></li>
          <li><a routerLink="/demo/ExampleC">/demo/ExampleC</a></li>
      </ul>

      <router-outlet></router-outlet>
    </div>
    </div>
</div>

<hr />

<div class="row">
  <div class="col">
    <h2>
      Miller Collumns
      <small><a href="https://en.wikipedia.org/wiki/Miller_columns">(wiki)</a></small>
    </h2>

    <prime-miller-columns [data]="millerColumnDummyData"></prime-miller-columns>

  </div>
</div>


<hr />

<div class="row">
  <div class="col">
    <h2>Enrollment List</h2>

    <prime-enrollment-list [rowItems]="enrollmentListDummyData"></prime-enrollment-list>
  </div>
</div>
