<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        User status
        <i class="fa fa-reply fa-flip-horizontal" aria-hidden="true"></i>
      </div>
      <div class="card-body pie-chart-container" #pieChartContainer>
        <ngx-charts-pie-chart
          [view]='pieChartDimension'
          [results]="pieChartData"
          [scheme]="'natural'"
          legend=true
          legendTitle=''
          (select)='onPieChartClick($event)'>
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        Application Progress

        <form class="form-inline">
          <select id="applicationProgressType" class="form-control enrollment-view-selector" [value]="applicationProgressSelector"
                  (change)="applicationProgressSelector = $event.target.value">
            <option *ngFor="let type of SiteAccessProgressSteps" value="{{type}}">
              {{type}}
            </option>
          </select>
          <i class="fa fa-reply fa-flip-horizontal ml-2" aria-hidden="true"></i>
        </form>

      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between" *ngFor="let siteAccess of applicationProgress()">
            <span class='application-text' tooltip="{{ siteAccess.person.name }} &ndash; {{ siteAccess.site.name}}" container="body"
                  delay=350>
              {{ siteAccess.person.name }} &ndash; {{ siteAccess.site.name}}
            </span>
          <prime-info-button [targetId]="siteAccess.person.objectId">
          </prime-info-button>
        </li>
      </ul>
    </div>
  </div>

</div>

