<prime-page-framework>

  <h2 id="regInfo">Account Created Successfully</h2>
  <!--
  <div>
    <label class="has-float-label">
      <input type="text" class="form-control prime-input-large" id="regCompleteRegID" name="regCompleteRegID" [ngModel]="registrant.primeUserId" placeholder=" " disabled>
      <span>User ID</span>
    </label>
  </div>
  -->
  Your registration account has been created successfully. Your User ID is <b>{{registrant.primeUserId}}</b>


  <h2 id='contactInfo'>Complete Identity Proofing</h2>
  Please log in to complete identity proofing. This is required for you to finish the registration process and obtain a Ministry of Health login credential.
  <form >
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regCompleteUserID" name="regCompleteUserID" [(ngModel)]="registrant.primeUserId" [disabled]="true" placeholder=" ">
        <span>User ID</span>
      </label>

      <label class="has-float-label">
        <input type="password" class="form-control prime-input-large" id="regCompletePW" name="regCompletePW" placeholder=" ">
        <span>Password</span>
      </label>
      <prime-reg-login-mfa>
      </prime-reg-login-mfa>
    </div>
  </form>
</prime-page-framework>

