@import 'variables.scss';

.action-block {
  height: 300px;
}

.card-header {
  font-size: 14px;
  align-items: center;
}

.header-row {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 40px;
  background-color: $gray;
  // justify-content: space-between;
  align-items: center;
  // padding: 15px;
  // margin-top: 15px;
  font-weight: bold;
}



.values {
  align-self: flex-start;
}
