<common-page-framework layout="blank">

  <h1>Pharmanet Access</h1>

  <h2 class="border-bottom">
    Pharmanet Access - helper text
  </h2>
  <prime-page-sections layout="noTips">
    <ng-container *ngIf="!results; else grid">
      <enroll-action-block (clicked)="openModal()" label="Add Organization" text="No Organizations"
        class="action-block">
      </enroll-action-block>
    </ng-container>
  </prime-page-sections>
  <ng-container *ngIf="fa$ | async as fa">
    <form *ngFor="let fg of fa" [formGroup]="fg">
      {{fg.controls.name.value}}
    </form>
  </ng-container>
</common-page-framework>
<!-- <ng-template #grid> -->

<!-- <ng-template> -->

<!-- glyphicon glyphicon-remove-circle -->
