<div class='d-flex justify-content-between progress-row-content' [@growVertical] *ngIf="open">

  <div class="col">
    <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>
    <p><em>{{description}}</em></p>
    <p><small>Submitted Date: {{ data ? data.formatDateShort(data.requestDate) : 'n/a'}}</small></p>
  </div>

  <div class="col">
    <div class="progressSlider">
      <!-- Labels -->
      <div class="progressSlider--text">
        <div class="progressItem">
          <div class="progressText">Verifier</div>
        </div>
        <div class="progressItem">
          <div class="progressText">PharmaNet user</div>
        </div>
        <div class="progressItem">
          <div class="progressText">MoH</div>
        </div>
        <div class="progressItem active">
          <div class="progressText">Provisioner</div>
        </div>
      </div>

      <!-- The progress bar line / dots -->
      <div class="progressSlider--bar">
        <div class="progressBarMarker"
             *ngFor="let x of iterableNumberOfSteps">
        </div>
        <div class="progressSlider--dot"
             [style.left]="activeStepIndex * 33 + '%'"></div>
      </div>
    </div>
  </div>

  <div *ngIf="isAccepted" class="col d-inline-flex flex-column access-reason">
    <!-- New enrollments -->
    <select *ngIf="!disableReason" id="reasonForAccess"
            class="form-control drop-dl-box-15 color"
            [(ngModel)]="accessReason">
      <option value="Please Select" selected>Please Select</option>
      <option *ngFor="let reason of accessReasons" [value]="reason">{{reason}}</option>
    </select>
    <select *ngIf="disableReason" id="reasonForAccess"
            class="form-control drop-dl-box-15 color"
            [value]="accessReason"
            disabled>
      <option [value]="accessReason" selected>{{accessReason}}</option>
    </select>
  </div>

  <div *ngIf="isDeclined" class="col d-inline-flex flex-column access-reason">
    <!-- New enrollments -->
    <select *ngIf="!disableReason" id="reasonForAccess"
            class="form-control drop-dl-box-15 color"
            [(ngModel)]="declineReason">
      <option value="Please Select" selected>Please Select</option>
      <option *ngFor="let reason of declineReasons" [value]="reason">{{reason}}</option>
    </select>
    <select *ngIf="disableReason" id="reasonForAccess"
            class="form-control drop-dl-box-15 color"
            [value]="declineReason"
            disabled>
      <option [value]="declineReason" selected>{{declineReason}}</option>
    </select>
  </div>
</div>
