@import 'variables.scss';

.prime-container {
  padding: 0 $container-gutter-size;

  @include media-breakpoint-down(md){
    padding: 0 ($container-gutter-size / 2);
  }

  @include media-breakpoint-down(sm){
    padding: 0 ($container-gutter-size / 5);
  }
}
