<div class="mr-2">
<!--
  Original checkmark design. Can be removed if it's decided we stick with the buttons.
  <a class='mx-1'
    (click)="onRejected.emit()"
    [tooltip]="labelReject"
    [attr.aria-label]="labelReject"
    delay="200"
    container='body'>
      <i class="fa fa-times-circle fa-2x text-danger"></i>
  </a>

  <a class='mx-1'
    (click)="onAccepted.emit()"
    [tooltip]="labelAccept"
    [attr.aria-label]="labelAccept"
    delay="200"
    container='body'>
      <i class="fa fa-check-circle fa-2x text-success"></i>
  </a> -->

  <button class="btn btn-danger mx-2"
    (click)="onRejected.emit()"
    [attr.aria-label]="labelReject"
    [tooltip]="labelReject"
    delay="200"
    container='body'>
      Decline
  </button>

  <button class="btn btn-success mx-2"
    (click)="onAccepted.emit()"
    [attr.aria-label]="labelAccept"
    [tooltip]="labelAccept"
    delay="200"
    container='body'>
      Accept
  </button>

</div>
