<prime-page-framework>

<ng-container *ngIf="showApplicantNewText; else applicantChangeText">
  
    <h1 id="regInfo">Enrolment Completed</h1>
    <div>
      <h2>
        Your enrolment application was submitted successfully.
        Please wait for the provisioner to provision PharmaNet access for you.
        You will be asked to confirm the provisioning once the provisioner completes their tasks.
      </h2>
    </div>
</ng-container>
  <div>
    <label class="has-float-label">
      <button type="button"
              class="btn btn-primary mx-2"
              (click)="continue()"
              tabindex="0">Ok</button>
    </label>
  </div>

</prime-page-framework>

<ng-template #applicantChangeText>
    <h1 id="regInfo">Provisioning Confirmed</h1>
    <div>
      <h2>
        Thank you for confirming the provisioning at the specific sites. You now have access to PharmaNet at those confirmed sites.
      </h2>
    </div>
</ng-template>