<h1>Security</h1>
<h3>Multi Factor Authentication Methods</h3>

<!-- Use Mobile/SMS for Authorization OPTION -->
<div>
  <!-- 
    Insert right after id="mobile_sms_auth":
      [checked]="????"
      (click)="toggleCheckBox()
  -->
  <div>
    <h2 class='border-bottom'>  
      <input type="checkbox"
             name="mobile_sms_auth"
             id="mobile_sms_auth"
             [(ngModel)]='useMobile'/>
      Use Mobile/SMS for Authorization
    </h2>
    <div class="form-group col-sm-4 p-sm-0">
      <!-- isCanada() still in progress, will be added later on-->
        <prime-phone-number [displayMask]="true"
                            [(phoneNumber)]="registrant.phoneNumber"
                            [disabled]="!useMobile">
        </prime-phone-number>
    </div>
  </div>

  <ng-content select="[identityInstruct]"></ng-content>
  <prime-page-sections layout='tips'>
      <aside>
        Details<br>
        Activate for enhanced account security<br><br><br>
      </aside>
  </prime-page-sections>
</div>

<!-- Use Security Key OPTION -->
<div>
  <!-- 
    Insert right after id="securtiy_key":
     [checked]="????" 
     (click)="toggleCheckBox()
  -->
  <div>
    <h2 class='border-bottom'>  
      <input type="checkbox"
             name="security_key"
             id="security_key"/>
      Use Security Key
    </h2>
  </div>
  
  <ng-content select="[identityInstruct]"></ng-content>
  
  <prime-page-sections layout='tips'>
    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">Security Key</label>
        <p> This is an informative text blurb </p>
      </div>
  
      <aside>
        Details<br>
        Activate for enhanced account security<br><br><br>
      </aside>
  </prime-page-sections>
</div>

<!-- Use Mobile App Authentication OPTION -->
<div>
  <!-- 
    Insert right after id="securtiy_key":
      [checked]="????"
      (click)="toggleCheckBox()
  --> 
  <div>
    <h2 class='border-bottom'>  
      <input type="checkbox"
             name="mobile_app_auth"
             id="mobile_app_auth"/>
      Use Mobile App Authentication
    </h2>
  </div>
    
  <ng-content select="[identityInstruct]"></ng-content>
    
  <prime-page-sections layout='tips'>
    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">App Code</label>
        <p> This is an informative text blurb </p>
    </div>
    
    <aside>
      Details<br>
      Activate for enhanced account security<br><br><br>
    </aside>
  </prime-page-sections>
</div>