@import 'variables.scss';

:host {
  background-color: $gray-400;
  width: 100%;
}

.progressSlider {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.progressItem {
  display: inline-flex;
  position: relative;
}

p:first-of-type, .fa-quote-left {
  padding-top: 1rem;
  margin-bottom: 0;
}


.progressSlider--text {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
}

.progressSlider--bar {
  display: flex;
  position: relative;
  flex-basis: calc(100% - 20px);
  justify-content: space-between;
  background: $gray-500;
  height: 2px;
  margin: 0.75em auto;
}

.progressSlider--dot {
  display: block;
  width: 15px;
  height: 15px;
  background: #00800080;
  position: absolute;
  transform: translateY(-50%) translateX(-20%);
  left: 0;
  transition: 0.3s;
  background: $gray-600;
  border-radius: 100%;
}

.progressBarMarker {
  height: 8px;
  width: 8px;
  border-radius: 100%;
  background: $gray-600;
  transform: translateY(-33%);  //Center vertically
}
