  <div class='d-flex justify-content-between progress-row-content' [@growVertical] *ngIf="open">

    <div class="col">
      <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>
      <p><em>{{description}}</em></p>
      <p><small>Submitted Date: {{ data ? data.formatDateShort(data.requestDate) : 'n/a'}}</small></p>
    </div>

    <div class="col">
      <div class="progressSlider">
        <!-- Labels -->
        <div class="progressSlider--text">
          <div class="progressItem">
            <div class="progressText">Verifier</div>
          </div>
          <div class="progressItem">
            <div class="progressText">PharmaNet user</div>
          </div>
          <div class="progressItem">
            <div class="progressText">MoH</div>
          </div>
          <div class="progressItem active">
            <div class="progressText">Provisioner</div>
          </div>
        </div>

        <!-- The progress bar line / dots -->
        <div class="progressSlider--bar">
          <div class="progressBarMarker"
            *ngFor="let x of iterableNumberOfSteps">
          </div>
          <div class="progressSlider--dot"
          [style.left]="activeStepIndex * 33 + '%'"></div>
        </div>
      </div>
      <!-- TODO: Remove the below click! Left in for dev/demo purposes. -->
      <!-- <p class='m-0 btn btn-sm btn-link' (click)="incrementStatusDevOnly()" ><small>DEV: Increment Progress</small></p> -->
    </div>
  </div>

