.terms-and-conditions {
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;

  p:last-of-type {
    margin-bottom: 30px;
  }
}

h1 {
  display: inline-block !important;
}
#printButton {
  margin-top: 30px;
}
