<h1>Terms and Conditions</h1>
<!--
<button type='button' class='btn btn-primary pull-right' id='printButton' (click)="print()">Print</button>

<div class="clearfix"></div>
<hr> -->

<div class="terms-and-conditions">
  <div id="print-section">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quos ex eum tempora, libero totam asperiores iusto, natus
      ad, consequatur ab. Quia cumque eius quos alias nulla laboriosam reiciendis laborum.
    </p>
    <p>
      Veniam commodi rerum molestias, similique assumenda facere deserunt, fugit corrupti quam modi libero nostrum tempora ratione
      maiores. Quos fugit quibusdam dicta, esse molestias nemo praesentium, cum cumque amet omnis ullam?
    </p>
    <p>
      Ad tempore vel earum harum obcaecati ipsum eum possimus incidunt suscipit eaque, consectetur tenetur cumque rerum eligendi?
      Delectus, dolore excepturi autem maxime, corporis deleniti laborum porro distinctio nesciunt nemo quasi!
    </p>
    <p>
      Ea quidem ullam ratione cumque autem nobis magnam in quaerat quisquam animi hic dolores nesciunt sunt eveniet veniam consectetur
      mollitia qui voluptas a rem ex, rerum natus. Temporibus, sunt impedit.
    </p>
    <p>
      Odio aperiam minima illum fugiat. Et recusandae, placeat dicta iure voluptates repellat facilis labore ab, quod accusamus
      sunt eum voluptatibus repudiandae! Voluptatem quidem ipsum cum rerum, deserunt facilis commodi vero?
    </p>
    <p>
      Quidem quaerat numquam asperiores nostrum et laudantium cupiditate, autem quibusdam voluptas nihil veritatis sed quo eos
      quia temporibus beatae at nam officiis dicta veniam laborum assumenda mollitia. Repellendus, rerum aliquid!
    </p>
    <p>
      Distinctio excepturi ea illum. At delectus, impedit facere autem perferendis perspiciatis? Dolores tempore illo, optio deserunt
      esse sed! Provident praesentium hic et laudantium nemo obcaecati eius facilis distinctio mollitia accusamus!
    </p>
    <p>
      Maxime nam voluptate quisquam accusamus expedita quo architecto itaque, nobis aut vitae incidunt quae rerum nemo asperiores
      iste et, suscipit sunt eos earum voluptas. Libero dicta non maxime praesentium quas.
    </p>
    <p>
      Harum, laborum laboriosam nostrum voluptate sunt, debitis adipisci enim totam voluptas repellat provident, autem ex blanditiis
      placeat rerum? Enim voluptates repudiandae ratione saepe earum est dolores repellat sapiente iure autem.
    </p>
    <p>
      Laudantium, tempora doloremque! Quae quia minima, error possimus temporibus hic. Consequuntur corporis ipsum autem nisi architecto
      aspernatur, harum fugit nam totam ipsa consectetur debitis inventore corrupti modi cum ex nostrum?
    </p>
  </div>

  <div class="checkbox checkbox-success checkbox-inline">
    <input class="input-lg" id="agree-acceptance" type="checkbox">
    <label class="" for="agree-acceptance"><strong i18n="@@TermsOfServiceReadAndUnderstand">I acknowledge and accept the above User Access Conditions</strong></label>
  </div>


  <button tabindex="0" class="btn btn-default pull-right" (click)="print()">
    <i class="fa fa-print fa-lg pointer" aria-hidden="true"></i>
    Print
  </button>

  <div class="clearfix"></div>


</div>


<hr>


<prime-form-footer
(onContinue)='continue()'
(onBack)="back()"
[locked]="!canContinue()"></prime-form-footer>
