<button type="button" class="btn btn-primary mx-2" (click)="openModal(template)">
  Login
</button>
<ng-template #template>
  <div class="modal-header">
    <h4 *ngIf="showOptions" class="modal-title">Select a method to verify yourself</h4>
    <h4 *ngIf="showVerifyPIN" class="modal-title">Enter your Verification code</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div *ngIf="showOptions" class="modal-body">
    <form>
      <div>
        <input type="radio" name="mfaOption" value="sms" [(ngModel)]="mfaSms" />
        <label>SMS/Text</label>
        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="regMFAPhone" name="regMFAPhone" [ngModel]="this.registrant.mfaOptionSMSPhone ? this.maskPhone(this.registrant?.mfaOptionSMSPhone) : null" placeholder=" " disabled>
          <span>Phone</span>
        </label>
      </div>

      <hr>

      <div>
        <input type="radio" name="mfaOption" value="key" [(ngModel)]="mfaKey" />
        <label>Physical Security Key</label>
        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" placeholder=" " disabled>
          <span>Instructions to follow</span>
        </label>
      </div>

      <hr>

      <div>
        <input type="radio" name="mfaOption" value="app" [(ngModel)]="mfaApp" >
        <label>Mobile App Authentication</label>
      </div>
      <img class="img-thumbnail" src="assets/mobile_app_icon_android.png" alt="Generic placeholder image">
      <img class="img-thumbnail" src="assets/mobile_app_icon_apple.png" alt="Generic placeholder image">
      <img class="img-thumbnail" src="assets/mobile_app_icon_windows.png" alt="Generic placeholder image">
    </form>
  </div>

  <div *ngIf="showVerifyPIN" class="modal-body">
    <form>
      <div>
        <label class="has-float-label">
          <input type="text" id="pin" name="pin" class="form-control prime-input-large" [(ngModel)]="pin" placeholder=" ">
          <span>Verification code</span>
        </label>
      </div>

      <div><a href="javascript:void(0)" (click)="chooseOption()">Try a different method</a>
      </div>
    </form>
  </div>

  <div *ngIf="showVerifiedPIN" class="modal-body">
    <div style="text-align:center">
      <i class="fa fa-check-circle text-success fa-3x" aria-hidden="true"></i>
      <h1>Code Verified</h1>
      <span>To complete your account please continue to Identity Proofing</span>
    </div>
  </div>

  <div class="modal-footer">

    <button *ngIf="!showVerifiedPIN" type="button" class="btn btn-default" (click)="modalRef.hide()" tabindex="1">
      Cancel
    </button>
    <button *ngIf="showVerifiedPIN" type="button" class="btn btn-default" (click)="modalRef.hide()" tabindex="1">
      Later
    </button>

    <button *ngIf="showOptions" type="button" class="btn btn-default" (click)="sendPIN()" tabindex="1" [disabled]="!mfaOptionCheck()">
      Send Verification code
    </button>
    <button *ngIf="showVerifyPIN" type="button" class="btn btn-default" (click)="verifyPIN()" tabindex="1" [disabled]="!pinCheck()">
      Verify Verification code
    </button>
    <button *ngIf="showVerifiedPIN" type="button" class="btn btn-default" (click)="verifiedPIN()" tabindex="1">
      Identity Proofing
    </button>

  </div>

</ng-template>
