@import "../../variables.scss";
.relative {
  position: relative;
}

.upload-section {
  transition: 0.3s;
  @media screen and (max-width: $screen-md) {
    transform: none !important //Override element styling from Angular
  }
}
