@import 'variables.scss';

prime-applicant-breadcrumbs {

  prime-wizard-progress-bar {
    // Simple styling for prototype, doesn't play nice with mobile breakpoints right now.
    padding: 0 2rem;
  }

  .controls {
    // Match the width of the left-most breadcrumb text.
    min-width: calc(15em + 100px);
    display: flex;
    justify-content: flex-end;
  }

 .breadcrumb-text {
   // Keeps the wizard progress bar centered, because this is the difference in widths between the breadcrumb text and the arrows/buttons.
  //  margin-right: 100px;
   min-width: calc(15em + 100px); // Roughly the width of the largest text, "Access Acceptance." Tries to keep it consistently sized regardless of currently displayed text.
 }
 // Override defaults, shrink vertically.
 .alert, .alert .close {
   padding: 0.35rem 1.25rem;
 }
 .alert {margin-bottom: 0;}

 .disabled {
   color: #58595a; //Desaturated same hue
   opacity: 0.8;
   pointer-events: none;
   cursor: not-allowed;
 }

}
