<div class="enrollment-list-controls bg-light">
  <form class="form-inline">
    <span class="has-float-label">
        <input class="form-control bg-transparent" type="search" placeholder="Search" aria-label="Search" (input)="search($event.target.value)">
        <span>Search</span>
    </span>
  </form>

  <form class="form-inline">

    <label class="has-float-label">
      <button class='btn btn-default mr-3' (click)="sort()">
        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
      </button>
      <prime-add-user-button>
        class='fix-right'>
      </prime-add-user-button>
    </label>
    <!--
      <label class="has-float-label">
        <select id="enrollmentViewSelector" class="form-control enrollment-view-selector" [value]="viewTypeSelector" (change)="viewTypes($event.target.value)">
            <option value="View All">All</option>
            <option *ngFor="let status of EnrollmentStatus" value="{{status}}">
              {{status}}
            </option>
        </select>
        <span>View</span>
      </label>
      -->
  </form>
</div>

<div class="enrollment-item-container">
  <div class="enrollment-item-inner">
    <prime-enrollment-row
      *ngFor="let item of data"
      [rowData]='item'
      [primaryType]='primaryType'
      (onRowOpened)='rowOpened($event)'>
    </prime-enrollment-row>
  </div>
</div>
