<h1>Review your application</h1>

<button tabindex="0" class="btn btn-default" (click)="print()">
  <i class="fa fa-print fa-lg pointer" aria-hidden="true"></i>
  Print
</button>

<div class="row">
  <div class="col-md-6">
    <h2>Profesional Information</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <label for="collegeName">Professional College Name</label>
          </div>
          <div class="col-xs-6">
            <span id="collegeName"><strong>{{collegeText}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6" *ngIf="applicant.goesToCollege()">
            <label for="licenseClass">License Class</label>
          </div>
          <div class="col-xs-6">
            <span id="licenseClass"><strong>{{applicant.licenseClass}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="licenseNumber">License Number</label>
          </div>
          <div class="col-xs-6">
            <span id="licenseNumber"><strong>{{applicant.licenseNumber}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="licenseExpiry">License Expiry</label>
          </div>
          <div class="col-xs-6">
            <span id="licenseExpiry"><strong>
              {{convertSimpleDateToText(applicant.licenseExpiry)}}
            </strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.goesToCollege(Colleges.CPSBC)">
          <div class="col-xs-6">
            <label for="MSPBillingNumber">MSP Billing Number</label>
          </div>
          <div class="col-xs-6">
            <span id="MSPBillingNumber"><strong>{{applicant.MSPBillingNumber}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.goesToCollege(Colleges.CRNBC)">
          <div class="col-xs-6">
            <label for="advancedPraticeCerts">Advanced Practice Certification(s)</label>
          </div>
          <div class="col-xs-6">
            <span id="advancedPraticeCerts"><strong>{{applicant.advancedPracticeCerts.join(", ")}}</strong></span>
          </div>
        </div>
        <div class="row"  *ngIf="applicant.goesToCollege(Colleges.None)">
          <div class="col-xs-6">
            <label for="licenseClass">Is a device provider</label>
          </div>
          <div class="col-xs-6">
            <span id="licenseClass"><strong>{{applicant.isDeviceProvider}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.college === Colleges.None && applicant.isDeviceProvider === false">
          <div class="col-xs-6">
            <label for="licenseClass">On Behalf of Job Title</label>
          </div>
          <div class="col-xs-6">
            <span id="licenseClass"><strong>TODO</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="requestStartDate">Request Access Start Date</label>
          </div>
          <div class="col-xs-6">
            <span id="requestStartDate"><strong>
              {{convertSimpleDateToText(applicant.requestStartDate)}}
            </strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.requestEndDate.year">
          <div class="col-xs-6">
            <label for="requestEndDate">Access End Date</label>
          </div>
          <div class="col-xs-6">
            <span id="requestEndDate"><strong>
              {{convertSimpleDateToText(applicant.requestEndDate)}}
            </strong></span>
          </div>
        </div>
        <a class='edit-link' routerLink="/professional-info">VIEW PROFESSIONAL INFORMATION</a>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Contact Information</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-4">
            <label for="name">Name</label>
          </div>
          <div class="col-xs-8">
            <span id="name"><strong>{{applicant.fullName}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="phone">Phone Number</label>
          </div>
          <div class="col-xs-8">
            <span id="phone"><strong>{{applicant.phoneNumber}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="email">Email Address</label>
          </div>
          <div class="col-xs-8">
            <span id="email"><strong>{{applicant.emailAddress}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="altPhone">Alternate Phone Number</label>
          </div>
          <div class="col-xs-8">
            <span id="altPhone"><strong>{{applicant.altPhoneNumber}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="altEmail">Alternate Email Address</label>
          </div>
          <div class="col-xs-8">
            <span id="altEmail"><strong>{{applicant.altEmailAddress}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="streetNum">Street #</label>
          </div>
          <div class="col-xs-8">
            <span id="streetNum"><strong>{{applicant.address.streetNum}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="streetSuffix">Street Suffix</label>
          </div>
          <div class="col-xs-8">
            <span id="streetSuffix"><strong>{{applicant.address.streetSuffix}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="suite">Unit, Suite #</label>
          </div>
          <div class="col-xs-8">
            <span id="suite"><strong>{{applicant.address.suite}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="street">Street</label>
          </div>
          <div class="col-xs-8">
            <span id="street"><strong>{{applicant.address.street}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="streetType">Street Type</label>
          </div>
          <div class="col-xs-8">
            <span id="streetType"><strong>{{applicant.address.streetType}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="streetDirection">Street Direction</label>
          </div>
          <div class="col-xs-8">
            <span id="streetDirection"><strong>{{applicant.address.streetDirection}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="city">City</label>
          </div>
          <div class="col-xs-8">
            <span id="city"><strong>{{applicant.address.city}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="province">Province</label>
          </div>
          <div class="col-xs-8">
            <span id="province"><strong>{{applicant.address.province}}</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <label for="country">Country</label>
          </div>
          <div class="col-xs-8">
            <span id="country"><strong>{{applicant.address.country}}</strong></span>
          </div>
        </div>

        <hr>

        <ng-container *ngFor="let count of [1, 2, 3];">
          <div class="row">
            <div class="col-xs-6">
              <label for="label{{count}}">Security Question {{count}}</label>
            </div>
            <div class="col-xs-6">
              <span id="label{{count}}"><strong>Security Response {{count}}</strong></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <label for="question{{count}}">{{ applicant.securityQuestions[count - 1]?.question}}</label>
            </div>
            <div class="col-xs-6">
              <span id="question{{count}}"><strong>{{applicant.securityQuestions[count - 1]?.answer}}</strong></span>
            </div>
          </div>
        </ng-container>

        <a class='edit-link' routerLink="/contact-info">EDIT CONTACT INFORMATION</a>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-4">
    <h2>Site Access</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <ul>
          <li *ngFor="let site of applicant.namedCollections">
            {{ site.siteName + ", " + site.city + " (" + site.siteType + ")" }}
          </li>
        </ul>
        <a class='edit-link' routerLink="/site-access">VIEW SITE ACCESS</a>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h2>Self Declaration</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <label for="name">Have you ever been the subject of an order or conviction for an information contravention?</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.hasInformationContraventionOrder ? "Yes" : "No"}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.hasInformationContraventionOrder">
          <div class="col-xs-6">
            <label for="name">Details</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.informationContraventionOrderDetails}}</strong></span>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <label for="name">Have you ever had your registration with a governing body of a health profession suspended or cancelled?</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.hasBeenSuspended ? "Yes" : "No"}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.hasBeenSuspended">
          <div class="col-xs-6">
            <label for="name">Details</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.beenSuspendedDetails}}</strong></span>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xs-6">
            <label for="name">Have you ever had any limits or conditions imposed on your license as a result of disciplinary actions taken by a governing body of a health profession?</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.hasHadLimitsOrConditions ? "Yes" : "No"}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.hasHadLimitsOrConditions">
          <div class="col-xs-6">
            <label for="name">Details</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.hadLimitsOrConditionsDetails}}</strong></span>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xs-6">
            <label for="name">Have you ever had your access to PharmaNet suspended or revoked?</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.hasPharmaNetEverRevoked ? "Yes" : "No"}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.hasPharmaNetEverRevoked">
          <div class="col-xs-6">
            <label for="name">Details</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.PharmaNetEverRevokedDetails}}</strong></span>
          </div>
        </div>
        <hr>

        <div class="row" *ngIf="applicant.hasPharmaNetEverRevoked">
          <div class="col-xs-6">
            <label for="name">Has the circumstances that lead to the revocation been resolved?</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.hasRevocationBeenResolved ? "Yes" : "No"}}</strong></span>
          </div>
        </div>
        <div class="row" *ngIf="applicant.hasRevocationBeenResolved">
          <div class="col-xs-6">
            <label for="name">Details</label>
          </div>
          <div class="col-xs-6">
            <span id="name"><strong>{{applicant.revocationBeenResolvedDetails}}</strong></span>
          </div>
        </div>

        <a class='edit-link' routerLink="/self-declaration">EDIT SELF DECLARATION</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Authorize your application</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis porro cumque nobis atque eligendi natus ipsum
      mollitia iure eum sunt, est impedit exercitationem earum blanditiis consequuntur, cum nulla quis asperiores. Tempora
      doloribus quo, atque fugiat necessitatibus doloremque provident voluptas fuga explicabo tempore quas ea aut sunt fugit
      magnam corrupti tenetur. Iste corrupti autem blanditiis aliquid praesentium? Corrupti autem eligendi alias! Unde architecto
      odio soluta enim neque commodi incidunt vero excepturi, rem quisquam totam amet, culpa tempora modi cumque harum, atque
      velit reiciendis nobis vel temporibus sint. Eveniet commodi quidem a. Voluptatibus magnam illo cupiditate voluptatum
      vero sit ullam necessitatibus iste nihil accusantium corporis molestiae obcaecati velit repudiandae fuga explicabo,
      similique libero atque asperiores cum aut sunt nisi? Ex, dolor eum.</p>

    <div class="checkbox checkbox-success checkbox-inline">
      <input class="input-lg" id="authorize" type="checkbox">
      <label class="" for="authorize"><strong i18n="@@AuthroizeApplication">I authorize the application (GET TEXT)</strong></label>
    </div>
  </div>
</div>

<hr>


<div class="row">
  <div class="col-md-12">
    <captcha apiBaseUrl="https://captcha-service-gcpe-mygovbc-demo.pathfinder.gov.bc.ca" nonce="PrimeBC" (onValidToken)="onValidToken($event)"></captcha>
  </div>
</div>

<hr>

<prime-form-footer (onContinue)='continue()' (onBack)="back()" [locked]="!canContinue()"></prime-form-footer>
