<prime-core-breadcrumb>
  <div left>
    <a routerLink="/provisioner/">Dashboard</a> /
    <strong>Provision by {{ IS_SHOWING_PERSON ? "User" : "Site" }}</strong>
  </div>
</prime-core-breadcrumb>

<prime-page-framework>

  <div class="row" *ngIf="IS_SHOWING_PERSON; else siteDetails">
    <div class="col mx-3">
      <div class="form-group row has-float-label">
        <label for="lastName">
          Last Name
        </label>
        <input type="text" disabled class="form-control" id="lastName" name="lastName" [value]="person?.lastName">
      </div>

      <div class="form-group row has-float-label">
        <label for="middleName">
          Middle Name
        </label>
        <input type="text" disabled class="form-control" id="middleName" name="middleName" [value]="person?.middleName">
      </div>

      <div class="form-group row has-float-label">
        <label for="firstName">
          First Name
        </label>
        <input type="text" disabled class="form-control" id="firstName" name="firstName" [value]="person?.firstName">
      </div>
    </div>

    <div class="col mx-3">
      <div class="form-group row has-float-label">
        <label for="middleName">
          College Number
        </label>
        <input type="text" disabled class="form-control" id="collegeNumber" name="collegeNumber" [value]="collegeCurrValue(person?.collegeCertificationList[0].collegeType)">
      </div>

      <div class="form-group row has-float-label">
        <label for="firstName">
          License Number
        </label>
        <input type="text" disabled class="form-control" id="licenseNumber" name="licenseNumber" [value]="person?.collegeCertificationList[0].licenceNumber">
      </div>
    </div>


    <div class="col mx-3">
      <div class="form-group row has-float-label">
        <label for="email">
          Email
        </label>
        <input type="text" disabled class="form-control" id="email" name="email" [value]="person?.email ? person.email : ''">
      </div>
      <div class="form-group row has-float-label">
        <label for="phone">
          Phone number
        </label>
        <input type="text" disabled class="form-control" id="phone" name="phone" [value]="person?.phone ? person.phone : ''">
      </div>
    </div>

  </div>

  <ng-template #siteDetails>
    <div class="row">

      <div class="col mx-3">
        <div class="form-group row has-float-label">
          <label for="collection">
            Collection
          </label>
          <input type="text" disabled class="form-control" id="collection" name="collection" [value]="findCollectionFromSite(site)?.name">
        </div>
        <div class="form-group row has-float-label">
          <label for="middleName">
            Site
          </label>
          <input type="text" disabled class="form-control" id="name" name="name" [value]="site?.name.split(' ').splice(-1)">
        </div>
      </div>

      <div class="col mx-3">
        <div class="form-group row has-float-label">
          <label for="address">
            Address
          </label>
          <input type="text" disabled class="form-control" id="address" name="address" [value]="site?.address">
        </div>
        <div class="form-group row has-float-label">
          <label for="PEC">
            PEC
          </label>
          <input type="text" disabled class="form-control" id="PEC" name="PEC" [value]="site?.PEC">
        </div>
      </div>

      <div class="col mx-3">
        <div class="form-group row has-float-label">
          <label for="vendor">
            Vendor
          </label>
          <input type="text" disabled class="form-control" id="vendor" name="vendor" [value]="site?.vendor">
        </div>
        <div class="form-group row has-float-label">
          <label for="siteType">
            Site
          </label>
          <input type="text" disabled class="form-control" id="siteType" name="siteType" [value]="site?.siteType">
        </div>
      </div>

    </div>
  </ng-template>

</prime-page-framework>

<div *ngIf="IS_SHOWING_PERSON; else userList">
  <prime-provisioner-list
    [rowItems]="provisionerSiteData"
    primaryType='User'
  ></prime-provisioner-list>
</div>
<ng-template #userList>
  <prime-provisioner-list
    [rowItems]="provisionerUserData"
    primaryType='Site'
  ></prime-provisioner-list>
</ng-template>
