<prime-core-breadcrumb>
  <div left>
    <a routerLink="/provisioner/">Dashboard</a> /
    <strong>Provision by {{ IS_SHOWING_PERSON ? "User" : "Site" }}</strong>
  </div>
</prime-core-breadcrumb>

<prime-page-framework>

  <div class="row" *ngIf="IS_SHOWING_PERSON; else siteDetails">
     <div class="col mx-3">
      <div class="form-group row has-float-label">
        <label for="legalName">
          Legal Name
        </label>
        <input type="text" disabled class="form-control" id="legalName" name="legalName" [value]="person?.legalName">
      </div>

       <div class="form-group row has-float-label">
         <label for="DOB">
           Date of Birth
         </label>
         <input type="text" disabled class="form-control" id="DOB" name="DOB" [value]="person?.dateOfBirthShort">
       </div>

       <div class="form-group row has-float-label">
         <label for="email">
           Email
         </label>
         <input type="text" disabled class="form-control" id="email" name="email" [value]="person?.email ? person.email : ''">
       </div>

       <div class="form-group row has-float-label">
         <label for="postcalCode">
           Postal Code
         </label>
         <input type="text" disabled class="form-control" id="postcalCode" name="postcalCode" [value]="person?.address.postal">
       </div>



     </div>

    <div class="col mx-3">

      <div class="form-group row has-float-label">
        <label for="prefName">
          Preferred Name
        </label>
        <input type="text" disabled class="form-control" id="prefName" name="prefName" [value]="person?.name">
      </div>


      <div class="form-group row has-float-label">
        <label for="phone">
          Phone Number
        </label>
        <input type="text" disabled class="form-control" id="phone" name="phone" [value]="person?.phone ? person.phone : ''">
      </div>

      <div class="form-group row has-float-label">
        <label for="renewalDate">
          Renewal Date
        </label>
        <input type="text" disabled class="form-control" id="renewalDate" name="renewalDate" [value]="person?.renewalDateShort" >
      </div>


      <div class="form-group row has-float-label">
        <label for="userclass">
         User Class
        </label>
        <input type="text" disabled class="form-control" id="userclass" name="userclass" value="Pharmacist">
      </div>
    </div>


  </div>

  <div class="row"  *ngIf="IS_SHOWING_PERSON;">
    <div class="col mx-3">
      <div class="form-group row has-float-label">
        <label for="limits">
          Limits and conditions
        </label>
        <input type="text" disabled class="form-control" id="limits" name="limits"  value=" ">
      </div>
    </div>

    <div class="col mx-3">
      <div class="form-group row has-float-label">
        <label for="limits">
          Practitioner College ID
        </label>
        <input type="text" disabled class="form-control" id="limits" name="limits"  [value]="person?.getLicenseNumber()">
      </div>
    </div>

  </div>

  <ng-template #siteDetails>
    <div class="row">
      <div class="col mx-3">
        <div class="form-group row has-float-label">
          <label for="collection">
            Organisation
          </label>
          <input type="text" disabled class="form-control" id="collection" name="collection" [value]="findCollectionFromSite(site)?.title">
        </div>
      </div>
      <div class="col mx-3">
        <div class="form-group row has-float-label">
          <label for="sitename">
            Site
          </label>
          <input type="text" disabled class="form-control" id="sitename" name="sitename" [value]="site?.name">
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col mx-3">
        <div class="form-group row has-float-label">
          <label for="address">
            Address
          </label>
          <input type="text" disabled class="form-control" id="address" name="address" [value]="site?.address">
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col mx-3">
          <div class="form-group row has-float-label">
            <label for="vendor">
              Vendor
            </label>
            <input type="text" disabled class="form-control" id="vendor" name="vendor" [value]="site?.vendor">
          </div>
        </div>
        <div class="col mx-3">
          <div class="form-group row has-float-label">
            <label for="siteType">
              Site
            </label>
            <input type="text" disabled class="form-control" id="siteType" name="siteType" [value]="site?.siteType">
          </div>
         </div>
      </div>


  </ng-template>

</prime-page-framework>

<div *ngIf="IS_SHOWING_PERSON; else userList">
  <prime-provisioner-list
    [rowItems]="provisionerOrgSiteData"
    primaryType='User'
  ></prime-provisioner-list>
</div>
<ng-template #userList>
  <prime-provisioner-list
    [rowItems]="provisionerUserData"
    primaryType='Site'
    [parentSite]='site'
  ></prime-provisioner-list>
</ng-template>
