@import "variables.scss";

.step-container {
  display: flex;
  justify-content: space-between;
}

.step {
  $markerSize: 1em;
  position: relative;
  transform: translateX(-$markerSize / 2);
  margin-top: 0.25rem;

  &:before {
    content: " ";
    position: absolute;
    width: $markerSize;
    height: $markerSize;
    border-radius: 100%;
    background: white;
    border: 3px solid $color-primary;

    // Center above
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 100%;
  }

  &:not(.active) .step-text { opacity: 0.8;}
  &:not(.active):before { background: $gray-400; }

  // Take the text out of the CSS layout with position absolute so that the
  // width of the text does not mess up the math of the positioning of the
  // elements.
  .step-text {
    position: absolute;
    transform: translateX(-33%);
    white-space: nowrap;
  }
}

.progressBar {
    text-align: left;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.progressBar ul {
    list-style: none;
    display: table-row;
    margin: 0;
    padding: 0;
}

.progressBar ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    width: auto;
    @include media-breakpoint-up(xs){
    // @media screen and (min-width: $screen-sm) {
        min-width: 25%;
        display: table-cell;
    }
}

.progressBar ul li a span:first-of-type {
    font-weight: 700; // padding-right: 5px;
}

.progressBar .beforeActive {
    background: #C8DCFD;
    color: #234075;
}

.progressBar .beforeActive:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #C8DCFD;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
}

.progressBar .active {
    background: #FBE78C;
    cursor: not-allowed;
    pointer-events: none;
    color: #234075;
}

.progressBar .active:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #FBE78C;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
}

.progressBar .afterActive {
    background: #E3E4E5;
    cursor: not-allowed;
    pointer-events: none;
    color: $gray-600;
}

.progressBar .afterActive:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #E3E4E5;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
}

.progressBar ul li a {
    display: block;
    float: none; //height: 40px;
    //DEF-74 KPS
    height: 60px;
    text-align: center;
    padding: 7px 10px 0 30px;
    position: relative;
    margin: 0 5px 0 0;
    font-size: $h3-font-size;
    text-decoration: none;
    color: black;
    // white-space: normal;

    @include media-breakpoint-down(sm){
    // @media(max-width: $screen-xs) {
        padding: 7px 2px 0 24px;
        margin: 0 2px 0 0;
        text-align: left;
    }
    @include media-breakpoint-down(sm){
    // @media(max-width: $screen-md - 1) {
        font-size: $h4-font-size;
        text-align: left;
        padding: 7px 7px 0 30px;
    }
}




@include media-breakpoint-down(sm){
// @media(max-width: $screen-md - 1) {
    //This is a specific CSS hack to make sure that "Professional Information" fits in the medium breakpoint for the first progress bar item.
    .progressBar ul li:first-child a {
        padding-left: 15px;
    }
}

@include media-breakpoint-down(xs){
// @media(max-width: $screen-sm - 1) {
    .beforeActive .progress-title,
    .afterActive .progress-title { display: none; }
}


.progressBar ul li a:before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.progressBar ul li:first-child a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: $btn-border-radius;
}

.progressBar ul li:first-child a:before {
    display: none;
}

.progressBar ul li:last-child a {
    padding-right: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: $btn-border-radius;
}

.progressBar ul li:last-child a:after {
    display: none;
}

.progressBar ul li a:hover {
    background: #234075;
    color: #fff;
}

.progressBar ul li a:hover:after {
    border-left-color: #234075;
    color: #fff;
}
