@import 'variables.scss';

.enrollment-list-controls {
  border: 2px solid $gray-300;
}

.enrollment-item-container {
  border-top: none;
  overflow-y: scroll;
  height: 25rem;

  // This is a hack-fix! These two lines visually cancel out (more or less), but
  // they allow the container to effectively have overflow-x: visible.
  // Technically, overflow-y scroll and overflow-x visible do not work together
  // at the same time. It allows expanded rows to scale outside of their
  // container.
  //https://stackoverflow.com/questions/38460841/overflow-y-scroll-with-overflow-x-visible
  margin: 0 -5rem;
  padding: 0 5rem;

  // We have to re-jigger borders due to the above hackfix
  .enrollment-item-inner {
    border-right: 2px solid $gray-300;
    border-left: 2px solid $gray-300;
  }
}

.enrollment-list-controls  {
  // margin-bottom: 1em;
  min-height: 4em;
  padding: 1em;
  border-bottom: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.enrollment-view-selector {
  min-width: 5em;
}
