<div class="enrollment-list-controls bg-light">
  <div>
    <form class="form-inline">
      <span class="has-float-label">
        <input class="form-control bg-transparent" type="search" placeholder="Sites" aria-label="Sites" (input)="search($event.target.value)">
        <span>Sites</span>
      </span>

      <label class="has-float-label mx-2">
        <select id="enrollmentViewSelector" class="form-control enrollment-view-selector" [value]="viewTypeSelector" (change)="viewTypes($event.target.value)">
          <option value="View All">All</option>
          <option *ngFor="let status of EnrollmentStatus" value="{{status}}">
            {{status}}
          </option>
        </select>
        <span>View</span>
      </label>

    </form>
  </div>
  <div>
    <prime-alert inlineBlock='true' *ngIf="showSaveMessage" [@fadeIn] dismissable='' type='success'>Saved...</prime-alert>

    <button [disabled]="!updated" type="button" class="btn btn-default mx-2" (click)="cancel()">Cancel</button>
    <button [disabled]="!updated" type="button" class="btn btn-primary mx-2" (click)="save()" [primeLoadingSpinner]="loadingSpinner" >Save</button>
  </div>
</div>

<div class="enrollment-item-container">
  <div class="enrollment-item-inner">
    <prime-appl-enrollment-row
      *ngFor="let item of data"
      [rowData]="item"
      (onChange) = "onChange($event)"
      (onRowOpened)="rowOpened($event)">
    </prime-appl-enrollment-row>
  </div>
</div>

