<div *ngIf="rowData" class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

    <div class="enrollment-text-container">
      <span class="enrollment-text-main">{{rowData.title}}</span>

       <ng-container *ngIf="primaryType === 'Site'">
          <span *ngIf="rowData.sites != null" class="enrollment-text-extra">({{rowData.sites.length}}) Sites</span>
          <span *ngIf="rowData.sites != null" class="enrollment-text-extra">({{rowData.users.length}}) Users</span>
       </ng-container>

       <ng-container *ngIf="primaryType === 'User'">
          <span class="enrollment-text-extra">({{rowData.collections.length}}) Collections</span>
          <span class="enrollment-text-extra">({{rowData.sites.length}}) Sites</span>
       </ng-container>

       <prime-info-button
          class='mx-2'
          [targetId]="rowData.associatedObjectId">
        </prime-info-button>

    </div>

    <div class="enrollment-actions">
      <span class="enrollment-icons">
        <prime-pill-badge
          [alerts]="allChildAlerts"
          [iconOnly]='false'>
        </prime-pill-badge>
        <i class="fa fa-edit text-muted mr-2" (click)="goToEnrollmentPage()"></i>
      </span>
    </div>
  </div>



  <div [@openState]="openState">
    <div [@openStateChild]="openState"  class="expandable-container">

        <div class="enrollment-expandable" *ngFor="let siteAccess of siteAccessRequiringAttention"
            (click)="expandedRowClick(siteAccess)"
          >
          <div class="enrollment-text-container">
            <span class="enrollment-text-main">{{siteAccess.title}}</span>


            <prime-info-button
              class='mx-2'
              [targetId]="siteAccess.site.objectId">
            </prime-info-button>
          </div>
          <div class="enrollment-actions">
              <span class="enrollment-icons mr-5">

                  <prime-pill-badge
                    [alerts]="[siteAccess.alert]">
                  </prime-pill-badge>

              </span>
          </div>

          <prime-enrollment-progress-row
            [open]='siteAccess.open'
            [data]='siteAccess'>
          </prime-enrollment-progress-row>

        </div>


    </div>
  </div>
