<ng-container *ngIf="address$ | async as add">
  <label class="font-weight-lighter">Country</label>
  <span class="font-weight-bolder">{{ add.country }}</span>
  <label class="font-weight-lighter">Province</label>
  <span class="font-weight-bolder">{{ add.province }}</span>
  <label class="font-weight-lighter">Street Address</label>
  <span class="font-weight-bolder">{{ add.street }}</span>
  <label class="font-weight-lighter">City</label>
  <span class="font-weight-bolder">{{ add.city }}</span>
  <label class="font-weight-lighter">Postal Code</label>
  <span class="font-weight-bolder">{{ add.postal }}</span>
</ng-container>
