<common-page-framework layout='blank'>

  <form #formRef='ngForm' (ngSubmit)='continue()'>
    <prime-profile [data]='registrant'
                   [countryList]='cache.countryList'
                   [provinceList]='cache.provinceList'
                   [editIdentityInfo]="false">

      <p identityInstruct>
        Information received from BCSC - Ministry verbage required
      </p>

    </prime-profile>

    <!-- Display bar during registration -->
    <common-form-submit-bar [increaseWidth]='true'></common-form-submit-bar>

  </form>

</common-page-framework>
