<button *ngIf="!iconOnly" type="button" class="btn btn-outline-primary" (click)="openModal(template)">
    Add User <i class="fa fa-user-plus"></i>
</button>

<button *ngIf="iconOnly" type="button" class='btn btn-default' (click)="openModal(template)">
    <i class="fa fa-user-plus"></i>
</button>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Find and add a new user</h4>

        <prime-mini-progress-bar [maxSteps]='maxProgressSteps' [currentStep]='currentProgressStep'>
        </prime-mini-progress-bar>

        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button> -->
    </div>

    <div class="modal-body">
      <div class ="row">
        <div class="col mx-2">
          <div class="form-group row has-float-label">
            <label for="lastName">
              Last Name
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="lastName" name="lastName" placeholder="" [(ngModel)]="searchQuery.lastName" tabindex="1">
          </div>
          <div class="form-group row has-float-label">
            <label for="middleName">
              Middle Name
            </label>
            <input type="text"  class="form-control mb-2 mr-sm-2" id="middleName" name="middleName" placeholder="" [(ngModel)]="searchQuery.middleName" tabindex="3">
          </div>
          <div class="form-group row has-float-label">
            <label for="primeUserID">
              PRIME UserID
            </label>
            <input type="text"  class="form-control mb-2 mr-sm-2" id="primeUserID" name="primeUserID" placeholder="" [(ngModel)]="searchQuery.primeUserID" tabindex="5">
          </div>
          <div class="form-group row has-float-label" *ngIf="showAdditionalFields">
            <label for="email">
              Email
            </label>
            <input type="text"  class="form-control mb-2 mr-sm-2" id="email" name="email" placeholder="" [(ngModel)]="searchQuery.email" tabindex="7">
          </div>
        </div>
        <div class="col mx-2">
          <div class="form-group row has-float-label">
            <label for="firstName">
              First Name
            </label>
            <input type="text"  class="form-control mb-2 mr-sm-2" id="firstName" name="firstName" placeholder="" [(ngModel)]="searchQuery.firstName" tabindex="2">
          </div>
          <div class="form-group row has-float-label">
            <label for="DoB">
              Date of Birth
            </label>
            <input type="text" class="form-control mb-2 mr-sm-2" id="DoB" name="DoB" placeholder="" [(ngModel)]="searchQuery.dateOfBirth" tabindex="4">
          </div>
          <div class="form-group row has-float-label" *ngIf="showAdditionalFields">
            <label for="phone">
              Phone
            </label>
            <input type="text"  class="form-control mb-2 mr-sm-2" id="phone" name="phone" placeholder="" [(ngModel)]="searchQuery.phone" tabindex="6">
          </div>
          <div class="form-group row has-float-label" *ngIf="showAdditionalFields">
            <label for="postal">
              Postal Code
            </label>
            <input type="text"  class="form-control mb-2 mr-sm-2" id="postal" name="postal" placeholder="" [(ngModel)]="searchQuery.postal" tabindex="8">
          </div>
        </div>
      </div>







      <ul class='list-group list-group-flush' *ngIf="showSearchResults">
        <li class='list-group-item d-flex justify-content-between align-items-center' *ngFor="let person of searchResultsPeople">

          <span>
            <input type="checkbox" name="selectUser" id="selectUser" [(ngModel)]="addUserSelected">
            <img class="img-thumbnail" src="assets/photoPlaceholder.png" alt="Generic placeholder image">
            <span class='ml-2'>{{person.name}}</span>
          </span>
          <span class='d-flex justify-content-between align-items-center'>

            <span class='d-inline-flex align-items-baseline mb-1'>Start
              <prime-datepicker size='mini' dateFormat="yyyy/mm/dd" class='ml-1' ></prime-datepicker>
            </span>

            <span class='d-inline-flex align-items-baseline mb-1'>End (Optional)
              <prime-datepicker size='mini' dateFormat="yyyy/mm/dd" class='ml-1'></prime-datepicker>
            </span>

          </span>
        </li>
      </ul>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clearSearch()" tabindex="9">
            Clear All
        </button>
        <button type="button" class="btn btn-default" [disabled]="!canFindUser()" (click)="findUser()" tabindex="11">
            Find User
        </button>
      <button type="button" class="btn btn-default" [disabled]="!canAddUser()" (click)="addUser()" tabindex="10">
        Add User
      </button>
    </div>
</ng-template>
