<button *ngIf="!iconOnly" type="button" class="btn btn-outline-primary" (click)="openModal(template)">
    Add User <i class="fa fa-user-plus"></i>
</button>

<button *ngIf="iconOnly" type="button" class='btn btn-default' (click)="openModal(template)">
    <i class="fa fa-user-plus"></i>
</button>



<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Find and add a new user</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
      <div class ="row">

        <div class="col mx-2">
          <label for="lastName" class="has-float-label">
            <input type="text" class="form-control mb-2 mr-sm-2" id="lastName" name="lastName" placeholder=" " [(ngModel)]="searchQuery.lastName" tabindex="1">
            <span>Last Name</span>
          </label>
          <label for="middleName" class="has-float-label">
            <input type="text" class="form-control mb-2 mr-sm-2" id="middleName" name="middleName" placeholder=" " [(ngModel)]="searchQuery.middleName" tabindex="1">
            <span>Middle Name</span>
          </label>
          <prime-datepicker id="DoB" name="DoB" placeholder=" "  dateFormat="yyyy/mm/dd" [(date)]="searchQuery.dateOfBirth" labelText="Date of Birth" tabindex="1"></prime-datepicker>
          <prime-postal-code fullWidth='true' [(value)]='searchQuery.postal'></prime-postal-code>
        </div>

        <div class="col mx-2">
          <label for="firstName" class="has-float-label">
            <input type="text" class="form-control mb-2 mr-sm-2" id="firstName" name="firstName" placeholder=" " [(ngModel)]="searchQuery.firstName" tabindex="1">
            <span>First Name</span>
          </label>
          <label for="primeUserId" class="has-float-label">
            <input type="text" class="form-control mb-2 mr-sm-2" id="primeUserId" name="primeUserId" placeholder=" " [(ngModel)]="searchQuery.primeUserId" tabindex="1">
            <span>PRIME User ID</span>
          </label>
          <label for="email" class="has-float-label">
            <input type="text" class="form-control mb-2 mr-sm-2" id="email" name="email" placeholder=" " [(ngModel)]="searchQuery.email" tabindex="1">
            <span>Email</span>
          </label>
          <prime-phone-number [(value)]='searchQuery.phone' fullWidth='true'></prime-phone-number>
        </div>
      </div>







      <ul class='list-group list-group-flush' *ngIf="showSearchResults">
        <li class='list-group-item d-flex justify-content-between align-items-center' *ngFor="let person of searchResultsPeople">

          <span>
            <input type="checkbox" name="selectUser" id="selectUser" [(ngModel)]="addUserSelected">
            <img class="img-thumbnail" src="assets/photoPlaceholder.png" alt="Generic placeholder image">
            <span class='ml-2'>{{person.name}}</span>
          </span>
          <span class='d-flex justify-content-between align-items-center'>

            <!-- <span class='d-inline-flex align-items-baseline mb-1'>Start
              <prime-datepicker size='mini' dateFormat="yyyy/mm/dd" class='ml-1' [(date)]="person.defaultStartDate"></prime-datepicker>
            </span>

            <span class='d-inline-flex align-items-baseline mb-1'>End (Optional)
              <prime-datepicker size='mini' dateFormat="yyyy/mm/dd" class='ml-1' [(date)]="person.defaultEndDate" ></prime-datepicker>
            </span> -->

          </span>
        </li>
      </ul>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="clearSearch()" tabindex="1">
            Clear All
        </button>
        <button type="button" class="btn btn-default" [disabled]="!canFindUser()" (click)="findUser()" tabindex="1">
            Find User
        </button>
        <button type="button" class="btn" [disabled]="!canAddUser()" (click)="addUser()" tabindex="1" [ngClass]="{' btn-default' : !canAddUser(), 'btn-primary': canAddUser() }" >
            Add User
        </button>

    </div>
</ng-template>
