  <div class='d-flex justify-content-between progress-row-content' [@growVertical] *ngIf="open">

    <div class="col">
      <i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>
      <p><em>Request has been approved and is awaiting PoS Provisioning</em></p>
      <p><small>Requested Date: {{ data.formatDateShort(data.requestDate)}}</small></p>
    </div>

    <div class="col">
      <div class="progressSlider">
        <!-- Labels -->
        <div class="progressSlider--text">
          <div class="progressItem">
            <div class="progressText">Verifier</div>
          </div>
          <div class="progressItem">
            <div class="progressText">Applicant</div>
          </div>
          <div class="progressItem">
            <div class="progressText">MoH</div>
          </div>
          <div class="progressItem active">
            <div class="progressText">Provisioner</div>
          </div>
        </div>

        <!-- The progress bar line / dots -->
        <div class="progressSlider--bar">
          <div class="progressBarMarker"
            *ngFor="let x of iterableNumberOfSteps; let i = index"
            [ngClass]="{active: i == activeStepIndex}">
          </div>
        </div>
      </div>
    </div>
  </div>

