<common-page-framework layout='blank'>

  <form #formRef='ngForm' (ngSubmit)='continue()'>
    <prime-appl-account [data]='registrant'
                        [isCanada]='isCanada()'
                        [secQuestionList]='cache.$secQuestionList | async'
                        [pwdMinLen]='cache.pwdMinLen'
                        [userIdMinLen]='cache.userIDMinLen'
                        [userNameList]='nameList'>
      <p AccountInstruct>
        Please provide the Account Holder's personal information.
      </p>
    </prime-appl-account>

    <!-- Display bar during registration -->
    <common-form-submit-bar [increaseWidth]='true'
                            [isLoading]='loading'></common-form-submit-bar>
  </form>

</common-page-framework>
