
<prime-page-framework>

  <h2 class='prime-title' id="regInfo">Registration Information</h2>
  <div *ngIf="!usedBCSC">Enter your identity information exactly as it appears on any valid government-issued photo ID.</div>
  <div *ngIf="usedBCSC">Your identity information comes from your BC Services Card.</div>

  <form>
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regLastName" name="regLastName" [(ngModel)]="registrant.lastName" placeholder=" " [disabled]="usedBCSC">
        <span>Last Name</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regMiddleName" name="regMiddleName" [(ngModel)]="registrant.middleName" placeholder=" " [disabled]="usedBCSC">
        <span>Middle Name</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regFirstName" name="regFirstName" [(ngModel)]="registrant.firstName" placeholder=" " [disabled]="usedBCSC">
        <span>First Name</span>
      </label>

      <div *ngIf="!usedBCSC; else dobReadOnly" class="applicant-row--item prime-input-large">
        <prime-datepicker  dateFormat="yyyy/mm/dd" [(date)]="registrant.dateOfBirth" labelText="Date of Birth" ></prime-datepicker>
      </div>

      <ng-template #dobReadOnly>
        <label class="has-float-label">
          <input type="text" class="form-control prime-input-large" id="dob" name="dob" disabled [value]="registrant.dateOfBirthShort">
          <span>Date of Birth</span>
        </label>
      </ng-template>


      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regAddress" name="regAddress" [(ngModel)]="registrant.address.street" placeholder=" " [disabled]="usedBCSC">
        <span>Address</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regCity" name="regCity" [(ngModel)]="registrant.address.city" placeholder=" " [disabled]="usedBCSC">
        <span>City</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regProvince" name="regProvince" [(ngModel)]="registrant.address.province" placeholder=" " [disabled]="usedBCSC">
        <span>Province</span>
      </label>

      <!-- For some reason [disabled] is broken on postal code, this is a quick little workaround. -->
      <prime-postal-code *ngIf='usedBCSC' [(value)]="registrant.address.postal" disabled></prime-postal-code>
      <prime-postal-code *ngIf='!usedBCSC' [(value)]="registrant.address.postal"></prime-postal-code>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regCountry" name="regCountry" [(ngModel)]="registrant.address.country" placeholder=" " [disabled]="usedBCSC">
        <span>Country</span>
      </label>
    </div>
  </form>

  <h2 class='prime-title' id="prefName">Preferred Name (optional)</h2>
  If you have a name that is different than your legal name that people know you by, enter your full preferred name
  <form>

    <div>

      <div class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="prefLastName" name="prefLastName" [(ngModel)]="registrant.preferLastName" placeholder=" ">
        <label for="prefLastName">Preferred Last Name</label>
      </div>

      <div class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="prefMiddleName" name="prefMiddleName" [(ngModel)]="registrant.preferMiddleName" placeholder=" ">
        <label for="prefMiddleName">Preferred Middle Name</label>
      </div>

      <div class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="prefFirstName" name="prefFirstName" [(ngModel)]="registrant.preferFirstName" placeholder=" ">
        <label for="prefFirstName">Preferred First Name</label>
      </div>

    </div>

  </form>

  <h2 class='prime-title' id='contactInfo'>Contact Information</h2>
  Enter your personal phone number and email.
  <form>
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="phone" name="phone" [(ngModel)]="registrant.phone" placeholder=" " [textMask]='{mask: getPhoneMask()}'>
        <span>Phone</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="phoneExt" name="phoneExt" [(ngModel)]="registrant.phoneExtension" placeholder=" ">
        <span>Extension Number (optional)</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="email" name="email" [(ngModel)]="registrant.email" placeholder=" ">
        <span>Email</span>
      </label>
    </div>
  </form>
</prime-page-framework>
