profile works!
<prime-page-framework>

  <h2 class='prime-title' id="regInfo">Registration Information</h2>
  <form>
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regFirstName" name="regFirstName" ([ngModel])="applicant.firstName" placeholder=" ">
        <span>First Name</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regMiddleName" name="regMiddleName" ([ngModel])="applicant.middleName" placeholder=" ">
        <span>Middle Name</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regLastName" name="regLastName" ([ngModel])="applicant.lastName" placeholder=" ">
        <span>Last Name</span>
      </label>

      <div class="applicant-row--item prime-input-large">
      <prime-datepicker dateFormat="yyyy/mm/dd" ([ngModel])="applicant.dateOfBirth" labelText="Date of Birth"></prime-datepicker>
      </div>


      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regAddress" name="regAddress" ([ngModel])="applicant.address?.street" placeholder=" ">
        <span>Address</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regCity" name="regCity" ([ngModel])="applicant.address?.city" placeholder=" ">
        <span>City</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regProvince" name="regProvince" ([ngModel])="applicant.address?.province" placeholder=" ">
        <span>Province</span>
      </label>

      <prime-postal-code ([value])="applicant.address?.postal" ></prime-postal-code>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="regCountry" name="regCountry" ([ngModel])="applicant.address?.country" placeholder=" ">
        <span>Country</span>
      </label>
    </div>
  </form>

  <h2 class='prime-title' id='contactInfo'>Contact Information</h2>
  <form>
    <div>
      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="phone" name="phone" ([ngModel])="applicant.phone" placeholder=" ">
        <span>Phone</span>
      </label>

      <label class="has-float-label">
        <input type="text" class="form-control prime-input-large" id="email" name="email" ([ngModel])="applicant.email" placeholder=" ">
        <span>Email</span>
      </label>
    </div>
  </form>
</prime-page-framework>
