//TODO: Include font. Currently missing.
// Declare primary font
@font-face {
  font-family: 'Myriad-Pro';
  src: url('app/fonts/MyriadWebPro.ttf');
}

//------------------------------------------------------------------------------
// Customizing which bootstrap files get imported, copied from bootstrap.scss
// Overriding the "variables.scss" file with our custom theme
//------------------------------------------------------------------------------

// Comment out unused component styles, so they won't be bundled in final CSS.
// If they're ever used in the future we can just un-comment.



@import "variables.scss";
@import "~bootstrap/scss/bootstrap";

//TODO: Import bootstrap piecemeal

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// // @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// // @import "~bootstrap/scss/breadcrumb";
// // @import "~bootstrap/scss/pagination";
// // @import "~bootstrap/scss/badge";
// // @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// // @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// // @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
// // @import "~bootstrap/scss/tooltip";
// // @import "~bootstrap/scss/popover";
// // @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";

@import "overrides";
@import "additions";

// Set a base font-size in px to ensure that we don't just use the browser's
// default text size. We use rems for font-sizes everywhere else.
html {
  font-size: 16px;

  // Optional - This may be removed!
  // Left in because it really demonstrates the value of rem based designs. We
  // can scale the entire layout, from element sizing to padding, just by
  // changing font-size here.
  @include media-breakpoint-up(sm){
    font-size: 14px;
  }
}



//TODO: Move below to new file - 'additions.scss'?


.modal-header-primary {
  background: $color-primary;

  h2 {
    color: white;
    font-weight: 600;
  }
}

/*
Special accessibility class to hide things like labels but still have the readable by screen readers
 */
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}


/* Re-implementing .btn-default after 0.4.0 of mygovbc-bootstrap-theme
 * made it identical to .btn-primary.
 *
 * GitHub Issue:
 * https://github.com/bcgov/mygovbc-bootstrap-theme/issues/4#issuecomment-327599375
 */

.btn-default {
  color: #333;
  background-color: #f4f6f9;
  border-color: #ccc;
  &:hover {
    color: #333;
    background-color: #d3dbe7;
    border-color: #adadad;
  }
  //Make btn-toggles selected colour match new primary colour.
  //If we want to make the change permanent after issue resolves,
  //Move into toggle.scss.
  &.btn-radio {
    background-color: #38598a !important;
  }
}
//Related to same mygovbc-bootstrap-theme 0.4.0 issue as above.
.btn-primary:hover {
  background-color: #294266;
}

// Style select2 to match look and feel of other form elements
select2 {
  display: block;
  .select2-container, .select2-selection {
    //override element styling that happens via js.
    width: 100% !important;
    min-height: 36px !important;
    height: auto !important; //when label is two lines
  }
  .select2-selection {
    padding-right: 8px !important; //Same as the padding-left default
  }
  .select2-selection__rendered {
    //Ensure selected text isn't cut off on smaller view sizes.
    white-space: normal !important;
  }
}

ng2-smart-table tbody {
  tr:nth-of-type(even){background-color: #f9f9f9;}
  tr {
    transition: 0.15s;
    border: 1px solid #ededed;
    &:hover {background-color: #f0f6ff}
  }

  //Selected is triggered when user taps on a row. Since we're read-only, selection would only serve to confuse the user.
  .ng2-smart-row .selected {background-color: transparent;}
}

thead tr.ng2-smart-filters .ng2-smart-th,
thead tr.ng2-smart-titles .ng2-smart-th {padding-left: 0}

.intro {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  display: block;
}


.has-success .form-control {
  border-color: #1b926c !important;
}

.nowrap {
  white-space: nowrap;
}

@include media-breakpoint-up(xs){
// @media(min-width: $screen-sm) {
  .nowrap-sm { white-space: nowrap;}
  .wrap-sm {white-space: normal;}
}
@include media-breakpoint-up(sm){
// @media(min-width: $screen-md) {
  .nowrap-md { white-space: nowrap;}
  .wrap-md { white-space: normal;}
}
@include media-breakpoint-up(md){
// @media(min-width: $screen-lg) {
  .nowrap-lg { white-space: nowrap;}
  .wrap-lg { white-space: normal;}
}
