<i class="fa fa-info-circle text-muted" (click)="openModal($event)"></i>

<ng-template #personModal>
  <div class="modal-header">
      <span class="modal-title">
        <img class="img-thumbnail" src="assets/photoPlaceholder.png" alt="Generic placeholder image">
        <h4 class='d-inline pl-3'>{{person.name}}</h4>
      </span>
      <!--
      <button class="btn btn-default pull-right" *ngIf="!editable" (click)="edit()">Edit</button>
      -->
      <span *ngIf="editable">
          <button class="btn btn-primary pull-right mx-2" (click)="save()">Save</button>
          <button class="btn btn-default pull-right mx-2" (click)="discard()">Discard</button>
      </span>

  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="legalName" name="legalName" [(ngModel)]="person.name">
          <span>Legal Name</span>
        </label>
      </div>
    </div>

    <form class='row'>
      <div class="col">
        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="primaryPhone" name="primaryPhone" [(ngModel)]="person.phone">
          <span>Phone Number</span>
        </label>

        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="renewalDate" name="renewalDate" [ngModel]="person.renewalDateShort">
          <span>Renewal Date</span>
        </label>

        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="PosID" name="PosID" [(ngModel)]="person.PoSId">
          <span>PoS ID</span>
        </label>
      </div>

      <div class="col">
        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="DOB" name="DOB" [ngModel]="person.dateOfBirthShort">
          <span>Date of Birth</span>
        </label>

        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="email" name="email" [(ngModel)]="person.email">
          <span>Email</span>
        </label>

        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="postal" name="postal" [(ngModel)]="person.address.postal">
          <span>Postal Code</span>
        </label>
      </div>

    </form>
<!--
      <div class="card">
        <div class="card-header">
          Enrollments ( {{person.siteAccess.length}} )
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let siteAccess of person.siteAccess">
              <span>{{ siteAccess.site.name }}</span>
              <ng-container *ngTemplateOutlet="enrollmentDetails;context:{siteAccess: siteAccess}"></ng-container>
            </li>
          </ul>
        </div>
      </div> -->

    </div>
</ng-template>

<ng-template #siteModal>
  <div class="modal-header">
    <h4 class="modal-title">{{site.name}}</h4>


    <form *ngIf="!isApplicantSite()" class="form-inline">
      <select class="form-control" [value]="site.objectId"
        (change)="changeSite($event.target.value, $event)">
        <option *ngFor="let memberSite of collection.members" value="{{memberSite.objectId}}">
          {{memberSite.name}}
        </option>
      </select>
    </form>

    <button class="btn btn-default pull-right" *ngIf="!editable && !isApplicantSite()" (click)="edit()">Edit</button>

    <span *ngIf="editable">
        <button class="btn btn-primary pull-right mx-2" (click)="save()">Save</button>
        <button class="btn btn-default pull-right mx-2" (click)="discard()">Discard</button>
    </span>

  </div>
  <div class="modal-body">
      <div class="container">
        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="address" name="address" [(ngModel)]="site.address">
          <span>Address</span>
        </label>

        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="siteType" name="siteType" [(ngModel)]="site.siteType">
          <span>Site Type</span>
        </label>

        <label class="has-float-label">
          <input type="text" disabled class="form-control" id="vendor" name="vendor" [(ngModel)]="site.vendor">
          <span>Vendor</span>
        </label>

      </div>

      <!-- <div *ngIf="!isApplicantSite()" class="card">
          <div class="card-header">
            Enrollments ( {{site.siteAccess.length}} )
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let siteAccess of site.siteAccess">
                  <span>{{siteAccess.person.name}}</span>
                  <ng-container *ngTemplateOutlet="enrollmentDetails;context:{siteAccess: siteAccess}"></ng-container>
                </li>
            </ul>
          </div>
      </div> -->

  </div>
</ng-template>


<!-- This template is used in both modals and is identical.  -->
<ng-template #enrollmentDetails let-siteAccess="siteAccess">
    <span class='d-flex justify-content-between align-items-center'>
      <span class='d-inline-flex align-items-baseline ml-2'>Start
        <prime-datepicker size='mini' dateFormat="yyyy/mm/dd" [disabled]="!editable || disableEditStartDate(siteAccess)" [(date)]="siteAccess.startDateShort" class='ml-1'></prime-datepicker>
      </span>

      <span class='d-inline-flex align-items-baseline ml-2'>End
        <prime-datepicker size='mini' dateFormat="yyyy/mm/dd" [disabled]="!editable"  [date]="siteAccess.endDateShort" (dateChange)="onSetEndDate($event, siteAccess)" class='ml-1'></prime-datepicker>
      </span>
      <!-- TODO: Get values programmatically, and save!
        SiteAccess.status should be updated, just need to add a
        (change) to the select and do the logic in the controller -->
      <select *ngIf="shouldShowreasonForDeactivation[siteAccess.objectId]" [@growHorizontal] [disabled]="!editable"
        name="reasonForDeactivation" id="reasonForDeactivation"
        class='mx-2'>
        <option value="noLongerEmployee">No Longer employee</option>
        <option value="contractExpiration">Contract Expiration</option>
        <option value="tempAccess">Temp Access</option>
        <option value="changedLocation">Changed Location</option>
      </select>

      <prime-pill-badge
        class='ml-2'
        [alerts]="[siteAccess.alert]">
      </prime-pill-badge>

    </span>

</ng-template>
