<div *ngIf="rowData" class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

  <div class="enrollment-text-container">
    <span class="enrollment-text-main">{{siteName}}</span>
    <span class="enrollment-text-main">{{siteNumber}} </span>
  </div>

  <table>
    <div *ngIf="siteStatus === 'Active'">
      <tr>
        <td class="provisioner-element-label">POS User Id</td>
        <td class="provisioner-element-label"> Date Provisioned</td>
      </tr>
      <tr>
        <td class="provisioner-element-text">{{rowData.posUserId}}</td>
        <td class="provisioner-element-text"> {{rowData.provisionedDate}}</td>
      </tr>
    </div>

  </table>



  <table>
    <div *ngIf="siteStatus === 'New' || siteStatus === 'AcceptEnrollment'">
      <tr>
        <td class="provisioner-element-label">POS User Id</td>
        <td class="provisioner-element-label"> Date Provisioned</td>
      </tr>
      <tr>
        <td> <input type="text"></td>
        <td > <input type="text"></td>
      </tr>
    </div>
  </table>


  <div *ngIf="siteStatus === 'DeclinedEnrollment'">
    <div class="col d-inline-flex flex-column">
      <select id="declinedReason2" class="form-control drop-dl-box-15"
              [value]="declinedReasonSelector" >
        <option value="pleaseSelect" disabled selected>Select Reason</option>
        <option *ngFor="let reason of DeclinedReasons" value="{{reason}}">
          {{declinedReasonValue(reason)}}
        </option>
      </select>
    </div>
  </div>


  <div *ngIf="siteStatus === 'Declined'">
  <div class="col d-inline-flex flex-column">
    <select id="declinedReason1" class="form-control drop-dl-box-15"
            [value]="declinedReasonSelector" disabled>
      <option value="pleaseSelect" selected>{{declinedReasonValue('ACCESS_NO_lONGER_REQUIRED')}}</option>
      <option  *ngFor="let reason of DeclinedReasons" value="{{reason}}">
        {{declinedReasonValue(reason)}}
      </option>
    </select>
  </div>
</div>

  <div class="enrollment-actions">
      <span class="enrollment-icons">
        <div *ngIf="siteStatus === 'DeclinedEnrollment'; else regularEnrollment">
           <prime-pill-badge
             [alerts]="newSiteAlert"
             [iconOnly]='false'>
        </prime-pill-badge>
        </div>
        <ng-template #regularEnrollment>
          <prime-pill-badge
            [alerts]="siteAlert"
            [iconOnly]='false'>
          </prime-pill-badge>
        </ng-template>
        <prime-info-button
          [targetId]="rowData.objectId">
        </prime-info-button>
         <div   *ngIf="siteStatus === 'New'" >
           <button class="btn btn-danger btn-sm btn-circle" data-toggle="tooltip" data-placement="bottom"
           title="Decline Enrollment" (click)="resetStatus('DeclinedEnrollment')">
             <i class="fa fa-times"></i></button>
          <button class="btn btn-success btn-sm btn-circle" data-toggle="tooltip" data-placement="bottom"
           title="Accept Enrollment" (click)="resetStatus('AcceptEnrollment')">
          <i class="fa fa-check"></i></button>
         </div>
      </span>
  </div>
</div>

<div *ngIf="siteStatus === 'New'">
<table width="100%">
    <tr>
      <td class="provisioner-element-label" width = "10%">PEC</td>
      <td class="provisioner-element-label" width = "10%"> Request</td>
      <td class="provisioner-element-label" width="8">Class</td>
      <td class="provisioner-element-label" width="35"> Access Rights</td>
      <td class="provisioner-element-label" width="6">T&C</td>
      <td class="provisioner-element-label"width="8"> Start</td>
      <td class="provisioner-element-label" width="8">End</td>
      <td class="provisioner-element-label" width="30"> Personal Access</td>
      <td width="10"></td>
    </tr>
    <tr>
      <td class="provisioner-element-text">{{rowData.PEC}}</td>
      <td class="provisioner-element-text"> {{rowData.request}}</td>
      <td class="provisioner-element-text">{{rowData.siteClass}}</td>
      <td class="provisioner-element-text"> {{rowData.accessRights}}</td>
      <td class="provisioner-element-text">{{rowData.tAndC}}</td>
      <td class="provisioner-element-text"> {{rowData.startDate}}</td>
      <td class="provisioner-element-text">{{rowData.endDate}}</td>
      <td class="provisioner-element-text"> {{rowData.personalAccess}}</td>
      <td><input type="checkbox" class="myCheckbox">T&C Enforceable </td>
    </tr>

</table>
</div>

<div [@openState]="openState">
  <div [@openStateChild]="openState"  class="expandable-container">

    <div class="enrollment-expandable" >
      <prime-enrollment-progress-row
        [open]='true'
        [data]='siteAccessObject'>
      </prime-enrollment-progress-row>
    </div>

  </div>
</div>
