<div *ngIf="rowData" class="enrollment-list-item" (click)="toggleRow()" [@openStateDisable]="openState">

  <div class="enrollment-text-container" >
    <ng-container *ngIf="primaryType === 'User'">
      <span class="enrollment-text-main">{{orgName}}</span>
      <span class="enrollment-text-bold">{{title}} </span>
    </ng-container>
    <ng-container *ngIf="primaryType === 'Site'">
      <span class="enrollment-text-bold">{{rowData.title}}  </span>
    </ng-container>
  </div>



  <div *ngIf="siteStatus === 'Active'">
    <table>
      <tr>
        <td class="provision-element-label" >POS User Id</td>
        <td class="provision-element-label"> Date Provisioned</td>
      </tr>
      <tr>
        <td class="provision-element-text" >{{siteAccessObject.posUserId}}</td>
        <td class="provision-element-text"> {{siteAccessObject.provisionedDate}}</td>
        <td class="px-1"></td>
      </tr>
    </table>
  </div>


  <div *ngIf="siteStatus === 'New' || siteStatus === 'AcceptEnrollment'">
    <table>
      <tr>
        <label for="posuid" class="has-float-label">
          <input type="text" class="form-control mb-2 mr-sm-2" id="posuid" name="posuid" placeholder=" " tabindex="1">
          <span>POS User ID</span>
        </label>
        <td><prime-datepicker id="DoB" name="DoB" placeholder=" "  dateFormat="yyyy/mm/dd" labelText="Date Provisioned" tabindex="1"></prime-datepicker></td>

      </tr>
  </table>
 </div>

  <div *ngIf="siteStatus === 'DeclinedEnrollment'">
    <div class="col d-inline-flex flex-column">
      <select id="declinedReason2" class="form-control drop-dl-box-15"
              [value]="declinedReasonSelector" >
        <option value="pleaseSelect" disabled selected>Select Reason</option>
        <option *ngFor="let reason of DeclinedReasons" value="{{reason}}">
          {{declinedReasonValue(reason)}}
        </option>
      </select>
    </div>
  </div>


  <div *ngIf="siteStatus === 'Declined'">
  <div class="col d-inline-flex flex-column">
    <select id="declinedReason1" class="form-control drop-dl-box-15 color"
          [value]="declinedReasonSelector" disabled>
      <option value="pleaseSelect" selected>{{declinedReasonValue('ACCESS_NO_lONGER_REQUIRED')}}</option>
    </select>
  </div>
</div>

  <div class="enrollment-actions">
      <span class="enrollment-icons">
        <prime-pill-badge
            [alerts]="[siteAccessObject.alert]"
            [iconOnly]='false'>
        </prime-pill-badge>
        <i *ngIf="primaryType === 'Site' && siteStatus === 'New'" class="fa fa-flag-o mr-2" style="color: red"></i>
        <i class="fa fa-sticky-note-o mr-2" (click)="goToNotePage()"></i>
        <prime-info-button
            class="mr-2"
            [targetId]="rowData.associatedObjectId">
        </prime-info-button>
        <prime-accept-reject-icons
          *ngIf="siteStatus === 'New'"
          (onAccepted)="accept()"
          (onRejected)="reject()"
          labelAccept="Accept Enrollment"
          labelReject="Decline Enrollment"
        ></prime-accept-reject-icons>
      </span>
  </div>
</div>

<div class="table-responsive ml-2 " *ngIf="siteStatus === 'New'" >
  <table >
    <tr>
      <td *ngIf="primaryType === 'User'" class="provision-element-label" width = "8%">PEC</td>
      <td *ngIf="primaryType === 'Site'" class="provision-element-label" width = "8%">College Number</td>
      <td *ngIf="primaryType === 'Site'" class="provision-element-label" width = "8%">License Number</td>
      <td class="provision-element-label" width = "12%"> Request</td>
      <td class="provision-element-label" width = "10%" >Class</td>
      <td class="provision-element-label" width = "12%"> Access Rights</td>
      <td class="provision-element-label" width = "8%" >T&amp;C</td>
      <td class="provision-element-label" width = "8%"> Start</td>
      <td class="provision-element-label" width = "8%">End</td>
      <td class="provision-element-label" width = "20%"> Personal Access</td>
      <td width="2%"></td>
      <td width="12%"></td>
    </tr>
    <tr>
      <td *ngIf="primaryType === 'User'" class="provision-element-text">{{rowData.site.PEC}}</td>
      <td *ngIf="primaryType === 'Site'" class="provision-element-text">{{ getCollegeNumber() }}</td>
      <td *ngIf="primaryType === 'Site'" class="provision-element-text">{{ getLicenseNumber() }}</td>
      <td class="provision-element-text"> {{siteAccessObject.request}}</td>
      <td class="provision-element-text">{{siteAccessObject.siteClass}}</td>
      <td class="provision-element-text"> {{siteAccessObject.accessRights}}</td>
      <td class="provision-element-text">{{siteAccessObject.tAndC}}</td>
      <td class="provision-element-text"> {{siteAccessObject.startDateShort}}</td>
      <td class="provision-element-text">{{siteAccessObject.endDateShort}}</td>
      <td class="provision-element-text"> {{siteAccessObject.accessReason}}</td>
      <td></td>
      <td class="mr-2"><input type="checkbox" >T&amp;C Enforceable </td>
    </tr>
  </table>
</div>

<div [@openState]="openState">
  <div [@openStateChild]="openState"  class="expandable-container">
    <div class="enrollment-expandable" >
      <prime-enrollment-progress-row
        [open]='true'
        [data]='siteAccessObject'>
      </prime-enrollment-progress-row>
    </div>
  </div>
</div>
