<form #formRef='ngForm' class="form-inline">
    <div class="input-group">
      <input [@hinge] #searchElement [ngModel]="searchPhrase" (ngModelChange)="onSearchChange($event)" type="search" class='form-control form-control-sm' name="expandingSearch{{objectId}}" id="expandingSearch{{objectId}}" *ngIf="showSearch" placeholder="{{placeholder}}">
      <div class="input-group-append" *ngIf="alwaysShow">
        <div class="input-group-text">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>

    <i class="fa fa-search ml-2" (click)="toggleSearch()" *ngIf="!alwaysShow"></i>
</form>
