@import "variables.scss";


// Use EMs, not REMs here!  We size this element variably based on font-size already, so it's an em-based layout


input[type="search"]{
  transform-origin: center right;
  border-right: none; // For alwaysShow layout
  font-size: 1em;
}

.form-inline {
  min-height: 2em;
  perspective: 200px;
  perspective-origin: 0 0;
}

.input-group-text {
  background-color: $color-white;
}
