<li class="miller-item" *ngFor="let item of items" [ngClass]="{
  'open': item.open,
  'has-children': item.hasChildren,
  'd-none': item.hidden && !item.checked
}">

  <a (click)="onItemClick($event, item)" class='miller-item-link'>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="millerCheckbox{{item.objectId}}" [(ngModel)]='item.checked'>
        <label class="form-check-label" for="millerCheckbox{{item.objectId}}">
          <span class="item-title">{{item.name}}</span>
        </label>
    </div>


    <span class="icons-group d-flex align-items-center">
        <prime-pill-badge
          *ngIf="getSiteAccessForItem(item)?.alert"
          [alerts]="[getSiteAccessForItem(item)?.alert]">
        </prime-pill-badge>

        <!-- <i class="fa fa-info-circle text-muted ml-1"></i> -->
        <prime-info-button [targetId]="item.objectId" ></prime-info-button>
    </span>
  </a>
  <div *ngIf="showNewEnrollment(item)" class='d-flex justify-content-around' [@growVertical]>
    <span class='d-inline-flex align-items-baseline mb-1'>Start
      <prime-datepicker size='mini' dateFormat="yyyy/mm/dd"
      [(date)]=selectedSiteAccess[0].requestDate
      class='ml-1'></prime-datepicker>
    </span>

    <span class='d-inline-flex align-items-baseline mb-1'>End
      <prime-datepicker size='mini' dateFormat="yyyy/mm/dd"  class='ml-1'></prime-datepicker>
    </span>
  </div>

  <div *ngIf="showEndEnrollment(item)" class='d-flex justify-content-around' [@growVertical]>
      <span class='d-inline-flex align-items-baseline mb-1'>Start
        <prime-datepicker size='mini' dateFormat="yyyy/mm/dd"
        [(date)]=selectedSiteAccess[0].requestDate
        class='ml-1'></prime-datepicker>
      </span>

      <select name="reasonForDeactivation" id="reasonForDeactivation" class='mx-2' [(ngModel)]="getSiteAccessForItem(item).declinedReason">
        <option value="noLongerEmployee">No Longer employed</option>
        <option value="contractExpiration">Contract termination</option>
        <option value="tempAccess">Temp Access</option>
        <option value="changedLocation">No longer works at this site</option>
      </select>



    </div>


</li>
