//@import "~bootstrap/scss/functions";
//@import "~bootstrap/scss/variables";
@import 'variables.scss';


// TODO: use imported name for color-primary
$color-primary: #036;

$note-color: #252525;
$note-font-size: 85%;
$placeholder-color: $note-color;
$placeholder-font-size: $note-font-size;

.selfDeclarationTextArea {
  width: 100%;
  height: 75px;
}

.note {
  color: $note-color;
  font-size: $note-font-size;
}

.fa-plus-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.fa-upload {
  color: $color-primary;
}

.with-top-margin {
  margin-top: 10px;
}

// the following entries are related to the placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder-color;
  font-size: $placeholder-font-size;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder-color;
  font-size: $placeholder-font-size;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-color;
  font-size: $placeholder-font-size;
}
:-moz-placeholder { /* Firefox 18- */
  color: $placeholder-color;
  font-size: $placeholder-font-size;
}


.applicant-row {
  display: flex;
  flex-flow: row wrap;

  > .applicant-row--item {
    margin: 0.5em 1em;
    @include media-breakpoint-down(sm){
      flex-basis: 100%;
    }
  }

  @include media-breakpoint-up(md){
    > .applicant-row--dropdown {
      flex-basis: 30%;
    }
  }


}
