<prime-applicant-breadcrumbs
  pageName="Professional"
  nextPageLink="/applicant/access-acceptance"
  previousPageLink="/applicant/contact"
  [showControls]="hasChanged"
  (onSave)="onSave($event)"
  (onCancel)="onCancel($event)">
</prime-applicant-breadcrumbs>


<section>
  <div class="row">
    <div class="d-flex justify-content-start align-items-center col-sm-4">
      Do you have a college certification?
    </div>
    <div class="d-flex justify-content-end">
      <prime-toggle [(data)]="applicant.hasCollege"></prime-toggle>
    </div>
  </div>

  <ng-container *ngIf="applicant.hasCollege === true">
    <div class='d-flex justify-content-between border p-3'
         *ngFor="let collegeCertificationRecord of collegeCertificationList; let i = index">
      <div class="row">
        <div class="col d-inline-flex flex-column">
          <label for="collegeTypesType">College Certification</label>
          <select id="collegeTypesType" class="form-control drop-dl-box-15"
                  [(ngModel)]="collegeCertificationRecord.collegeType">
            <option value="pleaseSelect" disabled selected>Select</option>
            <option *ngFor="let type of CollegeTypes" value="{{type}}">
              {{type ===  'CPBC' ? 'Pharmacists of BC' : type}}
            </option>
          </select>
        </div>
        <ng-container *ngIf="collegeCertificationList[i].collegeType !== 'pleaseSelect'">
          <div class="col d-inline-flex flex-column">
            <label for="collegeNumber">College Number</label>
            <input type="text" name="collegeNumber" id="collegeNumber"
                   [value]="collegeCurrValue(collegeCertificationList[i].collegeType)"
                   class="form-control" disabled>
          </div>
          <div class="col d-inline-flex flex-column">
            <label for="licenceNumber">Licence Number</label>
            <input type="text" name="licenceNumber" id="licenceNumber"
                   [(ngModel)]="collegeCertificationRecord.licenceNumber"
                   maxlength="12" class="form-control">
          </div>
          <div *ngIf="collegeCertificationList[i].collegeType === 'CPBC'"
               class="col d-inline-flex flex-column">
            <label for="licenceClassCP">Licence Class</label>
            <select id="licenceClassCP" class="form-control drop-dl-box-17"
                    [(ngModel)]="collegeCertificationRecord.licenceClassCPType">
              <option value="pleaseSelect" disabled selected>Select</option>
              <option *ngFor="let type of LicenceClassCPTypes" value="{{type}}">
                {{licenceClassCPValue(type)}}
              </option>
            </select>
          </div>
          <div *ngIf="collegeCertificationList[i].collegeType === 'CRNBC'"
               class="col d-inline-flex flex-column">
            <label for="licenceClassCRN">Licence Class</label>
            <select id="licenceClassCRN" class="form-control drop-dl-box-20"
                    [(ngModel)]="collegeCertificationRecord.licenceClassCRNType">
              <option value="pleaseSelect" disabled selected>Select</option>
              <option *ngFor="let type of LicenceClassCRNTypes" value="{{type}}">
                {{licenceClassCRNValue(type)}}
              </option>
            </select>
          </div>
          <div *ngIf="collegeCertificationList[i].collegeType === 'CPSBC'"
               class="col d-inline-flex flex-column">
            <label for="licenceClassCPS">Licence Class</label>
            <select id="licenceClassCPS" class="form-control drop-dl-box-15"
                    [(ngModel)]="collegeCertificationRecord.licenceClassCPSType">
              <option value="pleaseSelect" disabled selected>Select</option>
              <option *ngFor="let type of LicenceClassCPSTypes" value="{{type}}">
                {{licenceClassCPSValue(type)}}
              </option>
            </select>
          </div>
          <div class="col d-inline-flex flex-column">
            <label for="">Licence Expiry</label>
            <!--TODO: wrong reference-->
            <!--<prime-datepicker size='mini' dateFormat="yyyy/mm/dd" [disabled]="!editable" [(date)]="siteAccess.startDate" class='ml-1'></prime-datepicker>-->
            <!--<prime-datepicker dateFormat="yyyy/mm/dd" [(ngModel)]="collegeCertificationRecord.licenceExpiryDate"></prime-datepicker>-->
            <prime-datepicker dateFormat="yyyy/mm/dd" [(date)]="collegeCertificationRecord.licenceExpiryDate"></prime-datepicker>
          </div>
          <div *ngIf="collegeCertificationList[i].collegeType === 'CRNBC'"
               class="col d-inline-flex flex-column">
            <label for="advancedPracticeCertification">Advanced Practice Certification</label>
            <select id="advancedPracticeCertification" class="form-control drop-dl-box-26"
                    [(ngModel)]="collegeCertificationRecord.advancedPracticeCertificationType">
              <option value="pleaseSelect" disabled selected>Select</option>
              <option *ngFor="let type of AdvancedPracticeCertificationTypes" value="{{type}}">
                {{advancedPracticeCertificationValue(type)}}
              </option>
            </select>
          </div>
        </ng-container>
      </div>

      <!-- Buttons -->
      <ng-container *ngIf="collegeCertificationValid(i)">
        <span class='d-flex align-items-center'>
          <ng-container *ngIf="i > 0">
            <a class='mx-1' (click)="deleteCollegeCertification(i)">
              <i class="fa fa-times fa-2x" aria-label="Delete"></i>
            </a>
          </ng-container>
          <a class='mx-1' (click)="addCollegeCertification()">
            <i class="fa fa-plus-circle fa-2x" aria-label="Add"></i>
          </a>
        </span>
      </ng-container>
    </div>
  </ng-container>
</section>


<section *ngIf="displayDeviceProviderSection()" class="with-top-margin">
  <div class="row">
    <div class="d-flex justify-content-start align-items-center col-sm-4">
      Do you have a Device Provider?
    </div>
    <div class="d-flex justify-content-end">
      <prime-toggle [(data)]="applicant.isDeviceProvider"></prime-toggle>
    </div>
  </div>

  <ng-container *ngIf="applicant.isDeviceProvider === true">
    <div class='d-flex justify-content-between border p-3'
         *ngFor="let deviceProviderRecord of deviceProviderList; let i = index">
      <div class="row">
        <div class="col d-inline-flex flex-column">
          <label for="deviceProviderNumber">Device Provider Number</label>
          <input type="text" name="deviceProviderNumber" id="deviceProviderNumber"
                 [(ngModel)]="deviceProviderRecord.dpNumber"
                 maxlength="12" class="form-control" (input)="onChange()">
        </div>
      </div>

      <!-- Buttons -->
      <ng-container *ngIf="deviceProviderList[i].dpNumber.length">
        <span class='d-flex align-items-center'>
          <ng-container *ngIf="i > 0">
            <a class='mx-1' (click)="deleteDeviceProvider(i)">
              <i class="fa fa-times fa-2x" aria-label="Delete"></i>
            </a>
          </ng-container>
          <a class='mx-1' (click)="addDeviceProvider()">
            <i class="fa fa-plus-circle fa-2x" aria-label="Add"></i>
          </a>
        </span>
      </ng-container>
    </div>
  </ng-container>
</section>


<div *ngIf="displayWorkingOnBehalfSection()" class="with-top-margin">
  <div class="row">
    <div class="d-flex justify-content-start align-items-center col-sm-4">
      Are you working on-behalf?
    </div>
    <div class="d-flex justify-content-end">
      <prime-toggle [(data)]="applicant.isWorkingOnBehalf"></prime-toggle>
    </div>
  </div>

  <ng-container *ngIf="applicant.isWorkingOnBehalf === true">
    <div class='d-flex justify-content-between border p-3'
         *ngFor="let workingOnBehalfRecord of workingOnBehalfList; let i = index">
      <div class="row">
        <div class="col d-inline-flex flex-column">
          <label for="jobTitle">Job Title</label>
          <select id="jobTitle" class="form-control row-dropbox-20"
                  [(ngModel)]="workingOnBehalfRecord.jobTitle">
            <option value="pleaseSelect" disabled selected>Select</option>
            <option *ngFor="let type of JobTitleTypes" value="{{type}}">
              {{jobTitleValue(type)}}
            </option>
          </select>
        </div>
      </div>

      <!-- Buttons -->
      <ng-container *ngIf="workingOnBehalfList[i].jobTitle !== 'pleaseSelect' && i < JobTitleTypesCount()">
        <span class='d-flex align-items-center'>
          <ng-container *ngIf="i > 0">
            <a class='mx-1' (click)="deleteWorkingOnBehalf(i)">
              <i class="fa fa-times fa-2x" aria-label="Delete"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="i < JobTitleTypesCount() - 1">
            <a class='mx-1' (click)="addWorkingOnBehalf()">
              <i class="fa fa-plus-circle fa-2x" aria-label="Add"></i>
            </a>
          </ng-container>
        </span>
      </ng-container>
    </div>
  </ng-container>
</div>


<section *ngIf="displaySelfDeclarationSection()" class="row with-top-margin">
  <div class="col-sm-8">
    <div class="row">
      <div class="d-flex justify-content-start align-items-center col-sm-10">
        Have you ever been the subject of an order or a conviction for an information contravention?
      </div>
      <div class="col-sm-2">
        <prime-toggle [(data)]="applicant.informationContravention"></prime-toggle>
      </div>
    </div>
    <div *ngIf="applicant.informationContravention === true">
      <textarea class="selfDeclarationTextArea" placeholder="Please provide detail..."
                name="informationContraventionDetail" id="informationContraventionDetail"></textarea>
    </div>

    <div class="row with-top-margin">
      <div class="d-flex justify-content-start align-items-center col-sm-10">
        Have you ever had your registration with a governing body of a health profession suspended or cancelled?
      </div>
      <div class="col-sm-2">
        <prime-toggle [(data)]="applicant.cancelledRegistration"></prime-toggle>
      </div>
    </div>
    <div *ngIf="applicant.cancelledRegistration === true">
      <textarea class="selfDeclarationTextArea" placeholder="Please provide detail..."
                name="cancelledRegistrationDetail" id="cancelledRegistrationDetail"></textarea>
    </div>

    <div class="row with-top-margin">
      <div class="d-flex justify-content-start align-items-center col-sm-10">
        Have you ever had Terms and Conditions imposed on your licence as a result of disciplinary actions taken by a governing body?
      </div>
      <div class="col-sm-2">
        <prime-toggle [(data)]="applicant.licenceCondition"></prime-toggle>
      </div>
    </div>
    <div *ngIf="applicant.licenceCondition === true">
      <textarea class="selfDeclarationTextArea" placeholder="Please provide detail..."
                name="licenceConditionDetail" id="licenceConditionDetail"></textarea>
    </div>

    <div class="row with-top-margin">
      <div class="d-flex justify-content-start align-items-center col-sm-10">
        Have you ever had your access to PharmaNet suspended or revoked?
      </div>
      <div class="col-sm-2">
        <prime-toggle [(data)]="applicant.revokedAccess"></prime-toggle>
      </div>
    </div>
    <div *ngIf="applicant.revokedAccess === true">
      <textarea class="selfDeclarationTextArea" placeholder="Please provide detail..."
                name="revokedAccessDetail" id="revokedAccessDetail"></textarea>
    </div>
  </div>
  <div class="col-sm-4">
    <div *ngIf="applicant.informationContravention === true
             || applicant.cancelledRegistration    === true
             || applicant.licenceCondition         === true
             || applicant.revokedAccess            === true">
      <!-- <prime-file-uploader></prime-file-uploader>-->
      <span class="note">Scan the document, or take a photo of it. Make sure that it's:</span>
      <ul class="note">
        <li>The entire document, from corner to corner</li>
        <li>At least 1000 pixels wide x 1500 pixels tall</li>
        <li>Rotated correctly (not upside down or sideways)</li>
        <li>In focus and easy to read</li>
        <li>A JPG, PNG, GIF or BMP file (<b>not a PDF</b>)</li>
      </ul>
    </div>
  </div>
</section>
