<prime-applicant-breadcrumbs
  pageName="Professional"
  nextPageLink="/applicant/access-acceptance"
  previousPageLink="/applicant/contact"
  (onSave)="onSave($event)">
</prime-applicant-breadcrumbs>

<prime-page-framework>

  <h2 class='prime-title' id="profInfo">Professional Information</h2>

  <section class='my-3'>
    <label>
      <div>Do you have a college registration?</div>
      <prime-toggle [(data)]="applicant.hasCollege" (click)="onChange()"></prime-toggle>
    </label>

    <ng-container *ngIf="applicant.hasCollege === true">
      <div class='applicant-row border p-3' *ngFor="let collegeCertificationRecord of applicant.collegeCertificationList; let i = index">

          <div class="applicant-row--item prime-input-large">
            <label class="has-float-label">
              <select id="collegeTypesType" class="form-control" [(ngModel)]="collegeCertificationRecord.collegeType" (input)="onChange()">
                <option value="pleaseSelect" disabled selected>Select</option>
                <option *ngFor="let type of CollegeTypes" value="{{type}}">
                    {{ getFullCollegeName(type) }}
                </option>
              </select>
              <span>College Registration</span>
            </label>

          </div>
          <ng-container *ngIf="applicant.collegeCertificationList[i].collegeType !== 'pleaseSelect'">
            <div class="applicant-row--item prime-input-medium">
              <label class="has-float-label">
                <input type="text" name="collegeNumber" id="collegeNumber" [value]="collegeCurrValue(applicant.collegeCertificationList[i].collegeType)"
                  class="form-control" disabled>
                <span>College number</span>
              </label>
            </div>
            <div class="applicant-row--item prime-input-medium">
              <label class="has-float-label">
                <input type="text" name="licenceNumber" id="licenceNumber" [(ngModel)]="collegeCertificationRecord.licenceNumber" maxlength="{{maxLengthValue('LICENCE_NUMBER')}}"
                  class="form-control" (input)="onChange()" placeholder=" ">
                <span>License Number</span>
              </label>
            </div>
            <div *ngIf="applicant.collegeCertificationList[i].collegeType === 'CPBC'" class="applicant-row--item prime-input-large">
              <label class="has-float-label">
                <select id="licenceClassCP" class="form-control" [(ngModel)]="collegeCertificationRecord.licenceClassCPType"
                  (input)="onChange()">
                  <option value="pleaseSelect" disabled selected>Select</option>
                  <option *ngFor="let type of LicenceClassCPTypes" value="{{type}}">
                    {{licenceClassCPValue(type)}}
                  </option>
                </select>
                <span>License Class</span>
              </label>
            </div>
            <div *ngIf="applicant.collegeCertificationList[i].collegeType === 'CRNBC'" class="applicant-row--item prime-input-large">
              <label class="has-float-label">
                <select id="licenceClassCRN" class="form-control" [(ngModel)]="collegeCertificationRecord.licenceClassCRNType"
                  (input)="onChange()">
                  <option value="pleaseSelect" disabled selected>Select</option>
                  <option *ngFor="let type of LicenceClassCRNTypes" value="{{type}}">
                    {{licenceClassCRNValue(type)}}
                  </option>
                </select>
                <span>License Class</span>
              </label>
            </div>
            <div *ngIf="applicant.collegeCertificationList[i].collegeType === 'CPSBC'" class="applicant-row--item prime-input-large">
              <label class="has-float-label">
                <select id="licenceClassCPS" class="form-control" [(ngModel)]="collegeCertificationRecord.licenceClassCPSType" (input)="onChange()">
                  <option value="pleaseSelect" disabled selected>Select</option>
                  <option *ngFor="let type of LicenceClassCPSTypes" value="{{type}}">
                    {{licenceClassCPSValue(type)}}
                  </option>
                </select>
                <span>License Class</span>
              </label>
            </div>
            <div class="applicant-row--item prime-input-large">
              <!-- <label for="">Licence Expiry</label> -->
              <prime-datepicker dateFormat="yyyy/mm/dd" [(date)]="collegeCertificationRecord.licenceExpiryDate" labelText="Registration Renewal"></prime-datepicker>
            </div>
            <div *ngIf="applicant.collegeCertificationList[i].collegeType === 'CRNBC'" class="applicant-row--item prime-input-large">
              <label class="has-float-label">
                <select id="advancedPracticeCertification" class="form-control" [(ngModel)]="collegeCertificationRecord.advancedPracticeCertificationType"
                  (input)="onChange()">
                  <option value="pleaseSelect" disabled selected>Select</option>
                  <option *ngFor="let type of AdvancedPracticeCertificationTypes" value="{{type}}">
                    {{advancedPracticeCertificationValue(type)}}
                  </option>
                </select>
                <span>Advanced Practice Certification</span>
              </label>
            </div>
          </ng-container>


        <!-- Buttons -->
        <span class='d-flex align-items-center ml-auto'>
          <ng-container *ngIf="i > 0">
            <a class='mx-1' (click)="deleteCollegeCertification(i)">
              <i class="fa fa-times-circle fa-2x" aria-label="Delete"></i>
            </a>
          </ng-container>
          <ng-container *ngIf="collegeCertificationValid(i)
          && i === applicant.collegeCertificationList.length - 1">
            <a class='mx-1' (click)="addCollegeCertification()">
              <i class="fa fa-plus-circle fa-2x" aria-label="Add"></i>
            </a>
          </ng-container>
        </span>
      </div>
    </ng-container>
  </section>


  <section *ngIf="displayDeviceProviderSection()" class='my-3'>

    <label>
      <div>Are you a Device Provider?</div>
      <prime-toggle [(data)]="applicant.isDeviceProvider" (click)="onChange()"></prime-toggle>
    </label>

    <ng-container *ngIf="applicant.isDeviceProvider === true">
      <div class='d-flex justify-content-between border p-3'>
          <label class="has-float-label prime-input-large">
            <input type="text" name="deviceProviderNumber" id="deviceProviderNumber" placeholder=" "
                   [(ngModel)]=" applicant.deviceProviderNumber" maxlength="{{maxLengthValue('DEVICE_PROVIDER_NUMBER')}}"
              class="form-control" (input)="onChange()">
            <span>Device Provider Number</span>
          </label>
      </div>
    </ng-container>
  </section>


  <div *ngIf="displayWorkingOnBehalfSection()" class='my-3'>

    <label>
      <div>Are you working on-behalf?</div>
      <prime-toggle [(data)]="applicant.isWorkingOnBehalf" (click)="onChange()"></prime-toggle>
    </label>

    <ng-container *ngIf="applicant.isWorkingOnBehalf === true">
      <div class='applicant-row border p-3' *ngFor="let workingOnBehalfRecord of applicant.workingOnBehalfList; let i = index">
        <div class="applicant-row--item prime-input-large">
          <label class="has-float-label">
            <select id="workingOnBehalfTitle" class="form-control row-dropbox-20" [(ngModel)]="workingOnBehalfRecord.jobTitle" (input)="onChange()">
              <option value="pleaseSelect" disabled selected>Select</option>
              <option *ngFor="let type of WorkingOnBehalfTitleTypes" value="{{type}}">
                {{workingOnBehalfTitleValue(type)}}
              </option>
            </select>
            <span>Job Title</span>
          </label>
        </div>

        <div class="applicant-row--item" *ngIf="applicant.workingOnBehalfList[0].jobTitle === 'OTHER'">
            <label class="has-float-label">
              <input type="text" class='prime-input-large' placeholder=" " [(ngModel)]="applicant.workingOnBehalfOtherReason"/>
              <span>Working on-behalf title</span>
            </label>
        </div>

      </div>
    </ng-container>
  </div>


  <section *ngIf="displaySelfDeclarationSection()">

    <h2 class='prime-title' id="selfDeclaration">Self Declaration</h2>
    <hr>

    <div class='my-3'>
      <div>Have you ever been the subject of an order or a conviction for an information contravention?</div>
      <prime-toggle [(data)]="applicant.informationContravention.flag" (click)="onChange()"></prime-toggle>
    </div>
    <div *ngIf="applicant.informationContravention.flag">
      <label class="has-float-label">
        <span>Please provide detail</span>
        <textarea class="selfDeclarationTextArea" name="informationContraventionDetail" id="informationContraventionDetail" [(ngModel)]="applicant.informationContravention.detail"
          (input)="onChange()"></textarea>
      </label>
    </div>

    <div class='my-3'>
      <div>
        Have you ever had your registration with a governing body of a health profession suspended or cancelled?
      </div>
      <prime-toggle [(data)]="applicant.cancelledRegistration.flag" (click)="onChange()"></prime-toggle>
    </div>
    <div *ngIf="applicant.cancelledRegistration.flag">
      <label class="has-float-label">
        <span>Please provide detail</span>
        <textarea class="selfDeclarationTextArea" name="cancelledRegistrationDetail" id="cancelledRegistrationDetail" [(ngModel)]="applicant.cancelledRegistration.detail"
          (input)="onChange()"></textarea>
      </label>
    </div>

    <div class='my-3'>
      <div>
        Have you ever had Terms and Conditions imposed on your licence as a result of disciplinary actions taken by a governing body?
      </div>
      <prime-toggle [(data)]="applicant.licenceCondition.flag" (click)="onChange()"></prime-toggle>

    </div>
    <div *ngIf="applicant.licenceCondition.flag">

      <label class="has-float-label">
        <span>Please provide detail</span>
        <textarea class="selfDeclarationTextArea" name="licenceConditionDetail" id="licenceConditionDetail"
          [(ngModel)]="applicant.licenceCondition.detail" (input)="onChange()"></textarea>
      </label>


    </div>

    <div class='my-3'>
      <div>
        Have you ever had your access to PharmaNet suspended or revoked?
      </div>
      <prime-toggle [(data)]="applicant.revokedAccess.flag" (click)="onChange()"></prime-toggle>
    </div>
    <div *ngIf="applicant.revokedAccess.flag">

      <label class="has-float-label">
        <span>Please provide detail</span>
        <textarea class="selfDeclarationTextArea" name="revokedAccessDetail" id="revokedAccessDetail"
          [(ngModel)]="applicant.revokedAccess.detail" (input)="onChange()"></textarea>
      </label>


    </div>

  </section>


  <div right>
    <div *ngIf="displayUploadSection()">
      <div class="d-flex justify-content-start align-items-center">
        <i class="fa fa-upload fa-2x mx-2" aria-label="Delete"></i>
        <h2>Upload your documents</h2>
      </div>
      <span class="note">Scan the document, or take a photo of it. Make sure that it's:</span>
      <ul class="note">
        <li>The entire document, from corner to corner</li>
        <li>At least 1000 pixels wide x 1500 pixels tall</li>
        <li>Rotated correctly (not upside down or sideways)</li>
        <li>In focus and easy to read</li>
        <li>A JPG, PNG, GIF or BMP file (
          <b>not a PDF</b>)</li>
      </ul>
      <prime-file-uploader>
        <span class="note">Please upload required supporting  documents</span>
      </prime-file-uploader>
    </div>
  </div>


</prime-page-framework>
