<h1>Account</h1>

<ng-content select="[AccountInstruct]"></ng-content>

<div *ngIf="mohCredientials">

  <h2 class="border-bottom">Prime Account</h2>

  <prime-page-sections layout='tips'>

    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label" for="user_id">User ID</label>
      <input #userIdRef="ngModel"
             class="form-control"
             name="user_id"
             id="user_id"
             [minlength]="userIdMinLen"
             [maxlength]="userIdMaxLen"
             [ngModel]="data?.userAccountName"
             (ngModelChange)="data.userID = $event"
             required />

      <!-- Error messages for component -->
      <div *ngIf="userIdRef.touched"
           role="alert"
           class='error-container'
           aria-live="assertive">
        <div class="text-danger" *ngIf="userIdRef?.errors?.required">
          User ID is required.
        </div>
        <div class="text-danger" *ngIf="userIdRef?.errors?.minlength">
          User ID must be a minimum of {{userIdMinLen}} in length.
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <common-password componentLabel="{{newPwdLabel}}"
                       [showPasswordStrength]="true"
                       [minLen]="pwdMinLen"
                       [pwdCriteria]="pwdValidChars"
                       [password]="data.password"
                       (passwordChange)="setNewPassword($event)"></common-password>
      <div *ngIf="formErrors"
            role="alert"
            class='error-container'
            aria-live="assertive">
        <div class="text-danger" *ngIf="formErrors?.failCriteria">
            {{newPwdLabel}} must contain characters from 3 of the 4 following categories:
            <ul>
              <li>a) Upper characters</li>
              <li>b) Lower characters</li>
              <li>c) Numerals</li>
              <li>d) Non-alphanumeric characters</li>
            </ul>
        </div>
        <div class="text-danger" *ngIf="formErrors?.containsUserNames">
            {{newPwdLabel}} cannot contain user names or user ID.
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <common-password componentLabel="{{confirmPwdLabel}}"
                       [minLen]="pwdMinLen"
                       [password]="confirmPassword"
                       (passwordChange)="setConfirmPassword($event)"
                       [errorMessages]="confirmPwdMsg"></common-password>
      <!-- Error messages for component -->
      <div *ngIf="formErrors"
            role="alert"
            class='error-container'
            aria-live="assertive">
        <div class="text-danger" *ngIf="formErrors?.noPasswordMatch">
            {{confirmPwdLabel}} does not match.
        </div>
      </div>
    </div>

    <aside>TIPS</aside>

  </prime-page-sections>

</div>

<div>
  <h2 class="border-bottom">Security Questions</h2>

  <prime-page-sections layout='tips'>

    <div class="form-group"
         *ngFor="let item of data.secQuestionsAnswer; let i = index;">
      <div class="p-2">
        <label class="control-label" for="sec_question_{{i}}">Question #{{i+1}}</label>
        <ng-select #questionRef='ngModel'
                   name='sec_question_{{i}}'
                   labelForId='sec_question_{{i}}'
                   [ngModel]='item?.name'
                   (ngModelChange)='item.name=$event;'
                   (ngModelBlur)="update()"
                   [items]='secQuestionList'
                   placeholder=' -- Select Question --'
                   autocorrect='on'
                   addTag=true
                   addTagText='Add question'
                   required
                   uniqueQuestion></ng-select>

          <!-- Error messages for component -->
          <div *ngIf="questionRef.touched"
                role="alert"
                class='error-container'
                aria-live="assertive">
          <div class="text-danger" *ngIf="questionRef?.errors?.required">
            Question #{{i + 1}} is required.
          </div>
          <div class="text-danger" *ngIf="questionRef?.errors?.duplicateQuestion">
            Question #{{i + 1}} must be unique.
          </div>
        </div>
      </div>
      <div class="p-2">
        <label class="control-label" for="sec_answer_{{i}}">Answer</label>
        <input #answerRef="ngModel"
                type="text"
                class="form-control"
                id="sec_answer_{{i}}"
                name="sec_answer_{{i}}"
                [ngModel]="item?.value"
                (ngModelChange)="item.value=$event"
                (ngModelBlur)="update()"
                placeholder="Enter answer"
                required />

        <!-- Error messages for component -->
        <div *ngIf="answerRef.touched"
            role="alert"
            class='error-container'
            aria-live="assertive">
          <div class="text-danger" *ngIf="answerRef?.errors?.required">
            Answer for Question #{{i + 1}} is required.
          </div>
        </div>
      </div>
    </div>

    <aside>TIPS</aside>

  </prime-page-sections>

</div>

<div>
  <h2 class="border-bottom">Contact</h2>

  <prime-page-sections layout='tips'>

    <div class="form-group col-sm-6 p-sm-0">
      <prime-phone-number [displayMask]="isCanada"
                          [value]="data.smsPhone"
                          (valueChange)="data.smsPhone=$event"></prime-phone-number>
    </div>

    <div class="form-group col-sm-6 p-sm-0">
      <label class="control-label">Email</label>
      <input #emailRef="ngModel"
             class="form-control"
             type="email"
             name="user_email"
             id="user_email"
             placeholder="username@example.com"
             [pattern]="emailCriteria"
             required
             [maxlength]="emailMaxLen"
             [ngModel]="data?.emailAddress"
             (ngModelChange)="data.emailAddress=$event"/>

        <!-- Error messages for component -->
        <div *ngIf="emailRef.touched"
            role="alert"
            class='error-container'
            aria-live="assertive">
          <div class="text-danger" *ngIf="emailRef?.errors?.required">
            Email is required.
          </div>
          <div class="text-danger" *ngIf="emailRef?.errors?.pattern">
              Invalid email.
          </div>
        </div>
    </div>

    <aside>TIPS</aside>

  </prime-page-sections>

</div>

