:host {
  display: inline-flex;
  font-size: 1.5rem;
}

.card-body {
  max-height: 20rem;
  overflow: scroll;
}

prime-pill-badge {
  width: 80px; // Hackfix for prototype only. Should change entire row layout to use bootstrap columns, but this is quicker.

}
